@charset "utf-8";

/*** 빨간색 ***/

/*** HEADER ***/
.head_top{background:#f24443}
.gradient_img{background:#f24443 url('../images/top_bar.png') repeat-x}
.search_bar{background:#f24443}

/*** MAIN ***/
/* images/title_icon01.png */
section{border-top:2px solid #f24443;}

/* 박스 - 공통 */
.cont_box .tit_ico{background:#f24443}
.paging a:hover{background:#f24443;border:1px solid #f24443}
.paging a.active{background:#f24443;border:1px solid #f24443}

/*검색버튼*/
.schbtn_con .sch_bt2 button{background:#f24443;}
.schbtn_con .sch_button{border:1px solid #f24443;color:#f24443}

/* 하단버튼 */
.bottom_btn01{background:#f24443;border:1px solid #f24443;}
.bottom_btn07{background:#f24443;border:1px solid #f24443;}

/*** 상세페이지 ***/
/* 공통 */
.detail_con .tab1-con{border-bottom:1px solid #f24443}
.detail_con .tab1-con ul .active{background:#f24443;}
.detail_con .tab2-con{border-bottom:1px solid #f24443}
.detail_con .tab2-con ul .active{background:#f24443;}

/*** 마이페이지 ***/
header .right_nav .nav_wrap{background:#f24443}
header .left_nav .nav_wrap{background:#f24443}

/* 개인 */
.mypage_btn ul .active a{background:#f24443;}

/* 메뉴상단 */
.nav_wrap .close_btn{background:#f24443;}
.nav_wrap .title_area{background:#f24443;}
.nav_wrap .id_area{background:#f24443;}

/* 서비스 신청 */
.item_con h2 span{border-left:7px solid #f24443;}

/* 서비스 결제 */
.pay_con{border-top: 2px solid #f24443 !important;}

/*** 광고안내 ***/
.guide_tab ul li a.active{background:#f24443}
.guide_tab ul li{border:1px solid #f24443}

/*** 실시간 검색어 ***/
.realtime_con{border:1px solid #f24443 !important;}

/*** 로그인 ***/
.login_con .login_bt{background:#f24443}

/* 이력서 정보 */
.tab-box h3{border-left:3px solid #f24443}

/* 검색결과 더보기 버튼 */
.cont_box .text_box2 #sch_result_more{background:#f24443}

/* 페이징 */
.paging a:hover, .paging a.cycle-pager-active, .paging a.active{background:#f24443;border:1px solid #f24443}