@charset "utf-8";

/*** 노란색 ***/

/*** HEADER ***/
.head_top{background:#ffcb01}
.gradient_img{background:#ffcb01 url('../images/top_bar.png') repeat-x}
.search_bar{background:#ffcb01}

/*** MAIN ***/
/* images/title_icon01.png */
section{border-top:2px solid #ffcb01;}

/* 박스 - 공통 */
.cont_box .tit_ico{background:#ffcb01}
.paging a:hover{background:#ffcb01;border:1px solid #ffcb01}
.paging a.active{background:#ffcb01;border:1px solid #ffcb01}

/*검색버튼*/
.schbtn_con .sch_bt2 button{background:#ffcb01;}
.schbtn_con .sch_button{border:1px solid #ffcb01 !important;color:#ffcb01}

/*검색버튼*/
.schbtn_con .sch_bt2 button{background:#ffcb01;}
.schbtn_con .sch_button{border:1px solid #4572a5;}

/* 하단버튼 */
.bottom_btn01{background:#ffcb01;border:1px solid #ffcb01;}
.bottom_btn07{background:#ffcb01;border:1px solid #ffcb01;}

/*** 상세페이지 ***/
/* 공통 */
.detail_con .tab1-con{border-bottom:1px solid #ffcb01}
.detail_con .tab1-con ul .active{background:#ffcb01;}
.detail_con .tab2-con{border-bottom:1px solid #ffcb01}
.detail_con .tab2-con ul .active{background:#ffcb01;}

/*** 마이페이지 ***/
header .right_nav .nav_wrap{background:#ffcb01}
header .left_nav .nav_wrap{background:#ffcb01}

/* 개인 */
.mypage_btn ul .active a{background:#ffcb01;}

/* 메뉴상단 */
.nav_wrap .close_btn{background:#ffcb01;}
.nav_wrap .title_area{background:#ffcb01;}
.nav_wrap .id_area{background:#ffcb01;}

/* 서비스 신청 */
.item_con h2 span{border-left:7px solid #ffcb01;}

/* 서비스 결제 */
.pay_con{border-top: 2px solid #ffcb01 !important;}

/*** 광고안내 ***/
.guide_tab ul li a.active{background:#ffcb01}
.guide_tab ul li{border:1px solid #ffcb01}

/*** 실시간 검색어 ***/
.realtime_con{border:1px solid #ffcb01 !important;}

/*** 로그인 ***/
.login_con .login_bt{background:#ffcb01}

/* 이력서 정보 */
.tab-box h3{border-left:3px solid #ffcb01}

/* 검색결과 더보기 버튼 */
.cont_box .text_box2 #sch_result_more{background:#3498db;}

/* 페이징 */
.paging a:hover, .paging a.cycle-pager-active, .paging a.active{background:#3498db;border:1px solid #3498db}

