<?php if (!defined("_ALICE_")) exit; // 개별 페이지 접근 불가 ?>
<script>
var sel_view = function(no){	// 보기 (카운팅)
	var wr_hit = Number($('#wr_hit'+no).html());

	if($('#wr_content'+no).css('display')=='none'){
		$.post('./process/cs.php', { mode:'hit_up', no:no }, function(){
			$('#wr_content'+no).show();
			wr_hit = wr_hit+1;
			wr_hits = new String(wr_hit).number_format();
			$('#wr_hit'+no).html(wr_hits.number_format());
		});
	} else {
		$('#wr_content'+no).hide();
	}
}
var update_cs = function(mode, no){	 // 답변
	var wr_type = "<?php echo $wr_type?>";
	var wr_cate = "<?php echo $wr_cate?>";
	$('#concert_info').load('./views/_load/cs.php', { mode:mode, wr_type:wr_type, wr_cate:wr_cate, no:no }, function(result){
		$('#add_form').show();
		$('#add_form').draggable({ handle: "#csFrmHandle" });
		$('#add_form').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동

		var form_options = { beforeSubmit: showRequest, success : showResponse };

		$('#csFrm').submit(function(){

			<?php echo $utility->input_cheditor('wr_acontent');?>	// 에디터 내용 전달

			$(this).ajaxSubmit(form_options);

			return false;

		});

	});
}
var delete_cs = function(no){	// 삭제 (단일)

	$('#quest_info').show();
	$('#confirm_msg').html("한번 삭제된 제휴문의는 복구가 불가능 합니다.<br/><br/>제휴문의를 삭제하시겠습니까?");

	$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'delete\',\''+no+'\');" value="예" />');

	// 질의(Confirm) 창 띄우기
	$.blockUI({ 
		theme: true,
		title: '제휴문의 삭제',
		showOverlay: false,
		message: $('#question')
	});

}
var sel_delete = function(){		// 선택삭제
	var chk_length = $("input[name='no[]']:checked").length;

	if(chk_length==0){

		alert('삭제 할 제휴문의 선택해 주세요.');
		return false;

	} else {

		$('#quest_info').hide();
		$('#confirm_msg').html("한번 삭제된 제휴문의는 복구가 불가능 합니다.<br/><br/>선택하신 제휴문의 "+chk_length+"건을 삭제 하시겠습니까?");

		var del_no = new Array();
		var i = 0;
		$("input[name='no[]']:checked").each(function(){
			del_no[i] = $(this).val();
		i++;
		});

		$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'sel_delete\',\''+del_no+'\');" value="예" />');

		// 질의(Confirm) 창 띄우기
		$.blockUI({ 
			theme: true,
			title: '제휴문의 선택삭제',
			showOverlay: false,
			message: $('#question')
		});


	}

}
var pop_email = function(no){	// 이메일
	$('#concert_info').load('./views/_load/layer.php', { mode:'email', no:no, wr_type: '1' }, function(result){

		$('#pop_mail').show();
		$('#pop_mail').draggable({ handle: "#emailFrmHandle" });
		$('#pop_mail').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동

		$('#mailSendBtn').click(function(){	// 메일보내기
			
			var emailFrm = document.getElementById('emailFrm');

			// form validate
			if(validate(emailFrm)==false){
				return false;
			} else {

				// 내용이 없는 경우
				if(!ed_content.outputBodyText()){
					alert("<?php echo $config->_errors('0080');?>");
					ed_content.returnFalse();
					$.unblockUI();
					return false;
				}

				$('#quest_info').show();
				$('#confirm_msg').html("메일을 전송하시겠습니까?<br/><br/>메일 수신거부와 상관없이 무조건 메일이 전송 되오니<br/> 유념하시기 바랍니다.");	

				$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'email\',\''+no+'\');" value="예" />');

				// 질의(Confirm) 창 띄우기
				$.blockUI({ 
					theme: true,
					title: '메일 전송 확인',
					showOverlay: false,
					message: $('#question')
				});

			}

		});

	});
}
var page_rows = function(sels){	// 출력 갯수
	var sel = sels.value, send_url = "<?php echo $cs_list['send_url'];?>";

	location.href = "./concert.php?"+send_url+"&page_rows=" + sel;
}
var questionAnswer = function(answer, mode, no, sels){	 // 질의 응답에 따른 처리

	if(answer=='yes'){
		
		switch(mode){
			// 이메일 전송
			case 'email':
				<?php echo $utility->input_cheditor('content');?>	// 에디터 내용 전달
				var mail_options = { beforeSubmit: showRequest, success: showResponse };	// email ajax options
				$('#emailFrm').ajaxSubmit(mail_options);	// email ajax form submit
			break;
			// 제휴문의 삭제 (단수)
			case 'delete':
				$.post('./process/cs.php', { mode:mode, no:no, mb_id:sels } , function(result){
					var results = result.split('/');
					var result = results[1];
					if(result!='1'){
						alert("<?php echo $config->_errors('0014');?>");
						$.unblockUI(); 
						return false;
					}
					location.reload();
				});
			break;
			// 제휴문의 선택 삭제 (복수)
			case 'sel_delete':
				nos = no.split(',');
				nos_cnt = nos.length;
				$.post('./process/cs.php', { mode:mode, no:no }, function(result){
					var results = result.split('/');
					var result = results[1];
					if(result!='1'){
						alert("<?php echo $config->_errors('0014');?>");
						$.unblockUI(); 
						return false;
					}
					location.reload();
				});
			break;
		}

	} else {
		$.unblockUI();
	}
}
</script>

<div id="question" style="display:none; cursor: default">
	<div id='quest_info'></div>
	<p align='center' id='confirm_msg'></p><br/>
	<p align='center'>
		<span id='questionAnswerYes'><input type="button" onClick="questionAnswer('yes');" value="예" /> </span>
		<input type="button" onClick="questionAnswer('no');" value="아니오" />
	</p>
</div> 

<div id="email_status" style="display:none; cursor: default">
	<div id='status_info'></div>	
</div> 

<table class="layout">
<tr valign="top">
<td id="lmn"><?php include_once "../include/left_menu.php"; ?></td>
<td width="1">
<td id="left" class="<?php echo $top_menu_code;?>"><?php include_once "../include/left.php"; ?></td>
<td id="lopen"  class="<?php echo $top_menu_code;?>" onClick="left_menu_open('<?php echo $top_menu_code;?>');" onMouseOver="this.className='on'" onMouseOut="this.className=''"><img src="../../images/comn/b.gif"></td>
<td class="h pr5">
<table class="ltbl">
<!--<tr><td class=nb_01></td><td class=nb_02></td><td class=nb_03></td></tr><tr>-->
<td width="1"></td><td class="nb">
<dl class="loc"><?php echo $sub_menu_name; include_once "../include/navi.php"; ?></dl>

<dl class="notbox"><dl>
문의글에 답변을 하면 자동으로 메일발송되며 '답변여부'가 <b>'X'</b>에서 <b class="col">'O'</b>로 바뀝니다.<br>
문의글의 제목을 클릭하시면 문의내용과 답변글을 확인할 수 있습니다.<br>
[제휴문의] 작성시 분류 변경하는 방법 좌측메뉴의 분류관리에서 하실수 있습니다.
</dl></dl>

<?php include_once "./views/_include/search.php"; ?>

	<dl class="ntlt lnb_col p0">
		<!--분류없을때<dd class="mb5"><img src="../../images/comn/bul_10.png" class="t">1:1문의관리</dd> 
		-->
		<!--분류있을때 -->
		<ul class="tab">
			<li <?php echo (!$wr_cate)?"class='lnb5_col grf_col on'":"";?>><a href="./concert.php"><h1>전체</h1></a></li>
			<?php foreach($category as $val){?>
			<li <?php echo ($wr_cate==$val['code'])?"class='lnb5_col grf_col on'":"";?>><a href="./concert.php?wr_cate=<?php echo $val['code'];?>"><h1><?php echo stripslashes($val['name']);?></h1></a></li>
			<?php } ?>
		</ul>

		<dt class="mb2">
		<label><input name="alwaysDsrch" type="checkbox" value="1" class="check">항상 상세검색</label>&nbsp;
		<select name="page_rows" onchange="page_rows(this);">
			<option value='15' <?php echo ($page_rows==15)?'selected':'';?>>15개 출력</option>
			<option value='30' <?php echo ($page_rows==30)?'selected':'';?>>30개 출력</option>
			<option value='50' <?php echo ($page_rows==50)?'selected':'';?>>50개 출력</option>
			<option value='70' <?php echo ($page_rows==70)?'selected':'';?>>70개 출력</option>
			<option value='100' <?php echo ($page_rows==100)?'selected':'';?>>100개 출력</option>
		</select>
		</dt>
	</dl>
<dl class="page top lnb_col" style="border-bottom:1px solid #ddd;">
		<dt>
			<a onClick="selAll();" class="btn"><h1 class="btn23"><strong>A</strong>전체선택</h1></a>
			<a onClick="sel_delete();" class="btn"><h1 class="btn23"><strong>-</strong>선택삭제</h1></a>
		</dt>
		<dd>
		<!-- <a onClick="MM_showHideLayers('pop_move','','show')" class="btn"><h1 class="btn23"><span class="ic" style="background-image:url(../../images/ic/ref.gif);"></span>게시물이동</h1></a> -->
		</dd>

	</dl>

	<table class="ttlt w100">
	<col width=30><col><col width="120"><col span="2" width="76"><col span="2" width="60"><col width="56"> 
	<tr class="bg">
		<td><input name="check_all" type="checkbox"></td>
		<td>제목</td>
		<td><a href="./concert.php?<?php echo $cs_list['send_url'];?>&sort=wr_name&flag=<?php echo ($sort=='wr_name'&&$flag=='asc')?'desc':'asc';?>">작성자<span><?php echo ($sort=='wr_name'&&$flag=='asc')?'▲':'▼';?></span></a></td>
		<td><a href="./concert.php?<?php echo $cs_list['send_url'];?>&sort=wr_hit&flag=<?php echo ($sort=='wr_hit'&&$flag=='asc')?'desc':'asc';?>">조회<span><?php echo ($sort=='wr_hit'&&$flag=='asc')?'▲':'▼';?></span></a></td>
		<td><a href="./concert.php?<?php echo $cs_list['send_url'];?>&sort=wr_date&flag=<?php echo ($sort=='wr_date'&&$flag=='asc')?'desc':'asc';?>">문의일<span><?php echo ($sort=='wr_date'&&$flag=='asc')?'▲':'▼';?></span></a></td>
		<td><a href="./concert.php?<?php echo $cs_list['send_url'];?>&sort=wr_result&flag=<?php echo ($sort=='wr_result'&&$flag=='asc')?'desc':'asc';?>">답변여부<span><?php echo ($sort=='wr_result'&&$flag=='asc')?'▲':'▼';?></span></a></td>
		<td>답변</td>
		<td class="e">삭제</td>
	</tr>

	<?php if(!$cs_list['result']){ ?>
	<tr><td colspan="8" class="stlt"></td></tr>
	<?php } else {?>

	<tbody id="concert_list">
	<?php 
		foreach($cs_list['result'] as $val){ 
		$wr_cate = $category_control->get_categoryCode($val['wr_cate']);
		$is_new = ($val['wr_date'] >= date('Y-m-d H:i:s', $alice['server_time'] - (12 *3600))) ? true : false;	// 12 시간 기준
		$mb = $member_control->get_member($val['wr_id']);
		$wr_title = ($val['wr_phone'])?"title='".$val['wr_phone']."'":"";
	?>
	<tr>
		<td><input type="checkbox" name='no[]' class='check_all' value="<?php echo $val['no'];?>"></td>
		<td class="tl">
			<b class="fon11">[<?php echo stripslashes($wr_cate['name']);?>]</b> <a onClick="sel_view('<?php echo $val['no'];?>');"><?php echo stripslashes($val['wr_subject']);?></a>
			<?php if($is_new){?><img src='../../images/ic/new.gif'><?php } ?>
		</td>
		<td><span <?php echo $wr_title;?>><?php echo stripslashes($val['wr_name']);?></span></td>
		<td class="num3"><span id='wr_hit<?php echo $val['no'];?>'><?php echo number_format($val['wr_hit']);?></span></td>
		<td class="num3"><?php echo substr($val['wr_date'],0,11);?></td>
		<td><?php echo ($val['wr_result']) ? "<b class='col'>O</b>" : "<b>X</b>"; ?></td>
		<td><a onClick="update_cs('concert_reply','<?php echo $val['no'];?>');" class="btn"><h1 class="btn19"><strong>re</strong>답변</h1></a></td>
		<td class="e"><a onClick="delete_cs('<?php echo $val['no'];?>');"><img src="../../images/btn/19_06.gif"></a></td>
	</tr>

	<tr id="wr_content<?php echo $val['no'];?>" style="display:none;">
		<td colspan="8" class="e tl h20" style="padding-left:40px;">
			<dl class="num3 mb3 pb3" style="border-bottom:1px dotted #d9d9d9">
				<label class="m m0 fon11"><b>회사명 :</b> <?php echo stripslashes($val['wr_biz_name']);?></label>
				<label class="m ">/ <b>E-mail :</b> <?php echo stripslashes($val['wr_email']); ?></label> <a onClick="pop_email('<?php echo $val['no'];?>');" class="btn"><h1 class="btn17">이메일</h1></a>
				<?php if($val['wr_phone']){?>
				<label class="m m0 fon11">/ <b>연락처 :</b> <?php echo $utility->phone_pdash($val['wr_phone']);?></label> 
				<!-- <a onClick="MM_showHideLayers('pop_sms','','show')" class="btn"><h1 class="btn17">SMS</h1></a>  -->
				<?php } ?>
			</dl>
			<?php 
				echo stripslashes($val['wr_content']);
				if($val['wr_acontent']){	// 답변이 있다면
			?>
			<dl class="bdot bg_col pd15 mt5">
				<dt class="mb10"><b><?php echo $site_name;?>에서 문의에 대한 답변을 드립니다.</b> <span class="subtlt num3"><?php echo strtr(substr($val['wr_adate'],0,16),'-','/');?></span></dt>
				안녕하세요.<br/>
				[<?php echo stripslashes($val['wr_name']);?>]고객님, <?php echo $site_name;?>입니다.<br/>
				<?php echo stripslashes($val['wr_acontent']); ?>
			</dl>
			<?php } ?>
		</td>
	</tr>
	<?php } ?>
	</tbody>

	<?php } ?>
	</table>

	<dl class="page mb50">
		<?php include_once "../include/paging.php"; ?>
		<dt>
			<a onClick="selAll();" class="btn"><h1 class="btn23"><strong>A</strong>전체선택</h1></a>
			<a onClick="sel_delete();" class="btn"><h1 class="btn23"><strong>-</strong>선택삭제</h1></a>
		</dt>
		<dd>
		<!-- <a onClick="MM_showHideLayers('pop_move','','show')" class="btn"><h1 class="btn23"><span class="ic" style="background-image:url(../../images/ic/ref.gif);"></span>게시물이동</h1></a> -->
		</dd>

		<dl id="pop_move" class="psa boxbg fon11" style="top:27px;right:0;display:none;">
		선택한 게시물을
		<select name=""><option>분류명</option></select>
		으로 이동 <a onClick="MM_showHideLayers('pop_move','','hide')"><img src="../../images/btn/19_ok.gif"></a>
		</dl>
	</dl>

	<div id='concert_info'></div>

</table></td>
</tr>
</table>

<script>
// 폼 전송전
function showRequest(formData, jqForm, form_options){

	var queryString = $.param(formData);

	var boardFrm = jqForm.attr('name');

	if(boardFrm=='emailFrm'){	// 이메일 전송시

		$('#pop_mail').hide();

		$('#status_info').html("<span style='font-size:9pt;'><p>메일 전송중 ...<p><Br/><font color=crimson><b>[완료]</b></font> 이라는 단어가 나오기 전에는 새로고침 하지 마세요.<p></span>");

		$.blockUI({ 
			theme: true,
			title: '1:1 문의 답변 메일 전송중',
			showOverlay: false,
			message: $('#email_status')
		});

	} else {

		var csFrm = document.getElementById('csFrm');

		if (document.getElementById('tx_wr_acontent')) {
			if (!ed_wr_acontent.outputBodyText()) { 
				alert("<?php echo $config->_errors('0080');?>")
				ed_wr_acontent.returnFalse();
				return false;
			}
		}

		return validate(csFrm);

	}

}
// 폼 전송후
function showResponse(responseText, statusText, xhr, $form){

	switch(responseText){
		case '0001': alert("<?php echo $cs_control->_errors('0050');?>"); return false; break;
		case '0002': alert("<?php echo $cs_control->_errors('0051');?>"); return false; break;
		default :
			
			var results = responseText.split('/');
			var mode = results[0], result = results[1];	// 모드, 입력결과

			if(mode=='email_send'){
				if(result=='1'){
					$('#status_info').append("<br><br>메일 전송 <font color=crimson><b>[완료]</b></font><br/><p align='center'><span id='emailConfirm'><input type='button' value='확인' style='width:40px;' onclick='$.unblockUI();'/> </span></p>");
				} else {
					$('#status_info').append("<br><br>메일 전송중 오류가 발생하였습니다.<br/>메일 주소가 정확하지 않거나 메일서버에 오류가 발생 했을수도 있습니다.<p align='center'><span id='emailConfirm'><input type='button' value='확인' style='width:40px;' onclick='$.unblockUI();'/> </span></p>");
				}
			} else {
				if(result=='1'){
					location.reload();
				} else {
					alert("<?php echo $cs_control->_errors('0004');?>");
					return false;
				}
			}
		break;
	}

}
</script>

<?php include_once "../include/tail.php";?>