<?php if (!defined("_ALICE_")) exit; // 개별 페이지 접근 불가 ?>

<script>
var type = "<?php echo $category_type;?>";
var menu0_sel_no = '';	 // 1차 선택 no 값
var menu1_sel_no = '';
var menu0_sel_code = '';	// 1차 선택 code 값
var menu1_sel_code = '';
$(function(){
	var menu_0_options = { target:'#menu_0_list', beforeSubmit: menu_0_Request, success : menuResponse };
	$('#menu_0_Frm').ajaxForm(menu_0_options);
	var menu_1_options = { target:'#menu_1_list', beforeSubmit: menu_1_Request, success : menuResponse };
	$('#menu_1_Frm').ajaxForm(menu_1_options);

	$('.menu_name').keydown(function(event){
		if(event.keyCode==13){	 // 엔터키 이벤트
			var menus = $(this).attr('menu');
			menu_insert(menus);
			return false;
		}
	});
	$("input[name='name[]']").keydown(function(event){
		if(event.keyCode==13){	 // 엔터키 이벤트
			var menu = $(this).attr('menu'), no = $(this).attr('no');
			menu_update(menu,no);
		}
	});

});
var denied_rank = function(){
	alert("상단 1,2차 메뉴 먼저 선택해 주세요.\n\n출력순서 조절은 속한 메뉴가 있을때만 가능합니다.");
	return false;
}
var menu_input = function( menu ){	// 메뉴 입력폼(다중)
	$("#"+menu+"_Frm input[name='view']").attr('checked',true);
	$("#"+menu+"_Frm input[name='name']").val('');
	$("#"+menu+"_input").toggle();
	$("#"+menu+"_name").focus();
}
var menu_view = function( no, obj ){	 // 메뉴 사용/미사용
	var view = obj.checked;
	$.post('./process/menu.php', { mode:'view', no:no, view:view }, function(result){
		if(result)
			alert("<?php echo $config->_success('0020');?>");
		else
			alert("<?php echo $config->_errors('0020');?>");
	});
}
var menu_sels = function( menu, no, code ){	// 메뉴 선택
	if(menu=='menu_0'){
		menu0_sel_no = no;
		menu0_sel_code = code;
		var next_depth = 1;
	} else if(menu=='menu_1'){
		menu1_sel_no = no;
		menu1_sel_code = code;
	}

	$('#'+menu+'_list .lists').removeClass('dnbg').addClass('wbg');
	$('#'+menu+'_list #menu_'+no).addClass('dnbg');

	// 메뉴 리스트 출력
	if(menu=='menu_0'){
		$('#menu_'+next_depth+'_list').load('./views/_load/menu.php', { mode:'next_menu', type:type, code:code, next_depth:next_depth }, function(result){	
			$('#menu_'+next_depth+'_pcode').val(code);
			if(result=='0001') {	// 2차 메뉴가 존재 하지 않는 경우
				$('#menu_'+next_depth+'_list').html("<tr class='wbg tc' style='height:120px;'><td colspan='3'>"+(next_depth+1)+"차 메뉴가 존재하지 않습니다.</td></tr>");
				$('#board_none').html("<b>["+$('#name_'+no).val()+"]</b> 메뉴에 <?php echo $board_config_control->_errors('0013');?>");
				$('#boardAdd_btn').show();	// 게시판추가 버튼
				$('#board_move_set').show();	// 게시판이동 작동!
				board_list(code);	// 게시판 리스트
			} else {	 // 2차 메뉴가 있다면
				$('#board_none').html("<?php echo $board_config_control->_errors('0012');?>");
				$('#boardAdd_btn').hide();
				$('#board_move_set').hide();
				$('#board_list').html("<tr><td colspan='13' height='30' id='board_none' class='e'><?php echo $board_config_control->_errors('0012');?></td></tr>");
			}
			$('.menu_'+next_depth).show();
			$("input[name='name[]']").keydown(function(event){
				if(event.keyCode==13){	 // 엔터키 이벤트
					var menu = $(this).attr('menu'), no = $(this).attr('no');
					menu_update(menu,no);
				}
			});
		});
	} else if(menu=='menu_1') {	// 2차 메뉴 선택시
		$('#board_none').html("<b>["+$('#name_'+no).val()+"]</b> 메뉴에 <?php echo $board_config_control->_errors('0013');?>");
		$('#boardAdd_btn').show();
		$('#board_move_set').show();	// 게시판이동 작동!
		board_list(code,$('#'+menu+'_pcode').val());	// 게시판 리스트
	}
	$('#pop_move').hide();
	$('#move_menu_second').hide();
	$('.paging').hide();	// 페이징 감춤
}
var menu_insert = function( menu ){	// 메뉴 입력
	$('#'+menu+'_Frm').submit();
	$('#'+menu+'_name').val('');
}
var menu_cancel = function( menu ){	// 메뉴 입력 취소
	$("#"+menu+"_Frm input[name='view']").attr('checked',true);
	$("#"+menu+"_Frm input[name='name']").val('');
	$("#"+menu+"_input").hide();
}
var menu_update = function( menu, no ){	// 메뉴 수정 (다중)
	var sel = $('#name_'+no).val(), view = $('#view_'+no).is(':checked');
	if(!menu){
		alert("<?php echo $board_config_control->_errors('0005');?>");
		return false;
	}
	if(!sel || sel == ''){
		alert("<?php echo $board_config_control->_errors('0006');?>");
		$('#name_'+no).focus();
		return false;
	}
	$.post('./process/menu.php', { mode:'update', no:no, name:sel, view:view }, function(result){
		if(result)
			alert("<?php echo $board_config_control->_success('0003');?>");
		else
			alert("<?php echo $board_config_control->_errors('0007');?>");
	});
}
var menu_delete = function( menu, no ){	 // 메뉴 삭제 (다중)
	$.post('./process/menu.php', { mode:'is_board', no:no }, function(result){
		if(result=='0026'){
			if(confirm("<?php echo $board_config_control->_errors('0026');?>")){
				var name = $('#name_'+no).val();
				$('#quest_info').html("<p>분류명 : <span id='quest_name'></span></p><br/>");
				$('#quest_name').html(name);
				$('#quest_info').show();
				$('#confirm_msg').html("위의 정보를 삭제하시겠습니까?");
				$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'menu_delete\', \''+no+'\', \''+menu+'\');" value="예" />');
				// 질의(Confirm) 창 띄우기
				$.blockUI({ 
					theme: true,
					title: '['+name+'] 메뉴 삭제',
					showOverlay: false,
					message: $('#question')
				});
			}
		} else {
			var name = $('#name_'+no).val();
			$('#quest_info').html("<p>분류명 : <span id='quest_name'></span></p><br/>");
			$('#quest_name').html(name);
			$('#quest_info').show();
			$('#confirm_msg').html("위의 정보를 삭제하시겠습니까?");
			$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'menu_delete\', \''+no+'\', \''+menu+'\');" value="예" />');
			// 질의(Confirm) 창 띄우기
			$.blockUI({ 
				theme: true,
				title: '['+name+'] 메뉴 삭제',
				showOverlay: false,
				message: $('#question')
			});
		}
	});
}
var change_rank = function( menu, direction ){	 // 카테고리 순위조절 (다중)
	var sel_no = '';
	if(menu=='menu_0'){
		var sel_no = menu0_sel_no;
		var p_code = "";
	} else if(menu=='menu_1'){
		var sel_no = menu1_sel_no;
		var p_code = $('#menu_1_pcode').val();
	}
	
	if(!sel_no || sel_no==''){
		alert("<?php echo $board_config_control->_errors('0010');?>");
		return false;
	} else {
		var parent = $('#'+menu+'_list');
		var no = sel_no;
		if(direction == 'up' ){
			var next_no = $('tr.'+menu+'_lists', $(parent)).first().attr('data_no');
			if(!no || !next_no){
				alert("<?php echo $board_config_control->_errors('0011');?>");
				return false;
			}
			if(no == next_no){
				alert('최상위 순위 입니다.');
				return false;
			} else {
				next_no = $('#menu_'+sel_no).prev().attr('data_no');
			}
		} else if(direction == 'down') {		
			var next_no = $('tr.'+menu+'_lists', $(parent)).last().attr('data_no');
			if(!no || !next_no){
				alert("<?php echo $board_config_control->_errors('0011');?>");
				return false;
			}
			if(no == next_no){
				alert('최하위 순위 입니다.');
				return false;
			} else {
				next_no = $('#menu_'+sel_no).next().attr('data_no');
			}
		}

		// 순위 조절 ajax
		$('#'+menu+'_list').load('./views/_load/menu.php', { mode:'rank', type:type, direction:direction, menu:menu, no:no, next_no:next_no, p_code:p_code }, function(result){
			//alert(result);
		});
	}
}
var change_board_rank = function(direction, src){	// 리스트상 게시판 순위 조절

	var parent = $('#board_list');
	var no = $(src).parents('tr.board_list').attr('no');

	if(direction =='up'){
		var next_no = $('tr.board_list', $(parent)).first().attr('no');
		if(no == next_no){
			alert('최상위 순위 입니다.');
			return false;
		} else {
			next_no = $(src).parents('tr.board_list').prev().attr('no');
		}
	} else if(direction =='down'){
		var next_no = $('tr.board_list', $(parent)).last().attr('no');
		if(no == next_no){
			alert('최하위 순위 입니다.');
			return false;
		} else {
			next_no = $(src).parents('tr.board_list').next().attr('no');
		}
	}

	// 순위 조절 ajax
	$.post('./process/board.php', { mode:'board_rank', no:no, next_no:next_no }, function(result){
		if(result){
			var src_obj = $(src).parents('tr.board_list');
			var target = direction=='up' ? $(src_obj).prev() : $(src_obj).next();
			var tmp_obj = $(src_obj).remove();
			direction=='up' ? $(tmp_obj).insertBefore($(target)) : $(tmp_obj).insertAfter($(target));
		} else {
			alert("<?php echo $board_config_control->_errors('0017');?>");
		}
	});

}
var board_skins = function( obj, no ){	// 게시판 목록상 스킨 변경
	var bo_skin = obj.value;
	$.post('./process/board.php', { mode:'board_skin', ajax:'true', no:no, bo_skin:bo_skin }, function(result){
		if(result){
			alert("<?php echo $board_config_control->_success('0004');?>");
			board_form('board_update',no);
		} else {
			alert("<?php echo $board_config_control->_errors('0018');?>");
		}
	});
}
var board_views = function( obj, no ){	 // 게시판 목록상 출력상태 변경
	var bo_view = obj.checked;
	$.post('./process/board.php', { mode:'board_view', ajax:'true', board_view:bo_view, no:no }, function(result){
		if(result){
			alert("<?php echo $board_config_control->_success('0005');?>");
		} else {
			alert("<?php echo $board_config_control->_errors('0019');?>");
		}
	});
}
var board_prints = function( obj, no ){
	var bo_main = obj.checked;
	var main_count = $('#main_count_'+no).val();
	$.post('./process/board.php', { mode:'board_main', ajax:'true', main_view:bo_main, main_count:main_count, no:no }, function(result){
		if(result){
			alert("<?php echo $board_config_control->_success('0010');?>");
		} else {
			alert("<?php echo $board_config_control->_errors('0019');?>");
		}
	});
}
var board_levels = function( code, no ){	// 게시판 목록상 권한 설정
	$('#pop_info').load('./views/_load/board.php', { mode:'board_level', code:code, no:no }, function(){
		$('#board_level').show();
		$('#board_level').draggable({ handle: "#levelFrmHandle" });
		$('#board_level').center();
		var level_options = { target:'', beforeSubmit: levelRequest, success : levelResponse };
		$('#levelFrm').ajaxForm(level_options);
	});
}
var board_categories = function( no ){	 // 게시판 목록상 분류 설정
	$('#pop_info').load('./views/_load/board.php', { mode:'board_category', modes:'insert', no:no }, function(){	// 기본 : 입력
		$('#board_category').show();
		$('#board_category').draggable({ handle: "#levelFrmHandle" });
		$('#board_category').center();
		$("#category_lists input[name='name[]']").keydown(function(event){
			if(event.keyCode==13){	 // 엔터키 이벤트
				var no= $(this).attr('no');
				board_cate_update(no);
			}
		});
		var category_options = { target:'', beforeSubmit: categoryRequest, success : categoryResponse };
		$('#boardCategoryFrm').ajaxForm(category_options);
	});
}
var board_cate_view = function( obj, no ){	 // 게시판 목록상 출력 설정
	var views = obj.checked;
	$.post('./process/board.php', { mode:'board_cate_view', view:views, no:no }, function(result){
		if(result){
			alert("<?php echo $board_config_control->_success('0008');?>");
		} else {
			alert("<?php echo $board_config_control->_errors('0024');?>");
		}
	});

}
var change_cate_rank = function(direction, src){	// 게시판 목록상 게시판별 분류 순위 조절

	var parent = $('#category_lists');
	var no = $(src).parents('tr.category_lists').attr('no');

	if(direction =='up'){
		var next_no = $('tr.category_lists', $(parent)).first().attr('no');
		if(no == next_no){
			alert('최상위 순위 입니다.');
			return false;
		} else {
			next_no = $(src).parents('tr.category_lists').prev().attr('no');
		}
	} else if(direction =='down'){
		var next_no = $('tr.category_lists', $(parent)).last().attr('no');
		if(no == next_no){
			alert('최하위 순위 입니다.');
			return false;
		} else {
			next_no = $(src).parents('tr.category_lists').next().attr('no');
		}
	}

	// 순위 조절 ajax
	$.post('./process/board.php', { mode:'board_category_rank', type:direction, no:no, next_no:next_no }, function(result){
		if(result){
			var src_obj = $(src).parents('tr.category_lists');
			var target = direction=='up' ? $(src_obj).prev() : $(src_obj).next();
			var tmp_obj = $(src_obj).remove();
			direction=='up' ? $(tmp_obj).insertBefore($(target)) : $(tmp_obj).insertAfter($(target));
		} else {
			alert("<?php echo $board_config_control->_errors('0022');?>");
		}
	});

}
var board_cate_submit = function(){	// 분류 입력	
	//$('#boardCategoryFrm').submit();
}
var board_cate_update = function( no ){	// 게시판 목록상 분류설정 수정
	var cate_name = $('#cateName_'+no).val();
	var cate_view = $('#cateView_'+no).is(':checked');
	$.post('./process/board.php', { mode:'board_cate_update', no:no, name:cate_name, view:cate_view }, function(result){
		if(result){
			alert("<?php echo $board_config_control->_success('0007');?>");
		} else {
			alert("<?php echo $board_config_control->_errors('0023');?>");
		}
	});

}
var board_cate_delete = function( no, code ){	// 게시판 목록상 분류 삭제
	var name = $('#cateName_'+no).val();
	$('#quest_info').html("<p>분류명 : <span id='quest_name'></span></p><br/>");
	$('#quest_name').html(name);
	$('#quest_info').show();
	$('#confirm_msg').html("위의 정보를 삭제하시겠습니까?");
	$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'cate_delete\', \''+no+'\', \''+code+'\');" value="예" />');
	// 질의(Confirm) 창 띄우기
	$.blockUI({ 
		theme: true,
		title: '게시판 분류 삭제',
		showOverlay: false,
		message: $('#question')
	});
}
var board_delete = function( no ){	// 게시판 목록상 삭제
	var name = $('#board_name_'+no).html();
	$('#quest_info').html("<p>게시판명 : <span id='quest_name'></span></p><br/>");
	$('#quest_name').html(name);
	$('#quest_info').show();
	$('#confirm_msg').html("위의 정보를 삭제하시겠습니까?");
	$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'board_delete\', \''+no+'\');" value="예" />');
	// 질의(Confirm) 창 띄우기
	$.blockUI({ 
		theme: true,
		title: '게시판 삭제',
		showOverlay: false,
		message: $('#question')
	});
}
var board_sel_delete = function(){	// 게시판 선택 삭제

	var chk_length = $("input[name='no[]']:checked").length;

	if(chk_length==0){

		alert('삭제할 게시판을 선택해 주세요.');
		return false;

	} else {

		$('#quest_info').hide();
		$('#confirm_msg').html("선택하신 게시판 "+chk_length+"건을 삭제 하시겠습니까?<br/><br/>저장된 파일들도 모두 삭제 되며,<br/>한번 삭제된 데이터는 복구가 불가능합니다.");

		var del_no = new Array();
		var i = 0;
		$("input[name='no[]']:checked").each(function(){
			del_no[i] = $(this).val();
		i++;
		});

		$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'board_deletes\',\''+del_no+'\');" value="예" />');

		// 질의(Confirm) 창 띄우기
		$.blockUI({ 
			theme: true,
			title: '게시판 선택삭제',
			showOverlay: false,
			message: $('#question')
		});

	}

}
var questionAnswer = function(answer, mode, no, name){	 // 질의 응답에 따른 처리
	if(answer=='yes'){
		switch(mode){
			case 'menu_delete':	// 삭제
				$.post('./process/menu.php', { mode:'delete', no:no, menu:name, type:type } , function(result){
					if(result=='0004'){
						alert("<?php echo $board_config_control->_errors('0004');?>");
						$.unblockUI();
						return false;
					} else {
						if(result){
							location.reload();
						} else {
							alert("<?php echo $board_config_control->_errors('0008');?>");
							$.unblockUI();
							return false;
						}
					}
				});
			break;
			case 'sel_delete':	// 선택삭제
				$.post('./process/menu.php', { mode:mode, type:type, no:no }, function(result){
					if(result){
						location.reload();
					} else {
						alert("<?php echo $board_config_control->_errors('0009');?>");
						$.unblockUI();
						return false;
					}
				});
			break;
			case 'cate_delete':
				$.post('./process/board.php', { mode:'board_cate_delete', no:no } , function(result){
					if(result){
						$('#category_lists').load('./views/_load/board.php', { mode:'board_cate', code:name }, function(){
							$("#category_lists input[name='name[]']").keydown(function(event){
								if(event.keyCode==13){	 // 엔터키 이벤트
									var no= $(this).attr('no');
									board_cate_update(no);
								}
							});
						});
						$.unblockUI();
						return false;
					} else {
						alert("<?php echo $board_config_control->_errors('0025');?>");
						return false;
					}
				});
			break;
			case 'board_delete':	// 리스트상 게시판 삭제
				$.post('./process/board.php', { mode:'board_delete', no:no }, function(result){
					if(!result){
						alert("<?php echo $board_config_control->_errors('0027');?>");
					} else {
						location.reload();
					}
				});
			break;
			case 'board_deletes':	// 게시판 선택 삭제
				$.post('./process/board.php', { mode:'board_deletes', no:no }, function(result){
					if(!result){
						alert("<?php echo $board_config_control->_errors('0027');?>");
					} else {
						location.reload();
					}
				});
			break;
		}
	} else {
		$.unblockUI();
	}
}
var board_form = function( mode, no ){	// 게시판 추가 (no 가 있으면 수정)
	var nos = (no) ? no : '';
	menu0_no = ''; // 초기화
	menu1_no = '';

	if(mode=='board_insert'){
		$('#menu_0_list .lists').each(function(){
			var data_no = $(this).attr('data_no');
			if( $(this).hasClass('dnbg') ){
				menu0_no = data_no;
			}
		});
		$('#menu_1_list .lists').each(function(){
			var data_no = $(this).attr('data_no');
			if( $(this).hasClass('dnbg') ){
				menu1_no = data_no;
			}
		});
		if((!menu0_no || menu0_no=='') && (!menu1_no || menu1_no=='')){
			alert("<?php echo $board_config_control->_errors('0014');?>");
			return false;
		}
	}
	$('#board_info').load('./views/_load/board.php', { mode:mode, menu_0:menu0_no, menu_1:menu1_no, no:nos }, function(result){
		$('#add_form').show();
		$('#add_form').draggable({ handle: "#boardFrmHandle" });
		$('#add_form').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
		$("input[name='bo_use_sns']").click(function(){
			var use_sns = $(this).is(':checked');
			if(use_sns) $('#sns_set').show();
			else $('#sns_set').hide();
		});
		$('#sns_all').click(function(){
			var sns_all = $(this).is(':checked');
			if(sns_all) $("input[name='bo_sns[]']").attr('checked',true);
			else $("input[name='bo_sns[]']").attr('checked',false);
		});
		/*
		$("input[name='bo_use_category']").click(function(){
			var use_category = $(this).is(':checked');
			if(use_category){
				$('#pop_info').load('./views/_load/layer.php', { mode:'board_category' }, function(){
				});
			}
		});
		*/
		$('#use_upload').click(function(){
			if($(this).is(':checked')) $('.board_attaches').show();
			else $('.board_attaches').hide();	// 첨부파일 필드들
		});

		/* @author Harimao
		 * 선택 스킨별 자동으로 value 값이 지정되는 스크립트 입니다.
		 * 필요한 경우 사용하세요.
		 * 단점은 딱 4가지 스킨형태에 맞춰져 있기 때문에 확장성을 무시합니다.
		 * @last update 2013/06/01

		$("input[name='bo_skin']").click(function(){
			var bo_skin = $(this).val();
			switch(bo_skin){
				// 이미지형, 웹진형
				case 'image' : case 'webzine' :
					$('#image_widths, .secret_check, #cut_names, .sns_set, .board_attaches').show();	 // 이미지 가로크기, 추천 비추천기능 사용, 작성자 출력글자, , 첨부파일 필수
					$('#use_report, #use_upload').attr('checked',true);	// 신고기능 사용 유무
					$('#use_secret').attr('checked',false);	// 비밀글 사용 유무
					$('#use_secrets').hide();	 // 비밀글 권한
					$("input[name='bo_use_name']:input[value='0']").attr('checked',true);	// 비밀글 체크에 따른 작성자 출력 형태
				break;
				// 1:1 상담형
				case 'on2on' :
					$('#image_widths, .secret_check, #cut_names, .sns_set, .board_attaches').hide();
					$('#use_report, #use_upload').attr('checked',false);
					$('#use_secret').attr('checked',true);
					$('#use_secrets').show();	
					$("input[name='bo_use_name']:input[value='3']").attr('checked',true);	// 비밀글 체크에 따른 작성자 출력 형태
				break;
				// 텍스트형
				default :
					$('#image_widths, .secret_check, #cut_names, .sns_set, .board_attaches').hide();
					$('#use_report, #use_upload').attr('checked',true);
					$('#use_secret').attr('checked',false);
					$('#use_secrets').hide();	
					$("input[name='bo_use_name']:input[value='0']").attr('checked',true);	// 비밀글 체크에 따른 작성자 출력 형태
				break;
			}
		});
		$('#use_point').click(function(){	// 포인트 사용 유무
			var use_points = $(this).is(':checked');
			if(use_points) $('#use_points').show();
			else $('#use_points').hide();
		});
		$('#use_secret').click(function(){	 // 비밀글 사용 유무
			var use_secrets = $(this).is(':checked');
			if(use_secrets) $('#use_secrets').show();
			else $('#use_secrets').hide();
		});
		$("input[name='bo_use_name']").click(function(){	// 작성자이름 출력글자 입력 유무
			var use_name = $(this).val();
			if(use_name==3) $('#cut_names').hide();
			else $('#cut_names').show();
		});

		*/

		setTimeout(function(){
			netfu_util1.editor_start();
		},100);

		$('#boardFrm').submit(function(){
			var form_options = { target: '', beforeSubmit: boardRequest, success : boardResponse };
			$(this).ajaxSubmit(form_options);
			return false;
		});

	});

}
var board_list = function( code, p_code ){	// code 를 기준으로 게시판 리스트 추출
	var p_codes = (p_code) ? p_code : '';
	$('#board_list').load('./views/_load/board.php', { mode:'board_list', code:code, p_code:p_codes }, function(result){
		//alert(result);
	});
}
</script>

<div id="question" style="display:none; cursor: default">
	<div id='quest_info'>
		<p>분류명 : <span id='quest_name'></span></p><br/>
	</div>
	<p align='center' id='confirm_msg'></p><br/>
	<p align='center'>
		<span id='questionAnswerYes'><input type="button" onClick="questionAnswer('yes');" value="예" /> </span>
		<input type="button" onClick="questionAnswer('no');" value="아니오" />
	</p>
</div> 

<table class="layout">
<tr valign="top">
<td id="lmn"><?php include_once "../include/left_menu.php"; ?></td>
<td width="1"></td>
<td id="left" class="<?php echo $top_menu_code;?>"><?php include_once "../include/left.php"; ?></td>
<td id="lopen"  class="<?php echo $top_menu_code;?>" onClick="left_menu_open('<?php echo $top_menu_code;?>');" onMouseOver="this.className='on'" onMouseOut="this.className=''"><img src="../../images/comn/b.gif"></td>
<td class="h pr5">
<table class="ltbl">
<!--<tr><td class=nb_01></td><td class=nb_02></td><td class=nb_03></td></tr><tr>-->
<td width="1"></td><td class="nb">
<dl class="loc"><?php echo $sub_menu_name; include_once "../include/navi.php"; ?></dl>
<dl class="notbox"><dl>
1차메뉴설정은 유저페이지의 메뉴에 노출이 되는 메뉴이며 추가시 유저페이지는 바로 적용되지 않습니다. 별도로 디자인, 프로그램 작업이 필요 합니다.  <br>
게시판 메뉴를 삭제시에는 하위 게시판 부터 순차적으로 삭제를 하셔야 합니다.  <br>
게시판 생성은 1차메뉴설정에서 메뉴명을 클릭후 2차 메뉴명을 클릭하시면 게시판 추가를 하실수 있습니다. <br>
1차, 2차 메뉴는 실질적인 게시판이 아니며 게시판 묶음 타이틀입니다. 
</dl></dl>


<table width="100%" class="mt10 tf">
 <col><col width=20><col>
  <tr align="center" valign="top">
    <td class="lnb2_col ba bg_col"><?php include "./views/_include/menu_0.php"; ?></td>
    <td class="fon10 vm col">▶</td>
    <td class="lnb2_col ba bg_col"><?php include "./views/_include/menu_1.php"; ?></td>
  </tr>
</table>

	<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">게시판관리</dl>
<dl class="page top lnb_col" style="border-bottom:1px solid #ddd;">
		<dt>
			<a onClick="selAll();" class="btn"><h1 class="btn23"><strong>A</strong>전체선택</h1></a>
			<span><a onClick="board_sel_delete();" class="btn"><h1 class="btn23"><strong>-</strong>선택삭제</h1></a></span>
		</dt>
		
		</dl>
	<table class="ttlt w100" id="fixed_table">
	<colgroup><col width=30><col width=60><col><col width=80><col width=90><!-- <col width=40> --><!-- <col width=80> --><!-- <col width=60> --><col span="2" width=56><col width="66"><col span="2" width=56></colgroup>
	<tr class="bg">
		<td><input type='checkbox' name='check_all'></td>
		<td>출력순서</td>
		<td>게시판명 (게시판고유ID)</td>
		<td>게시물수</td>
		<td>출력형태</td>
		<!-- <td>출력</td> -->
		<!-- <td title="사이트 메인 인덱스에 출력시 출력건수를 설정합니다.">메인출력건수</td> -->
		<!-- <td title="사이트 메인 인덱스에 출력할지를 설정합니다.">메인출력</td> -->
		<td>권한</td>
		<td>분류</td>
		<td>미리보기</td>
		<td>수정</td>
		<td class="e">삭제</td>
	</tr>
	</table>
	
	<table class="ttlt w100">
	<colgroup><col width=30><col width=60><col><col width=80><col width=90><!-- <col width=40> --><!-- <col width=80> --><!-- <col width=60> --><col span="2" width=56><col width="66"><col span="2" width=56></colgroup>

	<tbody id="board_list">
	<?php 
		if($board_list['total_count']){
			foreach($board_list['result'] as $board){
				$_code = $category_control->get_categoryCode($board['code']);
				if($_code['p_code']){	// 2단 하위 메뉴가 있다면
					$board_code = $_code['p_code'];
				} else {
					$board_code = $_code['code'];
				}
				$_category = $category_control->get_categoryPCode($board['bo_table']);
	?>
		<tr class='board_list' no="<?php echo $board['no'];?>">
			<td><input type='checkbox' name="no[]" class='check_all' value="<?php echo $board['no'];?>"></td>

          <td class="none num3">
				<a onclick="denied_rank();" class="none iconcol">▲</a>
				<a onclick="denied_rank();" class="none iconcol">▼</a>
			</td>
			<td class="tl"><span id='board_name_<?php echo $board['no'];?>'><?php echo stripslashes($board['bo_subject']);?></span> (<span class="num3"><?php echo $board['bo_table'];?></span>)</td>
			<td class="num3"><?php echo number_format($board['bo_write_count']);?></td>
			<td>
				<?//php echo $board_config_control->board_skins[$board['bo_skin']];?>
				<select name="bo_skin" onchange="board_skins(this,'<?php echo $board['no'];?>');">
					<option value="default" <?php echo ($board['bo_skin']=='default')?'selected':'';?>>텍스트형</option>
					<option value="image" <?php echo ($board['bo_skin']=='image')?'selected':'';?>>이미지형</option>
					<option value="webzine" <?php echo ($board['bo_skin']=='webzine')?'selected':'';?>>웹진형</option>
					<!-- <option value="mix" <?php echo ($board['bo_skin']=='mix')?'selected':'';?>>혼합형</option> -->
					<option value="on2on" <?php echo ($board['bo_skin']=='on2on')?'selected':'';?>>1:1상담형</option>
				</select>
			</td>
			<!-- <td><input name="bo_board_view" type="checkbox" value="1" <?php echo ($board['bo_board_view'])?'checked':'';?> onclick="board_views(this,'<?php echo $board['no'];?>');"></td> -->
			<!-- <td><input name="bo_main_count[]" type="text" class="tnum tc" style="width:50%;" id="main_count_<?php echo $board['no'];?>" value="<?php echo $board['bo_main_count'];?>"/> 건</td> -->
			<!-- <td><input name="bo_main_view" type="checkbox" value="1" <?php echo ($board['bo_main_view'])?'checked':'';?> onclick="board_prints(this,'<?php echo $board['no'];?>');"></td> -->
			<td>
				<a onClick="board_levels('<?php echo $board['code'];?>','<?php echo $board['no']?>');" class="btn" id="level_<?php echo $board['no'];?>">
				<?php if(!$board['bo_list_level'] && !$board['bo_read_level'] && !$board['bo_write_level'] && !$board['bo_reply_level'] && !$board['bo_comment_level']){?>
					<h1 class="btn19"><strong>X</strong>권한</h1>
				<?php } else {?>
					<h1 class="btn19 col"><strong>O</strong>권한</h1>
				<?php } ?>
				</a>
			</td>
			<td>
				<a onClick="board_categories('<?php echo $board['no']?>');" class="btn" id="cate_<?php echo $board['no'];?>">
				<?php if($_category){ ?>
				<h1 class="btn19 col"><strong>O</strong>분류</h1>
				<?php } else {?>
				<h1 class="btn19"><strong>X</strong>분류</h1>
				<?php } ?>
				</a>
			</td>
			<td><a href="<?php echo $alice['board_path'];?>/board.php?code=<?php echo $board['code'];?>&bo_table=<?php echo $board['bo_table'];?>" target="_blank"><img src="../../images/btn/19_12.gif"></a></td>
			<td><a onClick="board_form('board_update','<?php echo $board['no'];?>');"><img src="../../images/btn/19_05.gif"></a></td>
			<td class="e"><a onClick="board_delete('<?php echo $board['no'];?>');"><img src="../../images/btn/19_06.gif"></a></td>
		</tr>
	<?php 
			}	// foreach end.
		} else { ?>
		<tr>
			<td colspan='13' height='30' id="board_none" class="e"><?php echo $board_config_control->_errors('0013');?></td>
		</tr>
	<?php } ?>
	</tbody>

	</table>

	<dl class="page mb50">
		<?php include_once "../include/paging.php"; ?>
		<dt>
			<a onClick="selAll();" class="btn"><h1 class="btn23"><strong>A</strong>전체선택</h1></a>
			<span><a onClick="board_sel_delete();" class="btn"><h1 class="btn23"><strong>-</strong>선택삭제</h1></a></span>
		</dt>
		<dd id="board_move_set" style="display:none;">
			<a onClick="board_move();" class="btn">
				<h1 class="btn23"><span class="ic" style="background-image:url(../../images/ic/ref.gif);"></span>게시판이동</h1>
			</a>
			<!-- <a onClick="" class="btn"><h1 class="btn23"><strong class="col">O</strong>일괄적용</h1></a> -->
			<span id='boardAdd_btn' style="display:none;">
				<a onClick="board_form('board_insert');" class="cbtn lnb_col grf_col">
					<h1 class="btn23"><strong>+</strong>게시판추가</h1>
				</a>
			</span>
		</dd>

<script>
var board_move = function(){

	var chk_length = $("input[name='no[]']:checked").length;

	if(chk_length==0){

		alert('이동할 게시판을 선택해 주세요.');
		return false;

	} else {

		$.post('./process/board.php', { mode:'borad_menus', type:'first' }, function(result){
			$('#board_menu_1st').html(result);
			$('#pop_move').show();
		});

	}
}
var move_menu_first = function( vals ){
	var sel = vals.value;

	$.post('./process/board.php', { mode:'borad_menus', type:'second', code:sel }, function(result){
		var results = result.split('@');

		$('#board_menu_2nd').html(results[0]);
		if(results[1]) {
			$('#move_menu_second').show();
		} else {
			$('#move_menu_second').hide();
			$('#board_menu_2nd').empty();
			if(sel)
				$('#move_board_list').show();
			else
				$('#move_board_list').hide();
			/*
			$.post('./process/board.php', { mode:'board_for_code', code:sel }, function(result){
				var results = result.split('@');
				if(results[1]){
					$('#move_board').html(results[1]);
					$('#move_board_list').show();
				} else {
					$('#move_board').empty();
					$('#move_board_list').hide();
				}
			});
			*/
		}
	});
}
var move_menu_second = function( vals ){
	var sel = vals.value;
	$('#move_board_list').show();
}
var board_moving = function(){	// 게시판 이동
	var board_menu_1st = $('#board_menu_1st option:selected').val();
	var board_menu_2nd = $('#board_menu_2nd option:selected').val();

	var code = (board_menu_2nd) ? board_menu_2nd : board_menu_1st;

	var chk_length = $("input[name='no[]']:checked").length;

	var move_no = new Array();
	var i = 0;
	$("input[name='no[]']:checked").each(function(){
		move_no[i] = $(this).val();
	i++;
	});

	$.post('./process/board.php', { mode:'board_code_update', code:code, no:move_no }, function(result){

		if(result){
			var move_code = (menu1_sel_code) ? menu1_sel_code : menu0_sel_code;
			$('#board_list').load('./views/_load/board.php', { mode:'board_list', code:move_code }, function(result){
				//$('#add_form').hide();
			});
		} else {
			alert("<?php echo $board_config_control->_errors('0028');?>");
		}

	});

}
</script>

		<dl id="pop_move" class="psa boxbg fon11" style="top:27px;right:0;display:none;">
			선택한 게시판을 이동시킬 메뉴를 선택하세요 
			<select name="board_menu_1st" onchange="move_menu_first(this);" id="board_menu_1st">
				<option value="">1차메뉴명</option>
			</select>

			<span id="move_menu_second" style="display:none;">
			<select name="board_menu_2nd" onchange="move_menu_second(this);" id="board_menu_2nd">
				<option value="">2차메뉴명</option>
			</select>
			</span>

			<span id="move_board_list" style="display:none;">
			<!-- <select name="move_board" id="move_board">
				<option>게시판명</option>
			</select> -->
			(으)로 이동 <a onClick="board_moving();"><img src="../../images/btn/19_ok.gif"></a>
			</span>
		</dl>
	</dl>

	<div id='board_info'></div>
	<div id='pop_info'></div>

<!--</td><td class=nb_05></td></tr><tr><td class=nb_06></td><td class=nb_07></td><td class=nb_08></td></tr>-->
</table></td>
</tr>
</table>

<script>
var menu_0_Request = function(formData, jqForm, menu_0_options){	// 1차 폼 전송전
	var menu_0_Frm = document.getElementById('menu_0_Frm');
	var queryString = $.param(formData);
	return validate(menu_0_Frm);
}
var menu_1_Request = function(formData, jqForm, menu_1_options){	// 2차 폼 전송전
	var menu_1_Frm = document.getElementById('menu_1_Frm');
	var queryString = $.param(formData);
	return validate(menu_1_Frm);
}
var boardRequest = function(formData, jqForm, form_options){	// 게시판 생성 폼 전송전
	var boardFrm = document.getElementById('boardFrm');
	var queryString = $.param(formData);
	return validate(boardFrm);
}
var levelRequest = function(formData, jqForm, level_options){	// 게시판 권한설정 폼 전송전
	var queryString = $.param(formData);
	return true;
}
var categoryRequest = function(formData, jqForm, category_options){	// 게시판 분류설정 폼 전송전
	var boardCategoryFrm = document.getElementById('boardCategoryFrm');
	var queryString = $.param(formData);
	return validate(boardCategoryFrm);
}
var menuResponse = function(responseText, statusText, xhr, $form){	// 폼 전송후
	switch(responseText){
		case '0002':
			<?php if($is_debug){ /*?>alert("<?php echo $category_control->_success('0000');?>"); // 성공 메시지가 필요한 경우 사용하세요. <?php*/ } ?>
			location.href = "./?type=" + type + "&mode=insert";
		break;
		case '0004':
			alert("<?php echo $board_config_control->_errors('0004');?>");
			return false;
		break;
		default :
			$("#menu_0_Frm input[name='view']").attr('checked',true);
			$("#menu_0_Frm input[name='name']").val('');
			$("#menu_1_Frm input[name='view']").attr('checked',true);
			$("#menu_1_Frm input[name='name']").val('');
		break;
	}
	$("input[name='name[]']").keydown(function(event){
		if(event.keyCode==13){	 // 엔터키 이벤트
			var menu = $(this).attr('menu'), no = $(this).attr('no');
			menu_update(menu,no);
		}
	});
}
var boardResponse = function(responseText, statusText, xhr, $form){	// 게시판 생성 폼 전송후
	switch(responseText){
		case '0015':
			alert("<?php echo $board_config_control->_errors('0015');?>");
		break;
		case '0016':
			alert("<?php echo $board_config_control->_errors('0016');?>");
		break;
		default:
			// 메인 페이지로
			location.reload();
			/*
			$('#board_list').load('./views/_load/board.php', { mode:'board_list', code:responseText }, function(result){
				$('#add_form').hide();
			});
			*/
		break;
	}
}
var levelResponse = function(responseText, statusText, xhr, $form){	// 게시판 권한설정 폼 전송후
	if(responseText=='0020'){
		alert("<?php echo $board_config_control->_errors('0020');?>");
	} else {
		alert("<?php echo $board_config_control->_success('0006');?>");
		$('#board_level').hide();
	}
}
var categoryResponse = function(responseText, statusText, xhr, $form){	// 게시판 분류설정 폼 전송후
	if(responseText=='0021'){
		alert("<?php echo $board_config_control->_errors('0021');?>");
	} else {
		$('#category_lists').load('./views/_load/board.php', { mode:'board_cate', code:responseText }, function(){
			$('#boardCategoryFrm').resetForm();
			$("#category_lists input[name='name[]']").keydown(function(event){
				if(event.keyCode==13){	 // 엔터키 이벤트
					var no= $(this).attr('no');
					board_cate_update(no);
				}
			});
		});
	}
}
</script>

<?php include_once "../include/tail.php";?>