<?php if (!defined("_ALICE_")) exit; // 개별 페이지 접근 불가 ?>

<script>
var page_rows = function(sels){	// 출력 갯수
	var sel = sels.value, send_url = "<?php echo $list['send_url'];?>";
	location.href = "./employ_become.php?"+send_url+"&page_rows=" + sel;
}
var pop_member = function( mb_id ){		// 회원 정보
	$('#pop_info').load('../member/views/_load/member.php', { mode:'get_member', mb_id:mb_id }, function(){
		$('#pop_mem').draggable({ handle: "#memHandle" });
		$('#pop_mem').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
	});
}
var become_delete = function( no ){	 // 삭제 (단수)
	$('#quest_info').show();
	$('#confirm_msg').html("입사지원 정보를 삭제하시겠습니까?");	
	$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'delete\',\''+no+'\');" value="예" />');
	// 질의(Confirm) 창 띄우기
	$.blockUI({ 
		theme: true,
		title: '입사지원 정보 삭제',
		showOverlay: false,
		message: $('#question')
	});

}
var become_deletes = function( ){	 // 삭제 (복수)
	var chk_length = $("input[name='no[]']:checked").length;
	if(chk_length==0){
		alert('삭제 할 지원정보를 선택해 주세요.');
		return false;
	} else {
		var del_no = new Array();
		var i = 0;
		$("input[name='no[]']:checked").each(function(){
			del_no[i] = $(this).val();
		i++;
		});
		$('#quest_info').hide();
		$('#confirm_msg').html("선택하신 입사지원 정보"+chk_length+"건을 삭제 하시겠습니까?");
		var del_no = new Array();
		var i = 0;
		$("input[name='no[]']:checked").each(function(){
			del_no[i] = $(this).val();
		i++;
		});
		$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'sel_delete\',\''+del_no+'\');" value="예" />');
		// 질의(Confirm) 창 띄우기
		$.blockUI({ 
			theme: true,
			title: '입사지원 정보 선택삭제',
			showOverlay: false,
			message: $('#question')
		});
	}
}
var questionAnswer = function(answer, mode, no, sels){	 // 질의 응답에 따른 처리
	if(answer=='yes'){
		switch(mode){
			// 지원정보 삭제 (단수)
			case 'delete':
				$.post('./process/regist.php', { mode:'become_delete', no:no } , function(result){
					if(result){
						location.reload();
					} else {
						alert("<?php echo $config->_errors('0010');?>");
						$.unblockUI();
						return false;
					}
				});
			break;
			// 선택 지원정보 삭제 (복수)
			case 'sel_delete':
				$.post('./process/regist.php', { mode:'become_sel_delete', no:no }, function(result){
					if(result){
						//alert('선택하신 회원정보 '+nos_cnt+'건이 삭제되었습니다.');
						location.reload();
					} else {
						alert("<?php echo $config->_errors('0010');?>");
						return false;
					}
				});
			break;
		}
	} else {
		$.unblockUI();
	}
}
</script>

<div id="question" style="display:none; cursor: default">
	<div id='quest_info'></div>
	<p align='center' id='confirm_msg'></p><br/>
	<p align='center'>
		<span id='questionAnswerYes'><input type="button" onClick="questionAnswer('yes');" value="예" /> </span>
		<input type="button" onClick="questionAnswer('no');" value="아니오" />
	</p>
</div> 

<table class="layout">
<tr valign="top">
<td id="lmn"><?php include_once "../include/left_menu.php"; ?></td>
<td width="1"></td>
<td id="left" class="<?php echo $top_menu_code;?>"><?php include_once "../include/left.php"; ?></td>
<td id="lopen"  class="<?php echo $top_menu_code;?>" onClick="left_menu_open('<?php echo $top_menu_code;?>');" onMouseOver="this.className='on'" onMouseOut="this.className=''"><img src="../../images/comn/b.gif"></td>
<td class="h pr5">
<table class="ltbl">
<!--<tr><td class=nb_01></td><td class=nb_02></td><td class=nb_03></td></tr>-->
<tr><td width="1"></td>
<td class=nb>
<dl class="loc"><!--<img src="../../images/comn/bul_11.png" class="t">--><?php echo $sub_menu_name; include_once "../include/navi.php"; ?></dl>

<dl class="notbox"><dl>
개인회원들의 온라인, 이메일 입사지원 현황을 관리하시는 페이지 입니다. <br>
</dl></dl>

<?//php include_once "./views/_include/comment_search.php"; ?>

<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">입사지원 관리
	<span>총 <b class="num3 col"><?php echo number_format($list['total_count']);?></b>건이 검색되었습니다.</span>
	<dt>
		<!-- <label><input name="alwaysDsrch" type="checkbox" value="1" class="check">항상 상세검색</label>&nbsp; -->
		<select name="page_rows" onchange="page_rows(this);">
			<option value='15' <?php echo ($page_rows==15)?'selected':'';?>>15개 출력</option>
			<option value='30' <?php echo ($page_rows==30)?'selected':'';?>>30개 출력</option>
			<option value='50' <?php echo ($page_rows==50)?'selected':'';?>>50개 출력</option>
			<option value='70' <?php echo ($page_rows==70)?'selected':'';?>>70개 출력</option>
			<option value='100' <?php echo ($page_rows==100)?'selected':'';?>>100개 출력</option>
		</select>
	</dt>
</dl>
<dl class="page top  lnb_col" style="border-bottom:1px solid #ddd;">
	<dt>
		<a onClick="selAll();" class="btn"><h1 class="btn23"><strong>A</strong>전체선택</h1></a>
		<a onClick="become_deletes();" class="btn"><h1 class="btn23"><strong>-</strong>선택삭제</h1></a>
	</dt>
</dl>

<table width="100%" class="ttlt">
<col width="2%"><col width="7%"><col><col width="7%"><col width="7%"><col width="4%">
<tr class="bg">
	<td><input name="check_all" type="checkbox"></td>
	<td>지원자</td>
	<td>지원한 구인 공고</td>
	<td>입사지원</td>
	<td>지원일</td>
	<td>삭제</td>
</tr>
<tbody id="become_list">

<?php if(!$list['result']){ ?>
<tr><td colspan="7" class="stlt"></td></tr>
<?php } else { 
	foreach($list['result'] as $val){
	$get_member = $member_control->get_member($val['wr_id']);
	$get_alba = $alba_control->get_alba($val['wr_to']);

	$wr_subject = stripslashes($get_alba['wr_subject']);
	$wr_wdate = strtr(substr($get_alba['wr_wdate'],0,11),'-','/');
	$wr_udate = strtr(substr($get_alba['wr_udate'],0,11),'-','/');
	$wr_volume_date = $get_alba['wr_volume_date'];	// 모집종료(마감)일
	$volume_date = strtr(substr($wr_volume_date,2,11),'-','/');
?>
<tr>
	<td><input type="checkbox" name='no[]' class='check_all' value="<?php echo $val['no'];?>"></td>
	<td><a onclick="pop_member('<?php echo $get_member['mb_id'];?>');">
		<?php echo $get_member['mb_name'];?><Br/>
		(<?php echo $get_member['mb_id'];?>)
		</a>
	</td>
	<td>
		<a href="<?php echo $alice['alba_path'];?>/detail.php?no=<?php echo $get_alba['no'];?>" class="b" target="_blank"><?php echo $wr_subject;?></a>
		<div class="mt10 List fon11 pt3" style="border-top:1px dotted #dddddd">등록일 : <?php echo $wr_wdate;?>&nbsp;
			<li>수정일 : <?php echo $wr_udate;?> </li>
			<?php if($wr_volume_date){ ?><li>마감일 : ~<?php echo $volume_date;?></li><?php } ?>
			<li>조회 : <?php echo number_format($get_alba['wr_hit']);?>건</li>
		</div>
	</td>
	<td><?php echo $receive_control->become_arr[$val['type']];?></td>
	<td><?php echo substr($val['wdate'],0,10);?></td>
	<td><a onclick="become_delete('<?php echo $val['no'];?>');"><img src="../../images/btn/19_06.gif"></a></td>
</tr>
<?php 
	}	// foreach end.
}	// if end.
?>
</tbody>
</table>

<dl class="page">
	<?php include_once "../include/paging.php"; ?>
	<dt>
		<a onClick="selAll();" class="btn"><h1 class="btn23"><strong>A</strong>전체선택</h1></a>
		<a onClick="become_deletes();" class="btn"><h1 class="btn23"><strong>-</strong>선택삭제</h1></a>
	</dt>
</dl>

<div id='pop_info'></div>

<!--</td><td class=nb_05></td></tr><tr><td class=nb_06></td><td class=nb_07></td><td class=nb_08></td></tr>-->
</table></td>
</tr>
</table>

<script>
</script>
<?php include_once "../include/tail.php";?>