<?php if (!defined("_ALICE_")) exit; // 개별 페이지 접근 불가 ?>

<table class="layout">
<tr valign="top">
<td id="lmn"><?php include_once "../include/left_menu.php"; ?></td>
<td id="left" class="<?php echo $top_menu_code;?>"><?php include_once "../include/left.php"; ?></td>
<td id="lopen"  class="<?php echo $top_menu_code;?>" onClick="left_menu_open('<?php echo $top_menu_code;?>');" onMouseOver="this.className='on'" onMouseOut="this.className=''"><img src="../../images/comn/b.gif"></td>
<td class="h pr5">
<table class="ltbl">
<tr><td class=nb_01></td><td class=nb_02></td><td class=nb_03></td></tr><tr><td class=nb_04></td><td class=nb>
<dl class="loc"><img src="../../images/comn/bul_11.png" class="t"><?php echo $sub_menu_name; include_once "../include/navi.php"; ?></dl>
<dl class="notbox"><dl>
오늘, 어제, 이달로 해서 해당 사이트에서 검색된 키워드 상위 50개를 노출합니다. <br> 
</dl></dl>

<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">검색어 통계</dl>
<table width="100%" class="ttlt tf">
<col span="3">
  <tr class="bg">
    <td>오늘 검색한 검색어 TOP50</td>
    <td>어제 검색한 검색어 TOP50</td>
    <td class="e">이달에 검색한 검색어 TOP50</td>
  </tr>
  <tr class="vt" style="min-height:198px">
    <td class="pr5 pl10">	
    <ol class="mt3">
    <?php foreach($get_search['today'] as $_today){ ?>
    <li class="psr"><?php echo stripslashes($_today['wr_content']);?><dt class="prt num3"><?php echo number_format($_today['wr_hit']);?></dt></li>
    <?php } ?>
    </ol>    
    </td>
    <td class="pr5 pl10">    
    <ol>
    <?php foreach($get_search['yesterday'] as $_yesterday){ ?>
    <li class="psr"><?php echo stripslashes($_yesterday['wr_content']);?><dt class="prt num3"><?php echo number_format($_yesterday['wr_hit']);?></dt></li>
    <?php } ?>
    </ol>    
    </td>
    <td class="e pr5 pl10">    
    <ol>
    <?php foreach($get_search['month'] as $_month){ ?>
    <li class="psr"><?php echo stripslashes($_month['wr_content']);?><dt class="prt num3"><?php echo number_format($_month['wr_hit']);?></dt></li>
    <?php } ?>
    </ol>        
    </td>
  </tr>
</table>


</td><td class=nb_05></td></tr><tr><td class=nb_06></td><td class=nb_07></td><td class=nb_08></td></tr>
</table>
</td>
</tr>
</table>

<?php include_once "../include/tail.php";?>