<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<link href="/css/base.css" rel="stylesheet" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>넷퓨 배너설정 위치별 가이드</title>
<style type="text/css">
<!--
* {margin:0; padding:0;}
td {
	font-size: 12px;
	color: #000000;
	font-family: "돋움체";
}
input.st1{
	font-size: 12px;
	color: #333;
	font-family: "돋움체";
	border:0px;
	background:transparent;
	text-align:center;
}
a { font-family:돋움; font-size:12px; color:#8c8c8c; text-decoration: none; }
-->

</style>
<script language="JavaScript">
<!--
// 쿠키를 만듭니다. 아래 closeWin() 함수에서 호출됩니다
function setCookie( name, value, expiredays )
{
	var todayDate = new Date();
	todayDate.setDate( todayDate.getDate() + expiredays );
	document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
}

// 체크후 닫기버튼을 눌렀을때 쿠키를 만들고 창을 닫습니다
function closeWin()
{
	if ( document.form1.KSNET_20140829_2.checked )
	setCookie( "KSNET_20140829_2", "done" , 1);  // 오른쪽 숫자는 쿠키를 유지할 기간을 설정합니다
	self.close();
}
// -->
</script>
<style>
strong, b{color:#333;letter-spacing:-0.03em !important}
.banner_nav a{color:#222 !important;letter-spacing:-0.03em !important}
.lnb_gr{border:1px solid #cccccc !important;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;background:#FBFCFE}

</style>
</head>
<body leftmargin="0" topmargin="0">

<dl class="ln_b psr pl20 pt50" style="padding: 5px 0px 2px;"><img class="vm" src="/images/nad/bul_05.gif"><img class="pl10" align="top" src="/images/nad/banner_nav_tt.jpg">
</dl>
<a id="main01"><table style="padding:10px;border:3px solid #37a4f1;" width="94%" class="b01 mt5" align="center"border="0" cellspacing="0" cellpadding="0">
    <tr class="banner_nav">
        <td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">공통배너</a></td>
        <td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">메인배너</a></td>
        <td><a href="#main02"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">구인정보 배너</a></td>
        <td><a href="#main03"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">인재정보 배너</a></td>
        <td><a href="#main04"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(메인)</a></td>
        <td><a href="#main05"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시판)</a></td>
    </tr>
    <tr class="banner_nav">
        <td><a href="#main06"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시물)</a></td>
        <td><a href="#main07"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">광고안내 배너</a></td>
        <td><a href="#main08"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">통합검색 배너</a></td>
        <td><a href="#main09"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">지도검색 배너</a></td>
        <td><a href="#main10"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">로그인 배너</a></td>
				<td></td>
    </tr>
</table>
			<table align="center" class="pt50" width="90%">
				<tr class="ln_b pt1 pb3 tl">
					<td><img width="5" height="14" class="m mL2" src="/images/nad/bul_15.gif"> <b class="fon13">메인배너</b></td>
				</tr>
				<tr>
					<td class="lnb_gr" style="padding:5px;"><img src="/images/nad/bnr_main.jpg">
					</a></td>
				</tr>			
				<tr class="nav_table ln_b pt1 pb3 tl">
					<td><a id="main02"><img width="5" height="14" class="m mL2" src="/images/nad/bul_15.gif"> <b class="fon13">구인정보 배너</b>
					</td>
				</tr>
				<tr>
				<td>
				<table width="100%" align="center" class="mb10 b01 mt5" style="padding: 10px; border: 3px solid rgb(55, 164, 241); border-image: none;" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr class="banner_nav">
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">공통배너</a></td>
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">메인배너</a></td>
					<td><a href="#main02"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">구인정보 배너</a></td>
					<td><a href="#main03"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">인재정보 배너</a></td>
					<td><a href="#main04"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(메인)</a></td>
					<td><a href="#main05"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시판)</a></td>
				</tr>
				<tr class="banner_nav">
					<td><a href="#main06"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시물)</a></td>
					<td><a href="#main07"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">광고안내 배너</a></td>
					<td><a href="#main08"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">통합검색 배너</a></td>
					<td><a href="#main09"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">지도검색 배너</a></td>
					<td><a href="#main10"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">로그인 배너</a></td>
					<td></td>
				</tr>
				</tbody></table>
				</td>
				</tr>
				<tr>
					<td class="lnb_gr" style="padding:5px;"><img src="/images/nad/bnr_job.jpg">
					</td>
				</tr></a>
				<tr class="nav_table ln_b pt1 pb3 tl">
					<td><a id="main03"><img width="5" height="14" class="m mL2" src="/images/nad/bul_15.gif"> <b class="fon13">인재정보 배너</b></td>
				</tr>
				<tr>
				<td>
				<table width="100%" align="center" class="mb10 b01 mt5" style="padding: 10px; border: 3px solid rgb(55, 164, 241); border-image: none;" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr class="banner_nav">
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">공통배너</a></td>
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">메인배너</a></td>
					<td><a href="#main02"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">구인정보 배너</a></td>
					<td><a href="#main03"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">인재정보 배너</a></td>
					<td><a href="#main04"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(메인)</a></td>
					<td><a href="#main05"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시판)</a></td>
				</tr>
				<tr class="banner_nav">
					<td><a href="#main06"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시물)</a></td>
					<td><a href="#main07"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">광고안내 배너</a></td>
					<td><a href="#main08"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">통합검색 배너</a></td>
					<td><a href="#main09"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">지도검색 배너</a></td>
					<td><a href="#main10"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">로그인 배너</a></td>
					<td></td>
				</tr>
				</tbody></table>
				</td>
				</tr>
				<tr>
					<td class="lnb_gr" style="padding:5px;"><img src="/images/nad/bnr_man.jpg">
					<a/></td>
				</tr>
				<tr class="nav_table ln_b pt1 pb3 tl">
					<td><a id="main04"><img width="5" height="14" class="m mL2" src="/images/nad/bul_15.gif"> <b class="fon13">커뮤니티 배너(메인)</b></td>
				</tr>
				<tr>
				<td>
				<table width="100%" align="center" class="mb10 b01 mt5" style="padding: 10px; border: 3px solid rgb(55, 164, 241); border-image: none;" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr class="banner_nav">
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">공통배너</a></td>
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">메인배너</a></td>
					<td><a href="#main02"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">구인정보 배너</a></td>
					<td><a href="#main03"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">인재정보 배너</a></td>
					<td><a href="#main04"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(메인)</a></td>
					<td><a href="#main05"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시판)</a></td>
				</tr>
				<tr class="banner_nav">
					<td><a href="#main06"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시물)</a></td>
					<td><a href="#main07"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">광고안내 배너</a></td>
					<td><a href="#main08"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">통합검색 배너</a></td>
					<td><a href="#main09"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">지도검색 배너</a></td>
					<td><a href="#main10"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">로그인 배너</a></td>
					<td></td>
				</tr>
				</tbody></table>
				</td>
				</tr>
				<tr>
					<td class="lnb_gr" style="padding:5px;"><img src="/images/nad/bnr_cm1.jpg">
					</a></td>
				</tr>
				<tr class="nav_table ln_b pt1 pb3 tl">
					<td><a id="main05"><img width="5" height="14" class="m mL2" src="/images/nad/bul_15.gif"> <b class="fon13">커뮤니티 배너(게시판)</b></td>
				</tr>
				<tr>
				<td>
				<table width="100%" align="center" class="mb10 b01 mt5" style="padding: 10px; border: 3px solid rgb(55, 164, 241); border-image: none;" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr class="banner_nav">
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">공통배너</a></td>
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">메인배너</a></td>
					<td><a href="#main02"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">구인정보 배너</a></td>
					<td><a href="#main03"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">인재정보 배너</a></td>
					<td><a href="#main04"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(메인)</a></td>
					<td><a href="#main05"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시판)</a></td>
				</tr>
				<tr class="banner_nav">
					<td><a href="#main06"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시물)</a></td>
					<td><a href="#main07"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">광고안내 배너</a></td>
					<td><a href="#main08"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">통합검색 배너</a></td>
					<td><a href="#main09"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">지도검색 배너</a></td>
					<td><a href="#main10"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">로그인 배너</a></td>
					<td></td>
				</tr>
				</tbody></table>
				</td>
				</tr>
				<tr>
					<td class="lnb_gr" style="padding:5px;"><img src="/images/nad/bnr_cm2.jpg">
					</a></td>
				</tr>
				<tr class="nav_table ln_b pt1 pb3 tl">
					<td><a id="main06"><img width="5" height="14" class="m mL2" src="/images/nad/bul_15.gif"> <b class="fon13">커뮤니티 배너(게시물)</b></td>
				</tr>
				<tr>
				<td>
				<table width="100%" align="center" class="mb10 b01 mt5" style="padding: 10px; border: 3px solid rgb(55, 164, 241); border-image: none;" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr class="banner_nav">
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">공통배너</a></td>
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">메인배너</a></td>
					<td><a href="#main02"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">구인정보 배너</a></td>
					<td><a href="#main03"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">인재정보 배너</a></td>
					<td><a href="#main04"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(메인)</a></td>
					<td><a href="#main05"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시판)</a></td>
				</tr>
				<tr class="banner_nav">
					<td><a href="#main06"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시물)</a></td>
					<td><a href="#main07"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">광고안내 배너</a></td>
					<td><a href="#main08"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">통합검색 배너</a></td>
					<td><a href="#main09"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">지도검색 배너</a></td>
					<td><a href="#main10"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">로그인 배너</a></td>
					<td></td>
				</tr>
				</tbody></table>
				</td>
				</tr>
					<tr><td class="lnb_gr" style="padding:5px;"><img src="/images/nad/bnr_cm3.jpg">
					</a></td>
				</tr>
				<tr class="nav_table ln_b pt1 pb3 tl">
					<td><a id="main07"><img width="5" height="14" class="m mL2" src="/images/nad/bul_15.gif"> <b class="fon13">광고안내 배너</b></td>
				</tr>
				<tr>
				<td>
				<table width="100%" align="center" class="mb10 b01 mt5" style="padding: 10px; border: 3px solid rgb(55, 164, 241); border-image: none;" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr class="banner_nav">
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">공통배너</a></td>
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">메인배너</a></td>
					<td><a href="#main02"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">구인정보 배너</a></td>
					<td><a href="#main03"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">인재정보 배너</a></td>
					<td><a href="#main04"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(메인)</a></td>
					<td><a href="#main05"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시판)</a></td>
				</tr>
				<tr class="banner_nav">
					<td><a href="#main06"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시물)</a></td>
					<td><a href="#main07"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">광고안내 배너</a></td>
					<td><a href="#main08"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">통합검색 배너</a></td>
					<td><a href="#main09"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">지도검색 배너</a></td>
					<td><a href="#main10"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">로그인 배너</a></td>
					<td></td>
				</tr>
				</tbody></table>
				</td>
				</tr>
					<tr><td class="lnb_gr" style="padding:5px;"><img src="/images/nad/bnr_etc1.jpg">
					</a></td>
				</tr>
				<tr class="nav_table ln_b pt1 pb3 tl">
					<td><a id="main08"><img width="5" height="14" class="m mL2" src="/images/nad/bul_15.gif"> <b class="fon13">통합검색 배너</b></td>
				</tr>
				<tr>
				<td>
				<table width="100%" align="center" class="mb10 b01 mt5" style="padding: 10px; border: 3px solid rgb(55, 164, 241); border-image: none;" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr class="banner_nav">
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">공통배너</a></td>
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">메인배너</a></td>
					<td><a href="#main02"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">구인정보 배너</a></td>
					<td><a href="#main03"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">인재정보 배너</a></td>
					<td><a href="#main04"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(메인)</a></td>
					<td><a href="#main05"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시판)</a></td>
				</tr>
				<tr class="banner_nav">
					<td><a href="#main06"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시물)</a></td>
					<td><a href="#main07"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">광고안내 배너</a></td>
					<td><a href="#main08"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">통합검색 배너</a></td>
					<td><a href="#main09"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">지도검색 배너</a></td>
					<td><a href="#main10"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">로그인 배너</a></td>
					<td></td>
				</tr>
				</tbody></table>
				</td>
				</tr>
					<tr><td class="lnb_gr" style="padding:5px;"><img src="/images/nad/bnr_etc2.jpg">
					</a></td>
				</tr>
				<tr class="nav_table ln_b pt1 pb3 tl">
					<td><a id="main09"><img width="5" height="14" class="m mL2" src="/images/nad/bul_15.gif"> <b class="fon13">지도검색 배너</b></td>
				</tr>
				<tr>
				<td>
				<table width="100%" align="center" class="mb10 b01 mt5" style="padding: 10px; border: 3px solid rgb(55, 164, 241); border-image: none;" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr class="banner_nav">
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">공통배너</a></td>
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">메인배너</a></td>
					<td><a href="#main02"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">구인정보 배너</a></td>
					<td><a href="#main03"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">인재정보 배너</a></td>
					<td><a href="#main04"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(메인)</a></td>
					<td><a href="#main05"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시판)</a></td>
				</tr>
				<tr class="banner_nav">
					<td><a href="#main06"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시물)</a></td>
					<td><a href="#main07"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">광고안내 배너</a></td>
					<td><a href="#main08"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">통합검색 배너</a></td>
					<td><a href="#main09"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">지도검색 배너</a></td>
					<td><a href="#main10"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">로그인 배너</a></td>
					<td></td>
				</tr>
				</tbody></table>
				</td>
				</tr>
					<tr><td class="lnb_gr" style="padding:5px;"><img src="/images/nad/bnr_etc3.jpg">
					</a></td>
				</tr>
				<tr class="nav_table ln_b pt1 pb3 tl">
					<td><a id="main10"><img width="5" height="14" class="m mL2" src="/images/nad/bul_15.gif"> <b class="fon13">로그인 배너</b></td>
				</tr>
				<tr>
				<td>
				<table width="100%" align="center" class="mb10 b01 mt5" style="padding: 10px; border: 3px solid rgb(55, 164, 241); border-image: none;" border="0" cellspacing="0" cellpadding="0">
				<tbody><tr class="banner_nav">
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">공통배너</a></td>
					<td><a href="#main01"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">메인배너</a></td>
					<td><a href="#main02"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">구인정보 배너</a></td>
					<td><a href="#main03"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">인재정보 배너</a></td>
					<td><a href="#main04"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(메인)</a></td>
					<td><a href="#main05"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시판)</a></td>
				</tr>
				<tr class="banner_nav">
					<td><a href="#main06"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">커뮤니티 배너(게시물)</a></td>
					<td><a href="#main07"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">광고안내 배너</a></td>
					<td><a href="#main08"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">통합검색 배너</a></td>
					<td><a href="#main09"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">지도검색 배너</a></td>
					<td><a href="#main10"><img style="margin:0px 5px;" src="/images/nad/bul_19.gif">로그인 배너</a></td>
					<td></td>
				</tr>
				</tbody></table>
				</td>
				</tr>
					<tr><td class="lnb_gr" style="padding:5px;"><img src="/images/nad/bnr_etc4.jpg">
					</a></td>
				</tr>
			</table>
</body>
</html> 
