<?php if (!defined("_ALICE_")) exit; // 개별 페이지 접근 불가 ?>

<link rel="stylesheet" type="text/css" media="screen,projection" href="<?php echo $alice['plugins_path']."/jquery.colourPicker.css"?>" />
<script>
var update_popup_skin = function( mode, no ){	// 스킨등록 폼

	$('#add_form').load('./views/_load/popup.php', { mode:mode, no:no }, function(result){

		$('#add_form').show();
		// Add Form Draggable
		$('#add_form').draggable({ handle: "#addFrmHandle" });
		$('#add_form').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동

		// 팝업제목색상 :: 단색
		$('#subject_colorSet select').colourPicker({
			ico:	'../../images/btn/19_col.gif', 
			title:	false
		});

		// 배경설정 :: 단색
		$('#border_colorSet select').colourPicker({
			ico:	'../../images/btn/19_col.gif', 
			title:	false
		});

		/*
		$('#bgimage_file').live('change', function(){
			$('#mode').val('skin_replace');
			var bgimage_options = { beforeSubmit: PopupSkin_Request, success : previewResponse }
			$('#PopupSkinRegistFrm').ajaxSubmit( bgimage_options );
		});
		*/

		var PopupSkin_options = { beforeSubmit: PopupSkin_Request, success : PopupSkin_Response };
		$('#PopupSkinRegistFrm').ajaxForm( PopupSkin_options );

	});

}
var popup_skin_replace = function(){	// 스킨 새로고침
	/*
	var border_size = $('#border_size').val();
	var border_color = $("input[name='border_color']").val();
	alert(border_size+"@"+border_color);
	*/
	$('#PopupSkinRegistFrm #mode').val('skin_replace');	// process mode :: skin_replace
	var preview_options = {
		target: '#skinPreview',
		beforeSubmit: PopupSkin_Request,
		success : previewResponse
	};
	$('#PopupSkinRegistFrm').ajaxSubmit(preview_options);

}
var delete_popSkin = function(no){	// 팝업 스킨 삭제
	if(no){
		$('#quest_info').show();
		$('#confirm_msg').html("팝업 스킨을 삭제하시겠습니까?");	
		$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'skin_delete\',\''+no+'\');" value="예" />');
		// 질의(Confirm) 창 띄우기
		$.blockUI({ 
			theme: true,
			title: '팝업 스킨 삭제',
			showOverlay: false,
			message: $('#question'),
			css: { 
				width: '275px' 
			}
		});
	} else {
		alert("<?php echo $popup_control->_errors('0004')?>");
		return false;
	}
}
var questionAnswer = function(answer, mode, no){	 // 질의 응답에 따른 처리

	if(answer=='yes'){

		switch(mode){
			case 'skin_delete':	// 스킨 삭제
				$.post('./process/popup.php', { mode:mode, no:no } , function(result){
					if(result){
						location.reload();
					} else {
						alert("<?php echo $popup_control->_errors('0003');?>");
						$.unblockUI();
					}
				});
			break;
		}
	} else {
		$.unblockUI();
	}
}
</script>

<div id="question" style="display:none; cursor: default">
	<div id='quest_info'></div>
	<p align='center' id='confirm_msg'></p><br/>
	<p align='center'>
		<span id='questionAnswerYes'><input type="button" onClick="questionAnswer('yes');" value="예" /> </span>
		<input type="button" onClick="questionAnswer('no');" value="아니오" />
	</p>
</div> 

<table class="layout">
<tr valign="top">
<td id="lmn"><?php include_once "../include/left_menu.php"; ?></td>
<td width="1">
<td id="left" class="<?php echo $top_menu_code;?>"><?php include_once "../include/left.php"; ?></td>
<td id="lopen"  class="<?php echo $top_menu_code;?>" onClick="left_menu_open('<?php echo $top_menu_code;?>');" onMouseOver="this.className='on'" onMouseOut="this.className=''"><img src="../../images/comn/b.gif"></td>
<td class="h pr5">
<table class="ltbl">
<!--<tr><td class=nb_01></td><td class=nb_02></td><td class=nb_03></td></tr><tr>-->
<td width="1"></td><td class="nb">

<dl class="loc"><?php echo $sub_menu_name; include_once "../include/navi.php"; ?></dl>

<dl class="notbox"><dl>
팝업스킨을 추가/편집 할 수 있습니다.<br>
기본 팝업틀과 지금까지 추가시킨 팝업틀을 확인가능합니다.<br>
팝업스킨을 클릭하고 팝업스킨 수정화면에서 '미리보기'를 클릭하면 팝업 스타일을 미리볼 수 있습니다.<br>
치환코드를 삽입하시면 각 상황별 문자로 치환됩니다. 잘못된 코드를 삽입하여 문제가 발생할 경우 책임지지 않습니다.
</dl></dl>

<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">팝업스킨관리</dl>  

<dl class="lnb pdbt5">

	<table width="100%">
	<tr align="center">
	<?php
	if($popup_list['result']){
		$i = 0;
		foreach($popup_list['result'] as $val){
			if($i && $i%$mod==0)
				echo "</tr><tr align='center'><td width='25%'></td></tr><tr align='center'>";

				$background = "";
				if($val['bgimage_file']){	// 배경 이미지를 업로드 했다면
					$background .= "background:";
					$background .= "url('".$alice['data_popup_path']."/".$val['bgimage_file']."') ".$val['bgimage_pattern']." ".$val['bgimage_position'];
					$background .= " #".$val['border_color'];
				} else {
					$background .= "background:#fff";
				}

	?>
		<td width="25%">
			<dl class="blnb fon11 md5">
				<dt class="pd3" style="height:150px">
					<table width="100%" height="100%" style="border:<?php echo $val['border_size'];?>px solid #<?php echo $val['border_color'];?>;background:#<?php echo $val['border_color'];?>;">
					<tr>
						<td style="height:25px;text-align:left;padding-left:5px;color:#<?php echo ($val['subject_color']);?>;">팝업 제목</td>
					</tr>
					<tr>
						<td class="pcontents" style="<?php echo $background;?>;">{내용}</td>
					</tr>
					<tr>
						<td class="pclose">
						<dl>
							<input name="" type="checkbox" value="" class="check"><?php echo strtr($val['cookie_time'],$popup_control->cookie_arr);?> 동안 열지 않기
							<span class="bar"><a href="#">close<b class="pl2">x</b></a></span>
						</dl>
						</td>
					</tr>
					</table>
				</dt>
				<dt class="lnt pd3"><a onClick="update_popup_skin('skin_update','<?php echo $val['no'];?>');"><?php echo $val['skin_name'];?></a></dt>
			</dl>
		</td>
		<?php
			$i++;
			}
			// 나머지 td
			$cnt = $i%$mod;
			if ($cnt){
				for ($i=$cnt; $i<$mod; $i++)
					echo "<td width='25%'>&nbsp;</td>";
			}
		}
		?>
	  </tr>
	</table>

</dl>


<dl class="page">
	<?php include_once "../include/paging.php"; ?>
	<dd>
		<a onClick="update_popup_skin('skin_insert');" class="cbtn lnb_col grf_col"><h1 class="btn23"><strong>+</strong>스킨등록</h1></a>
	</dd>
</dl>

<div id="add_form" class="bocol lnb_col" style="top:5%;left:25%;display:none;"></div>

<!--</td><td class=nb_05></td></tr><tr><td class=nb_06></td><td class=nb_07></td><td class=nb_08></td></tr>-->
</td>
</tr>
</table>

<script>
// 폼 전송전
var PopupSkin_Request = function(formData, jqForm, PopupSkin_options){

	var PopupSkinRegistFrm = document.getElementById('PopupSkinRegistFrm');

	var queryString = $.param(formData);

	return validate(PopupSkinRegistFrm);
}
// 폼 전송후
var PopupSkin_Response = function(responseText, statusText, xhr, $form){
	
	var responseTexts = responseText.split('/');
	var modes = responseTexts[0];
	var result = responseTexts[1];

	if(result){
		location.reload();
	} else {
		msg = (mode=='skin_update') ? "<?php echo $popup_control->_errors('0002');?>" : "<?php echo $popup_control->_errors('0001');?>";
		alert(msg);
	}

}
// 미리보기 새로고침 전송 후
function previewResponse(responseText, statusText, xhr, $form){
	
	var response_var = responseText.split('||');

	$('#bgimage_file_tmp').val(response_var[0]);	// 임시 이미지 파일

	result = '';
	result += '<table width="100%" height="200" style="border:'+response_var[1]+'px solid #'+response_var[2]+';background:#'+response_var[2]+';">';
	result += '<tr>';
	result += '<td class="pcontents" style="'+response_var[3]+';text-align:center;">{내용}</td>';
	result += '</tr>';
	if(response_var[4]){
		result += '<tr>';
		result += '<td class="pclose">';
		result += '<dl>';
		switch(response_var[4]){
			case '1 day': day_check = "1 일"; break;
			case '3 day': day_check = "3 일"; break;
			case '5 day': day_check = "5 일"; break;
			case '1 week': day_check = "1 주일"; break;
			case '1 month': day_check = "1 개월"; break;
			case '24 hour': day_check = "24 시간"; break;
			case '18 hour': day_check = "18 시간"; break;
			case '12 hour': day_check = "12 시간"; break;
			case '6 hour': day_check = "6 시간"; break;
			case '3 hour': day_check = "3 시간"; break;
			case '1 hour': day_check = "1 시간"; break;
		}
		result += '<input name="" type="checkbox" value="" class="check">'+day_check+' 동안 열지 않기<span class="bar"><a href="#">close<b class="pl2">x</b></a></span>';
		result += '</dl>';
		result += '</td>';
		result += '</tr>';
	}
	result += '</table>';

	$('#skinPreview').html(result);

	//$('#skinPreview').html(responseText);
	$('#PopupSkinRegistFrm #mode').val('skin_insert');	// process mode :: skin_insert

}
</script>
<?php include_once "../include/tail.php";?>