<?php if (!defined("_ALICE_")) exit; // 개별 페이지 접근 불가 ?>

<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
var mode = "<?php echo $mode;?>";
var mb_type = "individual";
var mb_id_duplicate = false;
var mb_nick_duplicate = false;
var use_map = "<?php echo $use_map;?>";
var daum_local_APIKEY = "<?php echo $daum_local_key;?>";
var naver_map_KEY = "<?php echo $naver_map_key;?>";
$(function(){
	if(mode=='insert') update_member('insert','','individual');
});
var pop_sms = function( no ){	 // 문자 발송 창
	$('#pop_info').load('./views/_load/layer.php', { mode:'sms', no:no }, function(result){
		$('#pop_sms').show();
		$('#pop_sms').draggable({ handle: "#smsFrmHandle" });
		$('#pop_sms').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
	});
}
var pop_email = function( no ){	// 이메일 발송 창
	$('#pop_info').load('./views/_load/layer.php', { mode:'email', no:no }, function(result){
		$('#pop_mail').show();
		$('#pop_mail').draggable({ handle: "#emailFrmHandle" });
		$('#pop_mail').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
	});
}
var pop_memo = function(no){	// 메모 발송 창
	$('#pop_info').load('./views/_load/layer.php', { mode:'memo', no:no }, function(result){
		$('#pop_memo').show();
		$('#pop_memo').draggable({ handle: "#memoFrmHandle" });
		$('#pop_memo').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
		var memo_options = { beforeSubmit: showRequest, success: showResponse };	// memo ajax options
		$('#MemberMemoFrm').ajaxForm(memo_options);	// memo ajax form submit
	});
}
var postClose = function(){
	$('#postSearchPop').hide();
}
var sms_msg = function( no ){	// 메시지 불러오기
	$.post('./views/_ajax/sms_msg.php', { no:no }, function(result){
		$('#send_msg').val(result);
		var send_msg = document.getElementById('send_msg');
		CountChar(send_msg,80);
	});
}
var sms_send = function(){	 // 문자 발송
	//$('#SMSSendFrm').submit();
	var send_options = { beforeSubmit: send_showRequest, success : send_showResponse };
	$('#SMSSendFrm').ajaxSubmit(send_options);
}
var sms_cancel = function(){	// 문자 발송 취소
	$('#send_msg').html('');
	$('#msg_bytes').html('0');
	$('#rphone_list').html('');
	return;
}
var mail_send = function( no ){	// 메일 발송
	var MemberEmailFrm = document.getElementById('MemberEmailFrm');
	if(validate(MemberEmailFrm)==false){
		return false;
	} else {
		if(!ed_content.outputBodyText()){	// 내용이 없는 경우
			alert("<?php echo $config->_errors('0042');?>");
			ed_content.returnFalse();
			return false;
		}
		$('#quest_info').show();
		$('#confirm_msg').html("Та SMS илгээх үү? <br/> <br/> Хүлээн авахаас татгалзсан эсэхээс үл хамааран илгээнэ.");
		$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'email\',\''+no+'\');" value="тийм" />');
		// 질의(Confirm) 창 띄우기
		$.blockUI({ 
			theme: true,
			title: 'И-мэйл баталгаажуулна уу',
			showOverlay: false,
			message: $('#question')
		});
	}
}
var update_member = function(mode, no, mb_type){	 // 입력/수정
	$('#pop_info').load('./views/_load/member.php', { mode:mode, no:no, mb_type:mb_type }, function(result){
		if(!mb_type) mb_type = $("#MemberFrm input[name='mb_type").val();
		$('#add_form').show();
		$('#add_form').draggable({ handle: "#memberFrmHandle" });
		$('#add_form').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
		//$('.service_date').datepicker({ dateFormat: 'yy-mm-dd' });

		if(mb_type=='company'){	// 기업회원일때만
			$('#MemberFrm').submit(function(){
			<?php echo $utility->input_cheditor('mb_biz_vision');?>	// 기업개요 및 비전 에디터 내용 전달
			/* 필수 항목일 경우 주석 제거 하세요.
			if (document.getElementById('tx_mb_biz_vision')) {
				if (!ed_mb_biz_vision.outputBodyText()) { 
					alert('Компанийн танилцуулга, зорилт оруулна уу');
					ed_mb_biz_vision.returnFalse();
					return;
				}
			}
			*/
			<?php echo $utility->input_cheditor('mb_biz_result');?>	// 기업연혁 및 실적 에디터 내용 전달
			/* 필수 항목일 경우 주석 제거 하세요.
			if (document.getElementById('tx_mb_biz_result')) {
				if (!ed_mb_biz_result.outputBodyText()) { 
					alert('Компанийн танилцуулга, зорилт оруулна уу');
					ed_mb_biz_result.returnFalse();
					return;
				}
			}
			*/
			});
		}
		var member_options = { beforeSubmit: showRequest, success: showResponse };	// memo ajax options
		$('#MemberFrm').ajaxForm(member_options);	// memo ajax form submit
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
	});
}
var MemberFrm_Submit = function(){
	$('#return_regist').val('1');	// 등록후 공고 등록
	$('#MemberFrm').submit();
}
var mb_types = function( vals ){	 // 회원구분
	var sel = vals.value;
	if(confirm("<?php echo $member_control->_errors('0008');?>")){
		$('#pop_info').load('./views/_load/member.php', { mode:'insert', mb_type:sel }, function(result){
			$('#add_form').show();
			$('#add_form').draggable({ handle: "#memberFrmHandle" });
			$('#add_form').center();
			$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
			//$('.service_date').datepicker({ dateFormat: 'yy-mm-dd' });

			if(sel=='company'){	// 기업회원일때만
				$('#MemberFrm').submit(function(){
				<?php echo $utility->input_cheditor('mb_biz_vision');?>	// 기업개요 및 비전 에디터 내용 전달
				<?php echo $utility->input_cheditor('mb_biz_result');?>	// 기업연혁 및 실적 에디터 내용 전달
				});
			}
			var member_options = { beforeSubmit: showRequest, success: showResponse };	// memo ajax options
			$('#MemberFrm').ajaxForm(member_options);	// memo ajax form submit
			$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
		});
	} else {
		change_sel = (sel=='individual') ? 'company' : 'individual';	 // 선택 초기화
		$("input[name='mb_type']").filter("input[value='"+change_sel+"']").attr('checked',true);
	}
}
var delete_member = function( no ){	 // 삭제
	$('#quest_info').show();
	$('#confirm_msg').html("Ажлын байрны танилцуулга, анкет гэх мэт гишүүдтэй холбоотой мэдээллийг хамтад нь устгана.<br/><br/><br/><br/>Устгасан мэдээллийгсэргээх боломжгүй.<br/><br/>Мөн устгасан гишүүдийн мэдээллийг 'гишүүнээс гарах' руу шилжүүлэхгүй.<br/><br/>устгах уу");
	$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'delete\',\''+no+'\');" value="тийм" />');
	// 질의(Confirm) 창 띄우기
	$.blockUI({ 
		theme: true,
		title: 'Гишүүний мэдээлэл устгах',
		showOverlay: false,
		message: $('#question')
	});
}
var pop_badness = function( no ){	// 불량 회원 등록
	$('#pop_info').load('./views/_load/layer.php', { mode:'badness', no:no }, function(result){
		$('#pop_badness').show();
		$('#pop_badness').draggable({ handle: "#badnessFrmHandle" });
		$('#pop_badness').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
		var bad_options = { beforeSubmit: showRequest, success: showResponse };	// memo ajax options
		$('#MemberBadnessFrm').ajaxForm(bad_options);	// memo ajax form submit
	});
}
var sel_delete_member = function(){		// 선택삭제
	var chk_length = $("input[name='no[]']:checked").length;
	if(chk_length==0){
		alert('Устгах гишүүнээ сонгоно уу.');
		return false;
	} else {
		$('#quest_info').hide();
		$('#confirm_msg').html("Ажлын байрны танилцуулга, анкет гэх мэт гишүүдтэй холбоотой мэдээллийг хамтад нь устгана.<br/><br/><br/><br/>Устгасан мэдээллийгсэргээх боломжгүй.<br/><br/>Мөн устгасан гишүүдийн мэдээллийг 'гишүүнээс гарах' руу шилжүүлэхгүй.<br/><br/>устгах уу");
		var del_no = new Array();
		var i = 0;
		$("input[name='no[]']:checked").each(function(){
			del_no[i] = $(this).val();
		i++;
		});
		$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'sel_delete\',\''+del_no+'\');" value="예" />');
		// 질의(Confirm) 창 띄우기
		$.blockUI({ 
			theme: true,
			title: 'Гишүүний мэдээлэл устгах',
			showOverlay: false,
			message: $('#question')
		});
	}
}
var sel_pop_email = function(){	// 선택 회원 메일전송
	var chk_length = $("input[name='no[]']:checked").length;
	if(chk_length==0){
		alert('И-мэйл илгээх гишүүнээ сонгоно уу.');
		return false;
	} else {
		var mail_no = new Array();
		var i = 0;
		$("input[name='no[]']:checked").each(function(){
			mail_no[i] = $(this).val();
		i++;
		});
		$('#pop_info').load('./views/_load/layer.php', { mode:'email', no:mail_no }, function(result){
			$('#pop_mail').show();
			$('#pop_mail').draggable({ handle: "#emailFrmHandle" });
			$('#pop_mail').center();
			$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
		});

	}
}
var sel_level = function(){	// 선택 회원 등급 수정
	var chk_length = $("input[name='no[]']:checked").length;
	if(chk_length==0){
		alert('Түвшин зэрэглэлийг засварлах гишүүнээ сонгоно уу.');
		return false;
	} else {
		var level_no = new Array();
		var i = 0;
		$("input[name='no[]']:checked").each(function(){
			level_no[i] = $(this).val();
		i++;
		});
		$('#mb_level :eq(0)').attr('selected',true);
		$('#pop_level').show();
		$('#levelChangeBtn').click(function(){	// ok 확인 버튼
			var sel_level = $('#mb_level :selected').text();
			var sel_val = $('#mb_level :selected').val();
			$('#quest_info').show();
			$('#confirm_msg').html("Сонгосон гишүүн "+chk_length+"төрөл ["+sel_level+"] түвшинг өөрчлөх үү?");
			$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'sel_level\',\''+level_no+'\',\''+sel_val+'\');" value="тийм" />');
			// 질의(Confirm) 창 띄우기
			$.blockUI({ 
				theme: true,
				title: 'Гишүүнчлэлийн зэрэглэл засварлалт батлах ',
				showOverlay: false,
				message: $('#question')
			});
		});
	}
}
var pop_smscharge = function( no ){	// SMS 충전 창
	$('#pop_info').load('./views/_load/layer.php', { mode:'sms_charge', no:no }, function(result){
		$('#pop_sms').show();
		$('#pop_sms').draggable({ handle: "#smsFrmHandle" });
		$('#pop_sms').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
		$('#mb_sms').autoNumeric('init');
		var sms_options = { beforeSubmit: showRequest, success: showResponse };	// memo ajax options
		$('#MemberSMSFrm').ajaxForm(sms_options);	// SMS ajax form submit
	});
}
var pop_jumpcharge = function( no ){	// 점프 서비스 충전 창
	$('#pop_info').load('./views/_load/layer.php', { mode:'jump_charge', no:no }, function(result){
		$('#pop_jump').show();
		$('#pop_jump').draggable({ handle: "#smsFrmHandle" });
		$('#pop_jump').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
		$('#mb_jump').autoNumeric('init');
		var jump_options = { beforeSubmit: showRequest, success: showResponse };	// memo ajax options
		$('#MemberJumpFrm').ajaxForm(jump_options);	// SMS ajax form submit
	});
}
var questionAnswer = function(answer, mode, no, sels){	 // 질의 응답에 따른 처리
	if(answer=='yes'){
		switch(mode){
			// 이메일 전송
			case 'email':
				<?php echo $utility->input_cheditor('content');?>	// 에디터 내용 전달
				var mail_options = { beforeSubmit: showRequest, success: showResponse };	// email ajax options
				$('#MemberEmailFrm').ajaxSubmit(mail_options);	// email ajax form submit
			break;
			// 회원 삭제 (단수)
			case 'delete':
				$.post('./process/regist.php', { mode:mode, no:no } , function(result){
					if(result){
						location.reload();
					} else {
						alert("<?php echo $member_control->_errors('0007');?>");
						$.unblockUI();
						return false;
					}
				});
			break;
			// 선택 회원 삭제 (복수)
			case 'sel_delete':
				$.post('./process/regist.php', { mode:mode, no:no }, function(result){
					if(result){
						//alert('선택하신 회원정보 '+nos_cnt+'건이 삭제되었습니다.');
						location.reload();
					} else {
						alert("<?php echo $config->_errors('0014');?>");
						return false;
					}
				});
			break;
			// 선택 회원 등급수정
			case 'sel_level':
				$.post('./process/regist.php', { mode:mode, no:no, mb_level:sels }, function(result){
					if(result){
						location.reload();
					} else {
						alert("<?php echo $config->_errors('0054');?>");
						return false;
					}
				});
			break;
		}	// switch end.
	} else {
		/*
		switch(mode){
			case 'email':
				$('#pop_mail').html("");
			break;
		}
		*/
		$.unblockUI();
	}
}
var postSearchPops = function(mb_type){	// 우편번호 검색창 띄우기
	var mode = 'zipcode_'+mb_type;
	var map_color = "<?php echo $map_color;?>";
	$('#zipcode_info').load('./views/_load/layer.php', { mode:mode, mb_type:mb_type, map_color:map_color }, function(result){
		$('.closeBtn, .close').click(function(){	// 우편번호 검색창 닫기
			$('#postSearchPop').hide();
		});

		$('#postSearchPop').show();
		$('#postSearchKeyword').focus();
		$('#postSearchPop').draggable({ handle: "#postSearchPop_handle" });
		if(mb_type=='company') {
			var insert_mode = $('#MemberFrm #mode').val();

			if(use_map=='daum') zoom = '4';
			else if(use_map=='naver') zoom = '10';
			else if(use_map=='google') zoom = '18';

			map_api.map_use("mapContainer", "", true);	// 지도 띄우기
			if(use_map=='daum'){
				if(insert_mode=='insert'){
					var mb_latlng = ['37.537123', '127.005523'];
				} else {
					var mb_latlng = $('#mb_latlng').val().split(',');
				}
				map_api.register_map_location_move(mb_latlng[0],mb_latlng[1]);	// 좌표값 할당
			} else if(use_map=='naver'){
				if(insert_mode=='insert'){
					var mb_latlng = ['37.5010226', '127.0396037'];
				} else {
					var mb_latlng = $('#mb_latlng').val().split(',');
				}
				map_api.map_location_move(mb_latlng[1],mb_latlng[0]);
				map_api.marker_false();
				map_api.addMark();
				map_api.click_event();
				$('#mb_latlng').val(mb_latlng[0]+","+mb_latlng[1]);	// 좌표값 할당
			} else if(use_map=='google'){
				if(insert_mode=='insert'){
					var mb_latlng = ['37.5010226', '127.0396037'];
				} else {
					var mb_latlng = $('#mb_latlng').val().split(',');
				}
				$('#mb_latlng').val(mb_latlng[0]+","+mb_latlng[1]);
				map_api.map_point = [mb_latlng[0],mb_latlng[1],zoom];
				map_api.map_use("mapContainer", "", true);
				map_api.click_event();
				map_api.addMark();
			}
		}
		$('#postSearchKeyword').keydown(function(event){	// 우편번호 검색창 엔터키 이벤트
			if(event.keyCode==13){	
				postSearchs(mb_type);
				return false;
			}
		});
	});
}
var new_postSearchPops = function(mb_type){	// 도로명 우편번호 검색창 띄우기
	var mode = 'zipcode_'+mb_type;
	var map_color = "<?php echo $map_color;?>";
	$('#zipcode_info').load('./views/_load/layer.php', { mode:mode, type:'new', mb_type:mb_type, map_color:map_color }, function(result){
		$('.closeBtn, .close').click(function(){	// 우편번호 검색창 닫기
			$('#new_postSearchPop').hide();
		});

		$('#new_postSearchPop').show();
		$('#new_postSearchKeyword').focus();
		$('#new_postSearchPop').draggable({ handle: "#new_postSearchPop_handle" });
		if(mb_type=='company') {
			var insert_mode = $('#MemberFrm #mode').val();

			if(use_map=='daum') zoom = '4';
			else if(use_map=='naver') zoom = '10';
			else if(use_map=='google') zoom = '18';

			map_api.map_use("new_mapContainer", "", true);	// 지도 띄우기
			if(use_map=='daum'){
				if(insert_mode=='insert'){
					var mb_latlng = ['37.537123', '127.005523'];
				} else {
					var mb_latlng = $('#mb_latlng').val().split(',');
				}
				map_api.register_map_location_move(mb_latlng[0],mb_latlng[1]);	// 좌표값 할당
			} else if(use_map=='naver'){
				if(insert_mode=='insert'){
					var mb_latlng = ['37.5010226', '127.0396037'];
				} else {
					var mb_latlng = $('#mb_latlng').val().split(',');
				}
				map_api.map_location_move(mb_latlng[1],mb_latlng[0]);
				map_api.marker_false();
				map_api.addMark();
				map_api.click_event();
				$('#mb_latlng').val(mb_latlng[0]+","+mb_latlng[1]);	// 좌표값 할당
			} else if(use_map=='google'){
				if(insert_mode=='insert'){
					var mb_latlng = ['37.5010226', '127.0396037'];
				} else {
					var mb_latlng = $('#mb_latlng').val().split(',');
				}
				$('#mb_latlng').val(mb_latlng[0]+","+mb_latlng[1]);
				map_api.map_point = [mb_latlng[0],mb_latlng[1],zoom];
				map_api.map_use("new_mapContainer", "", true);
				map_api.click_event();
				map_api.addMark();
			}
		}
		$('#new_postSearchKeyword').keydown(function(event){	// 우편번호 검색창 엔터키 이벤트
			if(event.keyCode==13){	
				new_postSearchs(mb_type);
				return false;
			}
		});
	});
}
var postSearchs = function(mb_type){
	var keyword = $('#postSearchKeyword').val();
	if(!keyword || keyword==''){
		alert("동명을 입력해 주세요.");
		$('#postSearchKeyword').focus();
		return false;
	} else {
		$.post('./views/_ajax/post_search.php', { mode:mb_type, keyword:keyword }, function(result){
			$('#post_List').html("");
			var data = eval("(" + result + ")");
			if(data.list!=''){
				$.each(data.list, function(key,lists){
					zipcode = lists.ZIPCODE.split('-');
					sido = lists.SIDO;
					gugun = lists.GUGUN;
					dong = lists.DONG;
					ri = lists.RI;
					bunji = lists.BUNJI;
					doseo = (lists.DOSEO) ? "(도서지역)" : "";
					bldg_name = lists.BLDG;
					bldg = (bldg_name) ? " " + bldg_name : "";	// 건물명

					if(mb_type=='individual'){	// 개인회원 우편번호 검색 결과
						$('#post_List').append("<tr><td>"+lists.ZIPCODE+"</td><td class=\"address_list brend\"><a href=\"javascript:addPost('"+lists.ZIPCODE+"','"+sido+"','"+gugun+"','"+dong+"','"+ri+"','"+bunji+"', '"+bldg_name+"');\">"+lists.ADDRESS+"</a></td></tr>");
					} else if(mb_type=='company'){	// 기업회원 우편번호 검색 결과
						$('#post_List').append("<tr><td>"+lists.ZIPCODE+"</td><td class=\"address_list brend\"><a href=\"javascript:addPost_position('"+lists.ZIPCODE+"','"+sido+"','"+gugun+"','"+dong+"','"+ri+"','"+bunji+"', '"+bldg_name+"');\">"+lists.ADDRESS+"</a></td></tr>");
					}
				});
			} else {
				$('#post_List').html("<tr><td colspan=\"2\" style=\"text-align:center;height:165px;\">Хайлт олдсонгүй.</td></tr>");
			}
		});
	}
}

var new_postSearchs = function(mb_type){
	var keyword = $('#new_postSearchKeyword').val();
	if(!keyword || keyword==''){
		alert("동명을 입력해 주세요.");
		$('#new_postSearchKeyword').focus();
		return false;
	} else {
		$.post('./views/_ajax/post_search.php', { mode:mb_type, type:'new', keyword:keyword }, function(result){
			$('#new_post_List').html("");
			var data = eval("(" + result + ")");
			if(data.list!=''){
				$.each(data.list, function(key,lists){
					zipcode = lists.zipcode;
					sido = lists.sido;
					sigungu = lists.sigungu;
					upmyon = lists.upmyon;
					road_name = lists.road_name;
					bdno_M = lists.bdno_M;
					mass_delevery = lists.mass_delevery;

					law_dong_name = lists.law_dong_name;
					ri = lists.ri;
					jibun_M = lists.jibun_M;

					if(mb_type=='individual'){
						var post_list = "<tr>";
						post_list += "<td>"+zipcode+"</td>";
						post_list += "<td><a href=\"javascript:new_addPost('"+zipcode+"','"+sido+"','"+sigungu+"','"+upmyon+"','"+road_name+"','"+bdno_M+"','"+mass_delevery+"','"+law_dong_name+"','"+ri+"','"+jibun_M+"');\">"+sido+" "+sigungu+" "+upmyon+" "+road_name+" "+bdno_M+" "+mass_delevery+"</a></td>";
						post_list += "<td>"+law_dong_name+" "+ri+" "+jibun_M+"</td>";
						post_list += "</tr>";
						$('#new_post_List').append(post_list);
					} else {
						var post_list = "<tr>";
						post_list += "<td>"+zipcode+"</td>";
						post_list += "<td><a href=\"javascript:new_addPost_position('"+zipcode+"','"+sido+"','"+sigungu+"','"+upmyon+"','"+road_name+"','"+bdno_M+"','"+mass_delevery+"','"+law_dong_name+"','"+ri+"','"+jibun_M+"');\">"+sido+" "+sigungu+" "+upmyon+" "+road_name+" "+bdno_M+" "+mass_delevery+"</a></td>";
						post_list += "<td>"+law_dong_name+" "+ri+" "+jibun_M+"</td>";
						post_list += "</tr>";
						$('#new_post_List').append(post_list);
					}

					//alert(zipcode+" "+sido+" "+sigungu+" "+upmyon+" "+road_name+" "+bdno_M+" "+mass_delevery+" "+law_dong_name+" "+ri+" "+jibun_M);
					//return false;
				});
			} else {
				$('#new_post_List').html("<tr><td colspan=\"3\" style=\"text-align:center;height:165px;\">Хайлт олдсонгүй.</td></tr>");
			}
		});

	}
}

var addPost = function( zipcode, sido, gugun, dong, ri, bunji, bldg ){	// 우편번호 적용
	// 우편번호
	var zipcodes = zipcode.split('-');
	$('#mb_zipcode0').val(zipcodes[0]);
	$('#mb_zipcode1').val(zipcodes[1]);
	// 기본주소
	ris = (ri) ? ' ' + ri : '';	// 리가 없는 경우 공백이 들어올수 없다
	bunjis = (bunji) ? ' ' + bunji : '';	// 번지가 없는 경우 공백이 들어올수 없다
	$('#mb_address0').val(sido+' '+gugun+' '+dong+ris+bunjis+' '+bldg);
	$('#postSearchPop').hide();
	$('#mb_address1').focus();
}
var addPost = function( zipcode, sido, gugun, dong, ri, bunji, bldg ){	// 우편번호 적용
	// 우편번호
	var zipcodes = zipcode.split('-');
	$('#mb_zipcode0').val(zipcodes[0]);
	$('#mb_zipcode1').val(zipcodes[1]);
	// 기본주소
	ris = (ri) ? ' ' + ri : '';	// 리가 없는 경우 공백이 들어올수 없다
	bunjis = (bunji) ? ' ' + bunji : '';	// 번지가 없는 경우 공백이 들어올수 없다
	$('#mb_address0').val(sido+' '+gugun+' '+dong+ris+bunjis+' '+bldg);
	$('#postSearchPop').hide();
	$('#mb_address1').focus();
}
var addPost_position = function( zipcode, sido, gugun, dong, ri, bunji, bldg ){	// 우편번호 적용 후 지도 이동
	// 우편번호
	var zipcodes = zipcode.split('-');
	$('#mb_zipcode0').val(zipcodes[0]);
	$('#mb_zipcode1').val(zipcodes[1]);
	// 기본주소
	ris = (ri) ? ' ' + ri : '';	// 리가 없는 경우 공백이 들어올수 없다
	bunjis = (bunji) ? ' ' + bunji : '';	// 번지가 없는 경우 공백이 들어올수 없다
	$('#mb_address0').val(sido+' '+gugun+' '+dong+ris+bunjis+' '+bldg);

	if(use_map=='daum'){	// 다음
		daum_addrSearch(sido+' '+gugun+' '+dong);
	} else if(use_map=='naver'){	// 네이버
		bunji_split = (ris+bunjis).split('~');
		//sido+' '+gugun+' '+dong+ris+bunjis+' ';
		naver_addrSearch(sido+' '+gugun+' '+dong+ris+bunjis);
	} else if(use_map=='google'){	// 구글
		google_addrSearch(sido+' '+gugun+' '+dong+ris+bunjis);
	}

}
var daum_addrSearch = function( search_addr ){	// 다음 지도 api 주소 검색
	var s = document.createElement('script');
	s.type ='text/javascript';
	s.charset ='utf-8';
	s.src = 'http://apis.daum.net/local/geo/addr2coord?apikey=' + daum_local_APIKEY + '&output=json&callback=daumSearchResult&q=' + encodeURI(search_addr);
	document.getElementsByTagName('head')[0].appendChild(s);
}
var daumSearchResult = function( result ){	// 다음 지도 api 주소 검색 결과
	var point_y = result.channel.item[0].point_y;
	var point_x = result.channel.item[0].point_x;
	map_api.register_map_location_move(point_y,point_x);	// 좌표값 할당
}
var naver_addrSearch = function( search_addr ){	 // 네이버 지도 api 주소 검색 결과
	$.post('./views/_ajax/post_search.php', { mode:'naver_map_search', search_addr:search_addr }, function(result){
		var data = eval("(" + result + ")");
		var point_y = data.mapy;
		var point_x = data.mapx;
		map_api.map_location_move(point_x,point_y);
		map_api.marker_false();
		map_api.addMark();
		map_api.click_event();
		$('#mb_latlng').val(point_y+","+point_x);	// 좌표값 할당
	});
}
var google_addrSearch = function( search_addr ){	// 구글 지도 api 주소 검색 결과
	$.post('./views/_ajax/post_search.php', { mode:'google_map_search', search_addr:search_addr }, function(result){
		point = result.split('/');
		$('#mb_latlng').val(point[0]+","+point[1]);
		map_api.map_point = [point[0],point[1],'18'];
		map_api.map_use("mapContainer", "", true);
		map_api.click_event();
		map_api.addMark();
	});
}
var page_rows = function(sels){	// 출력 갯수
	var sel = sels.value, send_url = "<?php echo $member_list['send_url'];?>";
	location.href = "./index.php?"+send_url+"&page_rows=" + sel;
}
var pop_member = function( mb_id ){		// 회원 정보
	$('#pop_info').load('./views/_load/member.php', { mode:'get_member', mb_id:mb_id }, function(){
		$('#pop_mem').draggable({ handle: "#memHandle" });
		$('#pop_mem').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
	});
}

// 신주소 (도로명 주소)
var new_addresses = function( vals ){
	var sel = vals.value;
	$('.addresWrap').hide();
	if(sel==1){
		$('#new_address_block').show();
		$('#new_mb_zipcode0').attr('required',true);
		$('#new_mb_zipcode1').attr('required',true);
		$('#new_mb_address0').attr('required',true);
		$('#new_mb_address1').attr('required',true);
		$('#mb_zipcode0').removeAttr('required');
		$('#mb_zipcode1').removeAttr('required');
		$('#mb_address0').removeAttr('required');
		$('#mb_address1').removeAttr('required');
	} else {
		$('#old_address_block').show();
		$('#new_mb_zipcode0').removeAttr('required');
		$('#new_mb_zipcode1').removeAttr('required');
		$('#new_mb_address0').removeAttr('required');
		$('#new_mb_address1').removeAttr('required');
		$('#mb_zipcode0').attr('required',true);
		$('#mb_zipcode1').attr('required',true);
		$('#mb_address0').attr('required',true);
		$('#mb_address1').attr('required',true);
	}
}

var new_addPost = function( zipcode, sido, sigungu, upmyon, road_name, bdno_M, mass_delevery, law_dong_name, ri, jibun_M  ){	// 도로명 우편번호 적용
	
	//alert(zipcode+"\n\n"+sido+"\n\n"+sigungu+"\n\n"+upmyon+"\n\n"+road_name+"\n\n"+bdno_M+"\n\n"+mass_delevery+"\n\n"+law_dong_name+"\n\n"+ri+"\n\n"+jibun_M);

	// 우편번호
	var zipcodes = zipcode.split('-');
	$('#new_mb_zipcode0').val(zipcodes[0]);
	$('#new_mb_zipcode1').val(zipcodes[1]);

	// 기본주소
	var add_address = sido + " ";
	add_address += sigungu + " ";
	add_address += (upmyon) ? upmyon + " " : "";
	add_address += road_name + " ";
	add_address += bdno_M + " ";
	add_address += (mass_delevery) ? mass_delevery : "";

	var add_address1 = (law_dong_name) ? law_dong_name + " " : "";
	add_address1 += (ri) ? ri + " " : "";
	add_address1 += (jibun_M) ? jibun_M : "";

	$('#new_mb_address0').val( add_address + "("+add_address1+")");
	$('#new_postSearchPop').hide();
	$('#new_mb_address1').focus();

}
var service_opens = function( mb_id ){	// 열람 서비스
	$('#pop_info').load('./views/_load/layer.php', { mode:'indi_open_service', mb_id:mb_id }, function(result){
		$('#mb_service_alba_open').datepicker({dateFormat: 'yy-mm-dd'});
		$('#pop_open_service').draggable({ handle: "#MemberOpenServiceFrmHandle" });
		$('#pop_open_service').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
		var open_options = { beforeSubmit: openRequest, success: openResponse };	// open service ajax options
		$('#MemberOpenServiceFrm').ajaxForm(open_options);	// open service ajax form submit
	});
}

</script>

<div id="question" style="display:none; cursor: default">
	<div id='quest_info'></div>
	<p align='center' id='confirm_msg'></p><br/>
	<p align='center'>
		<span id='questionAnswerYes'><input type="button" onClick="questionAnswer('yes');" value="тийм" /> </span>
		<input type="button" onClick="questionAnswer('no');" value="үгүй" />
	</p>
</div> 

<table class="layout">
<tr valign="top">
<td id="lmn"><?php include_once "../include/left_menu.php"; ?></td>
<td width="1">
<td id="left" class="<?php echo $top_menu_code;?>"><?php include_once "../include/left.php"; ?></td>
<td id="lopen"  class="<?php echo $top_menu_code;?>" onClick="left_menu_open('<?php echo $top_menu_code;?>');" onMouseOver="this.className='on'" onMouseOut="this.className=''"><img src="../../images/comn/b.gif"></td>
<td class="h pr5">
<table class="ltbl">
<!--<tr><td class=nb_01></td><td class=nb_02></td><td class=nb_03></td></tr><tr>-->
<td width="1"></td><td class="nb">
<dl class="loc"><?php echo $sub_menu_name; include_once "../include/navi.php"; ?></dl>

<dl class="notbox">
	<dl>
				    Гишүүдийн бүртгэл, өөрчлөх, устгах үйл ажиллагааг удирдаж болно.<br/>
					Гишүүний ID дээр дарж гишүүний дэлгэрэнгүй хуудас руу орно уу.<br/>
					SMS жагсаалтыг дарж текст мессежний тоог засах боломжтой.<br/>
					(▼) Буурах эсвэл өсөх дарааллаар эрэмбэлэгдсэн жагсаалтыг харахын тулд дарна уу. <br/>
					Excel-ийг хадгалах товчийг дарж шалгасан гишүүдийн мэдээллийг Excel файл хэлбэрээр татаж авна уу.<br/>
	</dl>
</dl>

<?php include_once "./views/_include/search.php"; ?>
	<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">Гишүүд удирдах
		<span>төрөл <b class="num3 col"><?php echo number_format($member_list['total_count']);?></b>Гишүүн олдсонгүй.</span>
		<dt>
			<label><input name="alwaysDsrch" type="checkbox" value="1" class="check">Дэлгэрэнгүй хайх</label>&nbsp;
			<select name="page_rows" onchange="page_rows(this);">
				<option value='15' <?php echo ($page_rows==15)?'selected':'';?>>15ш</option>
				<option value='30' <?php echo ($page_rows==30)?'selected':'';?>>30ш</option>
				<option value='50' <?php echo ($page_rows==50)?'selected':'';?>>50ш</option>
				<option value='70' <?php echo ($page_rows==70)?'selected':'';?>>70ш</option>
				<option value='100' <?php echo ($page_rows==100)?'selected':'';?>>100ш</option>
			</select>
	</dt>
</dl>  

<dl class="page top lnb_col" style="border-bottom:1px solid #ddd;">
	<dt>
		<a onClick="selAll();" class="btn"><h1 class="btn23"><strong>A</strong>Нийт хайлт</h1></a>
		<a onClick="sel_delete_member();" class="btn"><h1 class="btn23"><strong>-</strong></h1></a>
		<a onClick="sel_delete_member();" class="btn"><h1 class="btn23"><strong>-</strong>Бүгдийг сонгох</h1></a>
	</dt>
	<dd>
		<a href="./process/download.php?mb_type=individual&<?php echo ($member_list['send_url'])?$member_list['send_url']:"";?>" class="btn"><h1 class="btn23"><span class="ic" style="background-image:url(../../images/ic/xls.gif);"></span>Excel-д хадгалах</h1></a>
		<a onClick="update_member('insert','','individual');" class="cbtn lnb_col grf_col"><h1 class="btn23"><strong>+</strong>Гишүүнчлэлийн бүртгэл</h1></a>
	</dd>


</dl>

<table width="100%" class="ttlt">
<col width="2%"><col width="7%"><col width="11%" span="2"><col width="9%"><col width="6%" span="2"><col width="7%"><col width="5%"><col width="5%"><col width="8%"><col width="5%"><col width="8%"><col width="5%"><col width="10%">
<tr class="bg">
	<td><input name="check_all" type="checkbox"></td>
	<td title="커뮤니티에서 사용되는 회원등급 입니다."><a href="./individual.php?<?php echo $member_list['send_url'];?>&sort=mb_level&flag=<?php echo ($sort=='mb_level'&&$flag=='asc')?'desc':'asc';?>">Гишүүнчлэлийн зэрэг<span><?php echo ($sort=='mb_level'&&$flag=='asc')?'▲':'▼';?></span></a></td>
	<td><a href="./individual.php?<?php echo $member_list['send_url'];?>&sort=mb_id&flag=<?php echo ($sort=='mb_id'&&$flag=='asc')?'desc':'asc';?>">Гишүүний ID<span><?php echo ($sort=='mb_id'&&$flag=='asc')?'▲':'▼';?></span></a></td>
	<td><a href="./individual.php?<?php echo $member_list['send_url'];?>&sort=mb_name&flag=<?php echo ($sort=='mb_name'&&$flag=='asc')?'desc':'asc';?>">Нэр(хүйс/нас)<span><?php echo ($sort=='mb_name'&&$flag=='asc')?'▲':'▼';?></span></a></td>
	<td>닉네임</td>
	<td>점프</td>
	<!-- 
	<td><a href="./individual.php?<?php echo $member_list['send_url'];?>&sort=mb_sms&flag=<?php echo ($sort=='mb_sms'&&$flag=='asc')?'desc':'asc';?>">SMS<span><?php echo ($sort=='mb_sms'&&$flag=='asc')?'▲':'▼';?></span></a></td>
	-->
	<td><a href="./individual.php?<?php echo $member_list['send_url'];?>&sort=mb_point&flag=<?php echo ($sort=='mb_point'&&$flag=='asc')?'desc':'asc';?>">Point<span><?php echo ($sort=='mb_point'&&$flag=='asc')?'▲':'▼';?></span></a></td>
	<td><a href="./individual.php?<?php echo $member_list['send_url'];?>&sort=mb_alba_resume_count&flag=<?php echo ($sort=='mb_alba_resume_count'&&$flag=='asc')?'desc':'asc';?>">Анкет<span><?php echo ($sort=='mb_alba_resume_count'&&$flag=='asc')?'▲':'▼';?></span></a></td>
	<td><a href="./individual.php?<?php echo $member_list['send_url'];?>&sort=mb_alba_count&flag=<?php echo ($sort=='mb_alba_count'&&$flag=='asc')?'desc':'asc';?>">Хүсэлтийн тоо<span><?php echo ($sort=='mb_alba_count'&&$flag=='asc')?'▲':'▼';?></span></a></td>
	<td>Ажилд орох өргөдлийн тоо</td>
	<td>Унших үйлчилгээ</td>
	<td>Уншсан тоо</td>
	<td><a href="./individual.php?<?php echo $member_list['send_url'];?>&sort=mb_wdate&flag=<?php echo ($sort=='mb_wdate'&&$flag=='asc')?'desc':'asc';?>">가입일<span><?php echo ($sort=='mb_wdate'&&$flag=='asc')?'▲':'▼';?></span></a></td>
	<!--<td>탈퇴요청일</td>
	<td>탈퇴일</td>-->
	<td>Алдаа</td>
	<td>Зассан</td>
</tr>
<tbody id="member_list">
<?php if(!$member_list['total_count']){ ?>
<tr><td colspan="17" class="stlt"></td></tr>
<?php } else { 
	foreach($member_list['result'] as $val){
	$mb_level = $member_control->get_level($val['mb_level']);	 // 회원등급
	$mb_name  = $val['mb_name'];
	$get_gender = $member_control->mb_gender[$val['mb_gender']];	// 성별
	$get_age = $member_control->get_age($val['mb_birth']);	// 나이
	$mb_name .= " (".$get_gender."/".$get_age."세)";

	$mb_wdate = substr($val['mb_wdate'],0,11);	// 가입일
	$mb_left_request_date = $mb_left = "<span style='color:#dfdfdf;' title='탈퇴신청을 하지 않은 회원입니다.'>Цуцлах хүсэлт буцаах</span>";
	$mb_left_date = "<span style='color:#dfdfdf;' title='탈퇴하지 않은 회원입니다.'>Цуцлахгүй</span>";

	if($val['mb_left_request']){
		$mb_left_request_date = $val['mb_left_request_date'];
		$mb_left_date = "<span style='color:#dfdfdf;' title='탈퇴 요청 회원입니다.'>Цуцлах хүсэлт</span>";
	}
	if($val['mb_left']){
		$mb_left_request_date = $val['mb_left_request_date'];
		$mb_left_date = $val['mb_left_date'];
	}
	$become_cnt = $alba_company_control->proposal_count('become',$val['mb_id']);
	$interview_cnt = $alba_company_control->proposal_count('interview',$val['mb_id']);
	$service_member = $member_control->get_service_member($val['mb_id']);сс
?>
<tr>
	<td><input type="checkbox" name='no[]' class='check_all' value="<?php echo $val['no'];?>"></td>
	<td><?php echo $mb_level;?></td>
	<td><a onclick="pop_member('<?php echo $val['mb_id'];?>');" class="b"><?php echo $val['mb_id'];?></a></td>
	<td><?php echo $mb_name;?></td>
	<td><?php echo stripslashes($val['mb_nick']);?></td>
	<td><a onclick="pop_jumpcharge('<?php echo $val['no'];?>');" class="b"><?php echo ($val['mb_type']=='individual')?number_format($service_member['mb_resume_jump_count']):number_format($service_member['mb_alba_jump_count']);?></a></td>
	<!-- <td><a onclick="pop_smscharge('<?php echo $val['no'];?>');" class="b"><?php echo number_format($val['mb_sms']);?></a></td> -->
	<td><?php echo number_format($val['mb_point']);?></td>
	<td><?php echo ($val['mb_alba_resume_count'])?"<a href='../alba/resume.php?mode=search&page_rows=15&search_field=wr_id&search_keyword=".$val['mb_id']."' class='b'>".number_format($val['mb_alba_resume_count'])."</a>":$val['mb_alba_resume_count'];?></td><!-- 이력서 수 -->
	<td><?php echo number_format($val['mb_alba_count']);?></td><!-- 정규직 지원수 -->
	<td><?php echo number_format($become_cnt);?> <!-- /<?php //echo number_format($interview_cnt);?> --></td>
	<td><a onclick="service_opens('<?php echo $val['mb_id'];?>', 'open');" title="클릭하시면 이력서 열람서비스 기간을 조절할수 있습니다."><?php echo $service_member['mb_service_alba_open'];?></a></td>
	<td><a onclick="service_opens('<?php echo $val['mb_id'];?>', 'count');" title="클릭하시면 이력서 열람서비스 기간을 조절할수 있습니다."><?php echo $service_member['mb_service_alba_count'];?></a></td>
	<td title="<?php echo $val['mb_wdate'];?>"><?php echo $mb_wdate;?></td>
	<!--<td><?php echo $mb_left_request_date;?></td>
	<td><?php echo $mb_left_date;?></td>-->

	<td><a onclick="pop_badness('<?php echo $val['no'];?>');" title="클릭하시면 <?php echo (!$val['mb_badness'])?'정상':'불량';?>회원으로 변경 됩니다."><?php echo (!$val['mb_badness'])?'정상':'<b>불량</b>';?></a></td>

<td class="edit e">
				<p class="" style="display:inline-block; width:85px;">
					<span style="display:inline-block;width:40px;cursor:pointer;margin-right:1px;"class="" onClick="update_member('update','<?php echo $val['no'];?>','<?php echo $val['mb_type'];?>');"><img src="../../images/btn/19_05.gif"></span><span style="display:inline-block;width:40px;cursor:pointer;"class="" onClick="delete_member('<?php echo $val['no'];?>');"><img src="../../images/btn/19_06.gif"></span>
				</p><br/>
				<p class="" style="display:inline-block;width:82px; margin-top:1px;">
					<span style="display:inline-block;width:26px;cursor:pointer; margin-right:1px;"class="" onClick="pop_sms('<?php echo $val['no'];?>');"><img src="../../images/btn/20_01.gif"></span><span style="display:inline-block;width:26px;cursor:pointer;margin-right:1px;"class="" onClick="pop_email('<?php echo $val['no'];?>');"><img src="../../images/btn/20_02.gif"></span><span style="display:inline-block;width:26px;cursor:pointer;"class="" onClick="pop_memo('<?php echo $val['no'];?>');"><img src="../../images/btn/20_03<?php echo ($val['mb_memo'])?"_1":"";?>.gif"></span>
				</p>
				</td>
				</tr>
<?php 
	} // foreach end.
} // if end.
?>
</tbody>
</table>

<dl class="page mb50">
	<?php include_once "../include/paging.php"; ?>
	<dt>
		<a onClick="selAll();" class="btn"><h1 class="btn23"><strong>A</strong>Бүгдийг устгах</h1></a>
		<a onClick="sel_delete_member();" class="btn"><h1 class="btn23"><strong>-</strong>Сонголтыг устгах</h1></a>
		<a onClick="sel_pop_email();" class="btn"><h1 class="btn23">И-мэйл илгээх</h1></a>
	</dt>
	<dd>
		<a onClick="sel_level();" class="btn"><h1 class="btn23"><span class="ic" style="background-image:url(../../images/ic/ref.gif);"></span>Гишүүнчлэлийн зэрэг</h1></a>
		<a href="./process/download.php?mb_type=company&<?php echo ($member_list['send_url'])?$member_list['send_url']:"";?>" class="btn"><h1 class="btn23"><span class="ic" style="background-image:url(../../images/ic/xls.gif);"></span>Excel-д хадгалах</h1></a>
		<a onClick="update_member('insert','','company');" class="cbtn lnb_col grf_col"><h1 class="btn23"><strong>+</strong>Гишүүний бүртгэл</h1></a>
	</dd>

	<dl id="pop_level" class="psa boxbg fon11" style="top:27px;right:0;display:none;">
		Сонгосон гишүүнийг
		<select name="mb_level" id="mb_level">
			<option>Гишүүнчлэлийг түвшин</option>
			<?php foreach($category_list as $val){ if($val['rank']=='1') continue;?>
			<option value='<?php echo $val['rank']?>'><?php echo $val['name']?></option>
			<?php } ?>
		</select>
		өөрчлөх <img src="../../images/btn/19_ok.gif" class='hand' id='levelChangeBtn'>
	</dl>
</dl>

<div id='pop_info'></div>
<div id='zipcode_info'></div>

<!--</td><td class=nb_05></td></tr><tr><td class=nb_06></td><td class=nb_07></td><td class=nb_08></td></tr>-->
</table></td>
</tr>
</table>

<script>
var send_showRequest = function(formData, jqForm, send_options){
	var queryString = $.param(formData); 
	var SMSSendFrm = document.getElementById('SMSSendFrm');
	return validate(SMSSendFrm);
}
var send_showResponse = function(responseText, statusText, xhr, $form){
	var results = responseText.split('/');
	var result = results[0], msg = results[1];
	alert(msg);
	if(result=='success'){
		//alert("<?//php echo $sms_control->_success('0005');?>");
		sms_cancel();	// 초기화
	}
}
// ajax form 전송 전 데이터
var showRequest = function(formData, jqForm, options){
	var queryString = $.param(formData); 
	var sendFrm = jqForm.attr('name');
	if(sendFrm=='MemberEmailFrm'){	// 이메일 전송시
		$('#pop_mail').hide();
		$('#status_info').html("<span style='font-size:9pt;'><p>И-мэйл илгээж байна ...<p><Br/><font color=crimson><b>[Амжилттай]</b></font> гарж иртэл ачаалаж болохгүй.<p></span>");
		$.blockUI({ 
			theme: true,
			title: 'Гишүүний и-мэйл илгээх',
			showOverlay: false,
			message: $('#email_status')
		});
	} else if(sendFrm=='MemberFrm'){	// 회원 등록/수정시
		var memberFrm = document.getElementById('MemberFrm');
		return validate(memberFrm);
	}
}
// ajax form 전송 후 결과
var showResponse = function(responseText, statusText, xhr, $form){

	var results = responseText.split('/');

	if(!results[1]){
		alert(responseText);
		return false;
	}

	if( results[0] == 'memo' ) {		// 메모 작성

		if( results[1] ){
			alert("<?php echo $member_control->_success('0002');?>");
			$('#pop_memo').hide();
			if( results[3] != "" ){	// 메모값이 있다면
				$('#memo_'+results[2]).addClass('org');
			} else {	 // 없다면
				$('#memo_'+results[2]).removeClass('org');
			}
		} else {
			alert("<?php echo $member_control->_errors('0002');?>");
			return false;
		}

	} else if( results[0] == 'email' ) {	// 이메일 전송

		$('#status_info').append("<br/><br/>총 "+results[2]+" төрөл <font color=crimson><b>[Амжилттай]</b></font><br/><p align='center'><span id='emailConfirm'><input type='button' value='Батлах' style='width:40px;' onclick='$.unblockUI();'/> </span></p>");

	} else if( results[0] == 'member' ){	 // 회원 등록/수정 결과

		var mode = results[1], msg = results[2], mb_type = results[4], mb_id = results[5], return_regist = results[6];
		
		if(return_regist){	// 회원등록 후 공고 등록 이라면
			if(mb_type=='company'){
				location.href = "../alba/index.php?mode=insert&mb_id="+mb_id;
			} else if(mb_type=='individual'){
				location.href = "../alba/resume.php?mode=insert&mb_id="+mb_id;
			}
		}

		if(mode=='insert'){
			if(msg=='0000'){
				alert("<?php echo $member_control->_success('0004');?>");
				location.reload();
			}
		} else if(mode=='update'){
			if(msg=='0000'){
				alert("<?php echo $member_control->_success('0003');?>");
				location.reload();
			}
		}

	} else if(results[0] == 'badness'){	// 불량회원 등록
	
		if(results[1]){
			alert("<?php echo $member_control->_success('0003');?>");
			location.reload();
		} else {
			alert("<?php echo $member_control->_errors('0009');?>");
		}

	} else if(results[0] == 'sms_charge'){	// SMS 충전

		if(results[1]){
			alert("<?php echo $member_control->_success('0005');?>");
			location.reload();
		} else {
			alert("<?php echo $member_control->_errors('0016');?>");
		}

	} else if(results[0] == 'jump_charge'){	// 점프 건수 충전

			if(results[1]){
				alert("<?php echo $member_control->_success('0006');?>");
				location.reload();
			} else {
				alert("<?php echo $member_control->_errors('0017');?>");
			}

	}

}
var openRequest = function(formData, jqForm, open_options){	// 열람 서비스
	var queryString = $.param(formData); 
	return true;
}
var openResponse = function(responseText, statusText, xhr, $form){
	if(responseText){
		location.reload();
	} else {
		alert("<?php echo $member_control->_errors('0014');?>");
	}
}
</script>
<?php include_once "../include/tail.php";?>