<?php if (!defined("_ALICE_")) exit; // 개별 페이지 접근 불가 ?>

<script>
$(function(){
	$('input[type=file]').filestyle({
		image : "../../images/btn/23_01.gif",
		imageheight : 23,
		imagewidth : 48,
		marginleft : 5,
		width : 220
	});

	$('.img_file').each(function(){
		var no = $(this).attr('no');
		var img_options = {
			target : '#limg_'+no+'_preview',
			beforeSubmit : imgRequest,
			success : imgResponse
		}
		$('#img_'+no).live('change', function(){
			$('#mode').val('level_icon');
			$('#level_no').val(no);
			$('#pointConfigFrm').ajaxSubmit(img_options);
		});
	});
	
	$("input[name='use_point']").click(function(){
		var use_points = $(this).val();
		if(use_points=='1') $('#point_sets').show();
		else $('#point_sets').hide();
	});
});
var level_views = function( no, obj ){	// 출력설정
	var view = obj.checked;
	$.post('./process/level.php', { mode:'level_view', no:no, view:view }, function(result){
		if(result=='0020')
			alert("<?php echo $config->_errors('0020');?>");
		else
			alert("<?php echo $config->_success('0020');?>");
	});
}
var input_Display = function(){
	$('#inputDisplay').toggle();
}
var icon_input = function( no ){	// 등급아이콘등록 폼
	if(no)
		$('#limg_'+no).toggle();
	else
		$('#limg').toggle();
}
var update_level = function( mode, no ){	 // 등급 수정
	if(mode=='insert'){
		$('#mode').val('level_insert');
		var img_options = { target : '', beforeSubmit : imgRequest, success : insertResponse }
		$('#pointConfigFrm').ajaxSubmit(img_options);
	} else if(mode=='update'){
		var view = $('#view_'+no).is(':checked');
		var rank = $('#rank_'+no).val();
		var name = $('#name_'+no).val();
		var etc_0 = $('#etc_0_'+no).val();
		if(rank=='') {
			alert("<?php echo $category_control->_errors('0011');?>");
			return false;
		}
		if(etc_0=='') {
			alert("<?php echo $category_control->_errors('0012');?>");
			return false;
		}
		$.post('./process/level.php', { mode:'level_update', level_no:no, view:view, rank:rank, name:name, etc_0:etc_0 }, function(result){
			if(result=='0013')
				alert("<?php echo $category_control->_errors('0013');?>");
			else
				alert("<?php echo $category_control->_success('0002');?>");
		});
	}
}
var delete_level = function( no ){	// 등급 삭제
	var name = $('#name_'+no).val();
	$('#quest_name').html(name);
	$('#quest_info').show();
	$('#confirm_msg').html("위의 정보를 삭제하시겠습니까?");
	$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'level_delete\', \''+no+'\');" value="예" />');
	// 질의(Confirm) 창 띄우기
	$.blockUI({ 
		theme: true,
		title: '회원등급 삭제',
		showOverlay: false,
		message: $('#question')
	});
}
var update_level_sel = function(){	// 일괄수정

	var sel_nos = new Array();
	var i = 0;	
	$('.level_info').each(function(){
		var no = $(this).attr('no');
		sel_nos[i] = no;
	i++;
	});
	
	$('#quest_info').hide();
	$('#confirm_msg').html("회원등급을 현재 입력하신대로 일괄수정 하시겠습니까?");
	
	$('#questionAnswerYes').html("<input type=\"button\" onClick=\"questionAnswer('yes', 'sel_level_update','"+sel_nos+"');\" value=\"예\" />");	
	// 질의(Confirm) 창 띄우기
	$.blockUI({ 
		theme: true,
		title: '회원등급 정보 일괄적용',
		showOverlay: false,
		message: $('#question')
	});

}
var questionAnswer = function(answer, mode, no, name){	 // 질의 응답에 따른 처리
	if(answer=='yes'){
		switch(mode){
			case 'sel_level_update':	// 일괄적용
				var no_cnt = no.split(',').length;
				var sel_nos = new Array();
				var sel_views = new Array();
				var sel_ranks = new Array();
				var sel_names = new Array();
				var sel_etc0 = new Array();
				i = 0;
				$('.level_info').each(function(){
					var no = $(this).attr('no');
					var view = $('#view_'+no).is(':checked'), rank = $('#rank_'+no).val(), name = $('#name_'+no).val(), etc_0 = $('#etc_0_'+no).val();
					sel_nos[i] = no;
					sel_views[i] = view;
					sel_ranks[i] = rank;
					sel_names[i] = name;
					sel_etc0[i] = etc_0;
				i++;
				});

				$.post('./process/level.php', { mode:mode, no:sel_nos, view:sel_views, rank:sel_ranks, name:sel_names, etc_0:sel_etc0 }, function(result){
					if(result=='0014'){
						alert("<?php echo $category_control->_errors('0014');?>");
						$.unblockUI();
						return false;
					} else {
						location.reload();
					}					
				});
			break;
			case 'level_delete':	// 삭제
				$.post('./process/level.php', { mode:'level_delete', no:no } , function(result){
					if(result=='0006'){
						alert("<?php echo $category_control->_errors('0016');?>");
						$.unblockUI();
						return false;
					} else {
						location.reload();
					}
				});
			break;

		}
	} else {
		$.unblockUI();
	}
}
var configSubmit = function(){	// 기본포인트설정 폼 전송
	var img_options = { target : '', beforeSubmit : imgRequest, success : insertResponse }
	$('#mode').val('environment_update');
	$('#pointConfigFrm').ajaxSubmit(img_options);
}
</script>

<div id="question" style="display:none; cursor: default">
	<div id='quest_info'></div>
	<p align='center' id='confirm_msg'></p><br/>
	<p align='center'>
		<span id='questionAnswerYes'><input type="button" onClick="questionAnswer('yes');" value="예" /> </span>
		<input type="button" onClick="questionAnswer('no');" value="아니오" />
	</p>
</div> 

<table class="layout">
<tr valign="top">
<td id="lmn"><?php include_once "../include/left_menu.php"; ?></td>
<td width="1">
<td id="left" class="<?php echo $top_menu_code;?>"><?php include_once "../include/left.php"; ?></td>
<td id="lopen"  class="<?php echo $top_menu_code;?>" onClick="left_menu_open('<?php echo $top_menu_code;?>');" onMouseOver="this.className='on'" onMouseOut="this.className=''"><img src="../../images/comn/b.gif"></td>
<td class="h pr5">
<table class="ltbl">
<!--<tr><td class=nb_01></td><td class=nb_02></td><td class=nb_03></td></tr><tr>-->
<td width="1"></td><td class="nb">
<dl class="loc"><?php echo $sub_menu_name; include_once "../include/navi.php"; ?></dl>
<dl class="notbox"><dl>
회원 포인트별로 레벨을 지정할수 있으며, 회원등급명 설정이 가능합니다.<br/>
회원 포인트는 커뮤니티에서 주로 사용되며, 구인공고, 이력서 등록시 회원 활동 상황을 알수 있는 척도가 됩니다.<br/>
</dl></dl>
<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">회원등급설정</dl>  

<form name="pointConfigFrm" method="post" id="pointConfigFrm" action="./process/level.php" enctype="multipart/form-data">
<input type="hidden" name="mode" value="update" id="mode"/><!-- 회원등급/포인트 설정정보 수정 -->
<input type="hidden" name="ajax" value="1"/><!-- ajax mode 유무 -->
<input type="hidden" name="uid" value="<?=$admin_info['uid']?>"/><!-- 현재 설정 관리자 uid -->
<input type="hidden" name="no" value="<?=$env['no']?>"/><!-- 환경설정 no -->
<input type="hidden" name="level_no" id="level_no"/><!-- 카테고리 레벨 no -->

	<table width="100%" class="ttlt">
	<col width=50><col width=50><col width=150><col width=23><col><col width=52><col width=52>
	<tr class="bg">
		<td>출력</td>
		<td>레벨</td>
		<td>회원등급명</td>
		<td colspan="2">등급설정</td>
		<td>수정</td>
		<td class="e">삭제</td>
	</tr>
	<?php if(!$level_category){ ?>
	<tr><td colspan="7" class="stlt"></td></tr>
	<?php } else {?>
	<tbody id="level_list">
	<?php 
		foreach($level_category as $key => $val){ 
			$no = $val['no'];
			$name = $utility->remove_quoted($val['name']);
			$level_last = $val['rank'];
	?>
	<tr class='level_info' no="<?php echo $no;?>" rank="<?php echo $val['rank'];?>">
		<td><input type="checkbox" name="view[<?php echo $no;?>]" class='check_all' value="yes" <?php echo ($val['view']=='yes')?'checked':'';?> onclick="level_views('<?php echo $no;?>',this);" <?php echo ($val['rank']==1)?'disabled':'';?> id="view_<?php echo $no;?>"></td>
		<td>
			<?php if($val['rank']==1){ ?>
				<b><?php echo $val['rank'];?></b>
				<input type="hidden" name='rank[<?php echo $no;?>]' value="<?php echo $val['rank'];?>" id="rank_<?php echo $no;?>"/>
			<?php } else { ?>
				<input type="text" name='rank[<?php echo $no;?>]' class="tnum b tc num_only" style='width:35px;ime-mode:disabled;' value="<?php echo $val['rank'];?>" id="rank_<?php echo $no;?>"/>
			<?php } ?>
		</td>
		<td><input type="text" name='name[<?php echo $no;?>]' class="txt" style='width:95%;' value="<?php echo $name;?>" id="name_<?php echo $no;?>"></td>
		<td><?php if($val['etc_1']){ ?><span id='limg_<?php echo $no;?>_preview'><img src='<?php echo $alice['peg_path']."/".$val['etc_1'];?>' class="vm"></span><?php } else { ?>&nbsp;<?php } ?></td>
		<td class="ln_r ln_b tl" style="padding:5px 0px;">
			<dl class="ds2 w100">
				<span class="ds fl" style="width:210px;">
					&nbsp;<label class="m0 h20">활동포인트</label> 
					<?php if($val['rank']==1){ ?> <b>0</b> &nbsp;<?php } else { ?>
					<input type="text" name="etc_0[<?php echo $no;?>]" class="tnum b num_only" style='ime-mode:disabled;' size="5" value="<?php echo $val['etc_0'];?>" id="etc_0_<?php echo $no;?>">
					<?php } ?>
					<img src='../../images/ic/point.gif' class="vm"> <label class="m3">이상일때</label>
				</span>
				<a class="btn b19 fl" onclick="icon_input('<?php echo $no;?>');"><span>등급아이콘등록</span></a>
				<span id='limg_<?php echo $no;?>' style="display:none;" class="ds fl ml5">
					<span id='limg_<?php echo $no;?>_file'><input type="file" name="etc_1[<?php echo $no;?>]" class="txt img_file" size="19" id="img_<?php echo $no;?>" no="<?php echo $no;?>"/></span>
					<span id='limg_<?php echo $no;?>_loading'></span>
				</span>
			</dl>
		</td>  
		<td><a onClick="update_level('update','<?php echo $val['no'];?>');"><img src="../../images/btn/19_05.gif"></a></td>
		<td class="e">
			<?php if($val['rank']==1){ ?>
				&nbsp;
			<?php } else { ?>
				<a onClick="delete_level('<?php echo $val['no'];?>');"><img src="../../images/btn/19_06.gif"></a>
			<?php } ?>
		</td>
	</tr>

	<?php } // foreach end. ?>
	</tbody>
	<?php } // if end. ?>
	<!--  insert field -->
	<tr align="center" height="30" id='inputDisplay' style='display:none;'>
		<td><input name="view" type="checkbox" value="yes" class='chk' checked></td>
		<td><input name="rank" type="text" class="tnum b tc" size="2" value="<?=$level_last['level']+1?>" id='level'></td>
		<td><input name="name" type="text" class="txt" style='width:95%;' id='level_name'></td>
		<td colspan='2' class="ln_r ln_b tl" style="padding:5px 0px;">
			<dl class="ds2 w100">
				<span class="ds fl" style="width:220px;">
					&nbsp;<label class="m0">활동포인트</label> 
					<input name="point" type="text" class="tnum b num_only" style='ime-mode:disabled;' size="6" value="0" id='point'>
					<img src='../../images/ic/point.gif' class="vm"> <label class="m3">이상일때</label>
				</span>
				<a class="btn b19 fl" onclick="icon_input();"><span>등급아이콘등록</span></a>
				<span id='limg' style="display:none;" class="ds fl ml5">
					<span id='limg_file'>
						<input type="file" name="img_file" class="txt" size="19"/>
					</span>
				</span>
			</dl>
		</td>  
		<td class="ln_b" colspan='2' width='105'><img src='../../images/btn/23_01.gif' onclick="update_level('insert');" class='hand'></td>
	</tr>
	<!-- // insert field -->

	</table>
	<div class="clearfix">
	<dd class="pt5 fr" style="margin-left:5px;" onClick="input_Display();"><a class="btn"><h1 class="btn23"><strong class="col">O</strong>등급추가</h1></a></dd>
	<dd class="pt5 fr" onClick="update_level_sel();"><a class="btn"><h1 class="btn23"><strong>O</strong>일괄수정</h1></a></dd>
	</div>

<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">기본포인트설정</dl>

	<table width="100%" class="bg_col">
	<col width=150><col> 
		<tr>
			<td class="ctlt">회원가입시 등급</td>
			<td class="pdlnb2">
				<select name="register_level" id='register_level'>
				<option value="">회원등급(레벨)선택</option>
				<?php 
					foreach($level_category as $level){
						if($level['rank']==1) continue;
				?>
					<option value='<?=$level['rank']?>' <?=($env['register_level']==$level['rank'])?'selected':'';?>><?=$level['name'];?> (<?php echo $level['rank'];?>레벨)</option>
				<?php } ?>
				</select>&nbsp;
				<span class="subtlt">회원가입시 자동으로 부여될 회원등급을 설정합니다.</span>
			</td>
		</tr>
		<tr>
			<td class="ctlt">포인트 사용유무</td>
			<td class="pdlnb2">
				<label><input type="radio" name="use_point" value="1" checked /> 사용</label>&nbsp;
				<label><input type="radio" name="use_point" value="0" <?php echo (!$env['use_point'])?'checked':'';?>/> 미사용</label>&nbsp;
				<span class="subtlt">전체 포인트 기능을 사용할지 설정합니다.</span>
			</td>
		</tr>
		<tbody id="point_sets" style="display:<?php echo ($env['use_point'])?'':'none';?>;">
		<tr>
			<td class="ctlt">회원등급자동설정</td>
			<td class="pdlnb2">
				<label><input type="radio" name="auto_level" value="1" checked /> 사용</label>&nbsp;
				<label><input type="radio" name="auto_level" value="0" <?php echo (!$env['auto_level'])?'checked':'';?>/> 미사용</label>&nbsp;
				<span class="subtlt">포인트 지급시 설정된 포인트에 따라 자동으로 회원등급이 변경 됩니다.</span>
			</td>
		</tr>
		<tr>
			<td class="ctlt">회원 가입시 지급 포인트</td>
			<td class="pdlnb2">
				<input type='text' name="register_point" class="txt" size="10" id="register_point" value="<?php echo $env['register_point'];?>"> 포인트
				<span class="subtlt">회원 가입시 한번만 부여, 마이너스(-) 도 가능합니다.</span>
			</td>
		</tr>
		<tr>
			<td class="ctlt">로그인시 지급 포인트</td>
			<td class="pdlnb2">
				<input type='text' name="login_point" class="txt" size="10" id="login_point" value="<?php echo $env['login_point'];?>"> 포인트
				<span class="subtlt">회원 로그인시 하루에 한번만 부여, 마이너스(-) 도 가능합니다.</span>
			</td>
		</tr>
		<!-- 
		<tr>
			<td class="ctlt">쪽지발송 차감 포인트</td>
			<td class="pdlnb2">
				<input type='text' name="msg_point" class="tnum" style="width:200px;ime-mode:disabled;" id="msg_point" value="<?php echo $env['msg_point'];?>"> 포인트
				<span class="subtlt">양수로 입력하십시오. 0으로 입력하시면 쪽지보낼시 포인트를 차감하지 않습니다.</span>
			</td>
		</tr>
		-->
		<!-- <tr>
			<td class="ctlt">구인(정규직) 유료결제 포인트</td>
			<td class="pdlnb2">
				<input type='text' name="employ_point_percent" class="txt" size="10" id="employ_point_percent" value="<?php echo $env['employ_point'];?>"> % 포인트
				<span class="subtlt">구인(정규직)공고 유료금액의 지급 포인트 %</span>
			</td>
		</tr>
		<tr>
			<td class="ctlt">이력서 유료결제 포인트</td>
			<td class="pdlnb2">
				<input type='text' name="resume_point_percent" class="txt" size="10" id="resume_point_percent" value="<?php echo $env['individual_point'];?>"> 포인트
				<span class="subtlt">이력서 등록시 유료금액의 지급 포인트 %</span>
			</td>
		</tr> -->
		<tr>
			<td class="ctlt">구인 유료결제 포인트</td>
			<td class="pdlnb2">
				<input type='text' name="alba_point_percent" class="txt" size="10" id="alba_point_percent" value="<?php echo $env['alba_point_percent'];?>"> % 포인트
				<span class="subtlt">구인공고 유료 결제 금액의 지급 포인트 % <span style="color:#ff0000;">결제시 포인트 사용하면 적립되지 않습니다.</span></span>
			</td>
		</tr>
		<tr>
			<td class="ctlt">이력서 유료결제 포인트</td>
			<td class="pdlnb2">
				<input type='text' name="alba_resume_point_percent" class="txt" size="10" id="alba_resume_point_percent" value="<?php echo $env['alba_resume_point_percent'];?>"> %  포인트
				<span class="subtlt">이력서 등록시 유료 결제 금액의 지급 포인트 % <span style="color:#ff0000;">결제시 포인트 사용하면 적립되지 않습니다.</span></span>
			</td>
		</tr>
		<!-- <tr>
			<td class="ctlt">구인(정규직)공고 보기 포인트</td>
			<td class="pdlnb2">
				<input type='text' name="employ_read_point" class="txt" size="10" id="employ_read_point" value="<?php echo $env['employ_read_point'];?>"> 포인트
				<span class="subtlt">구인(정규직)공고 보기시 지급 포인트를 설정합니다. 마이너스(-) 도 가능합니다.</span>
			</td>
		</tr>
		<tr>
			<td class="ctlt">이력서 보기 포인트</td>
			<td class="pdlnb2">
				<input type='text' name="individual_read_point" class="txt" size="10" id="individual_read_point" value="<?php echo $env['individual_read_point'];?>"> 포인트
				<span class="subtlt">이력서 보기시 지급 포인트를 설정합니다. 마이너스(-) 도 가능합니다.</span>
			</td>
		</tr> -->
		</tbody>
	</table>
	<dl class="pbtn"><img src="../../images/btn/b35_14.png" class="hand ln_col" onclick="configSubmit();">&nbsp;</dl>

	</form>

<!--</td><td class=nb_05></td></tr><tr><td class=nb_06></td><td class=nb_07></td><td class=nb_08></td></tr>-->
</table>
</td>
</tr>
</table>

<script>
var imgRequest = function(formData, jqForm, form_options) {	// 아이콘 폼 전송전 데이터

	var queryString = $.param(formData);

	return true;

}
var imgResponse = function(responseText, statusText, xhr, $form){	// 폼 전송 후 결과

	var results = responseText.split("@");
	$('#limg_'+results[0]+'_preview').html("<img src='<?php echo $alice[peg_path];?>/"+results[1]+"'/>");

}
var insertResponse = function(responseText, statusText, xhr, $form){	// 폼 전송 후 결과

	if(responseText=='0017'){
		alert("<?php echo $category_control->_errors('0017');?>");
		return false;
	} else if(responseText=='0018'){
		alert("<?php echo $category_control->_errors('0018');?>");
		return false;
	} else {
		alert("<?php echo $config->_success('0002');?>");
		location.reload();
	}

}
</script>

<?php include_once "../include/tail.php";?>