<?php if (!defined("_ALICE_")) exit; // 개별 페이지 접근 불가 ?>

<script>
var pop_email = function( no ){	// 이메일 발송 창
	$('#pop_info').load('./views/_load/layer.php', { mode:'email', no:no }, function(result){
		$('#pop_mail').show();
		$('#pop_mail').draggable({ handle: "#emailFrmHandle" });
		$('#pop_mail').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
	});
}
var sel_pop_email = function(){	// 선택 회원 메일전송
	var chk_length = $("input[name='no[]']:checked").length;
	var send_selMember = $('#send_selMember :selected').val();	// 현재 검색 리스트 발송이냐 / 선택 발송이냐

	if(send_selMember=='0'){	// 현재 검색리스트 발송
		var mail_no = new Array();
		var i = 0;
		$("input[name='no[]']").each(function(){
			mail_no[i] = $(this).val();
		i++;
		});
	} else {
		if(chk_length==0){
			alert('메일전송 할 회원을 선택해 주세요.');
			return false;
		} else {
			var mail_no = new Array();
			var i = 0;
			$("input[name='no[]']:checked").each(function(){
				mail_no[i] = $(this).val();
			i++;
			});
		}
	}
	$('#pop_info').load('./views/_load/layer.php', { mode:'email', no:mail_no }, function(result){
		$('#pop_mail').show();
		$('#pop_mail').draggable({ handle: "#emailFrmHandle" });
		$('#pop_mail').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동
	});
}
var mail_send = function( no ){	// 메일 발송
	var MemberEmailFrm = document.getElementById('MemberEmailFrm');
	if(validate(MemberEmailFrm)==false){
		return false;
	} else {
		if(!ed_content.outputBodyText()){	// 내용이 없는 경우
			alert("<?php echo $config->_errors('0042');?>");
			ed_content.returnFalse();
			return false;
		}
		$('#quest_info').show();
		$('#confirm_msg').html("И-мэйл илгээх үү?<br/><br/>Хүлээн авахаас татгалзсан эсэхээс үл хамааран и-мэйлийг илгээх учир<br/> анхаарна уу.");
		$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'email\',\''+no+'\');" value="тийм" />');
		// 질의(Confirm) 창 띄우기
		$.blockUI({ 
			theme: true,
			title: 'Илгээлтийг батлах',
			showOverlay: false,
			message: $('#question')
		});
	}
}
var questionAnswer = function(answer, mode, no, sels){	 // 질의 응답에 따른 처리
	if(answer=='yes'){
		switch(mode){
			// 이메일 전송
			case 'email':
				<?php echo $utility->input_cheditor('content');?>	// 에디터 내용 전달
				var mail_options = { beforeSubmit: showRequest, success: showResponse };	// email ajax options
				$('#MemberEmailFrm').ajaxSubmit(mail_options);	// email ajax form submit
			break;
		}	// switch end.
	} else {
		$.unblockUI();
	}
}
var page_rows = function(sels){	// 출력 갯수
	var sel = sels.value, send_url = "<?php echo $member_list['send_url'];?>";
	location.href = "./mail.php?"+send_url+"&page_rows=" + sel;
}
</script>

<div id="question" style="display:none; cursor: default">
	<div id='quest_info'></div>
	<p align='center' id='confirm_msg'></p><br/>
	<p align='center'>
		<span id='questionAnswerYes'><input type="button" onClick="questionAnswer('yes');" value="тийм" /> </span>
		<input type="button" onClick="questionAnswer('no');" value="үгүй" />
	</p>
</div> 
<div id="email_status" style="display:none; cursor: default">
	<div id='status_info'></div>	
</div> 

<table class="layout">
<tr valign="top">
<td id="lmn"><?php include_once "../include/left_menu.php"; ?></td>
<td width="1">
<td id="left" class="<?php echo $top_menu_code;?>"><?php include_once "../include/left.php"; ?></td>
<td id="lopen"  class="<?php echo $top_menu_code;?>" onClick="left_menu_open('<?php echo $top_menu_code;?>');" onMouseOver="this.className='on'" onMouseOut="this.className=''"><img src="../../images/comn/b.gif"></td>
<td class="h pr5">
<table class="ltbl">
<!--<tr><td class=nb_01></td><td class=nb_02></td><td class=nb_03></td></tr><tr>-->
<td width="1"></td><td class="nb">

<dl class="loc"><?php echo $sub_menu_name; include_once "../include/navi.php"; ?></dl>
<dl class="notbox"><dl>
	Хостинг компанийн и-мэйлийн багтаамжаас хамааран илгээх чадвар хязгаарлагдмал байж болно.<br>
</dl></dl>

<?php include_once "./views/_include/mail_search.php"; ?>

<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">Гишүүний хаягийн тэмдэглэл
	<span>Нйит <b class="num3 col"><?php echo number_format($member_list['total_count']);?></b> гишүүн олдлоо.</span>
	<dt>
		<select name="page_rows" onchange="page_rows(this);">
			<option value='15' <?php echo ($page_rows==15)?'selected':'';?>>15ш</option>
			<option value='30' <?php echo ($page_rows==30)?'selected':'';?>>30ш</option>
			<option value='50' <?php echo ($page_rows==50)?'selected':'';?>>50ш</option>
			<option value='70' <?php echo ($page_rows==70)?'selected':'';?>>70ш</option>
			<option value='100' <?php echo ($page_rows==100)?'selected':'';?>>100ш</option>
		</select>
	</dt>
</dl>
<dl class="page top lnb_col" style="border-bottom:1px solid #ddd;">
<dt><a onClick="selAll();" class="btn"><h1 class="btn23"><strong>A</strong>Бүгдийг сонгох</h1></a></dt>
<dd class="">
<select name="send_selMember" style="height:23px; padding:3px;" id="send_selMember">
	<option value="0">Хайлтын жагсаалтад байгаа бүх гишүүдэд</option>
	<option value="1">Зөвхөн сонгогдсон гишүүдийн хувьд</option>
</select>
<a onClick="sel_pop_email();" class="cbtn grf_col lnb_col" style="width:80px"><h1 class="btn23 b">И-мэйл харах</h1></a>
</dd>
</dl>



<table width="100%" class="ttlt">
<col width=50><col width=80><col width=120><col ><col width=100><col width=180><col width=80><col width=80>
<tr class="bg">
	<td><input name="check_all" type="checkbox"></td>
	
	<td><a href="./mail.php?<?php echo $member_list['send_url'];?>&sort=mb_type&flag=<?php echo ($sort=='mb_type'&&$flag=='asc')?'desc':'asc';?>">Гишүүнчлэлийн ангилал<span><?php echo ($sort=='mb_type'&&$flag=='asc')?'▲':'▼';?></span></a></td>
	
	<td><a href="./mail.php?<?php echo $member_list['send_url'];?>&sort=mb_id&flag=<?php echo ($sort=='mb_id'&&$flag=='asc')?'desc':'asc';?>">Гишүүний ID<span><?php echo ($sort=='mb_id'&&$flag=='asc')?'▲':'▼';?></span></a></td>
	
	<td><a href="./mail.php?<?php echo $member_list['send_url'];?>&sort=mb_email&flag=<?php echo ($sort=='mb_email'&&$flag=='asc')?'desc':'asc';?>">И-мэйл<span><?php echo ($sort=='mb_email'&&$flag=='asc')?'▲':'▼';?></span></a></td>

	<td><a href="./mail.php?<?php echo $member_list['send_url'];?>&sort=mb_receive&flag=<?php echo ($sort=='mb_receive'&&$flag=='asc')?'desc':'asc';?>">И-мэйл хүлээн авах эсэх<span><?php echo ($sort=='mb_receive'&&$flag=='asc')?'▲':'▼';?></span></a></td>

	<td><a href="./mail.php?<?php echo $member_list['send_url'];?>&sort=mb_name&flag=<?php echo ($sort=='mb_name'&&$flag=='asc')?'desc':'asc';?>">Нэр<span><?php echo ($sort=='mb_name'&&$flag=='asc')?'▲':'▼';?></span></a> (<a href="./mail.php?<?php echo $member_list['send_url'];?>&sort=mb_nick&flag=<?php echo ($sort=='mb_nick'&&$flag=='asc')?'desc':'asc';?>">Nickname<span><?php echo ($sort=='mb_nick'&&$flag=='asc')?'▲':'▼';?></span></a>)</td>
	
	<td><a href="./mail.php?<?php echo $member_list['send_url'];?>&sort=mb_login_count&flag=<?php echo ($sort=='mb_login_count'&&$flag=='asc')?'desc':'asc';?>">Хэрэглэгчийн тоо<span><?php echo ($sort=='mb_login_count'&&$flag=='asc')?'▲':'▼';?></span></a></td>

	<td><a href="./mail.php?<?php echo $member_list['send_url'];?>&sort=mb_wdate&flag=<?php echo ($sort=='mb_wdate'&&$flag=='asc')?'desc':'asc';?>">Элссэн огноо<span><?php echo ($sort=='mb_wdate'&&$flag=='asc')?'▲':'▼';?></span></a></td>

</tr>

<?php if(!$member_list['result']){ ?>
<tr><td colspan="8" class="stlt"></td></tr>
<?php } else { ?>

<tbody id="member_list">
<?php 
	foreach($member_list['result'] as $val){ 
	$mb_receive = explode(',',$val['mb_receive']);	// 수신여부
	$mb_wdate = substr($val['mb_wdate'],0,11);
?>
<tr>
	<td><input type="checkbox" name='no[]' class='check_all' value="<?php echo $val['no'];?>"></td>
	<td>Гишүүнчлэлийн ангилал</td>
	<td><?php echo $val['mb_id'];?></td>
	<td><?php echo $val['mb_email'];?></td>
	<td><?php echo (@in_array('email',$mb_receive))?'<b>Yes</b>':'No';?></td>
	<td><?php echo $val['mb_name'];?> (<?php echo $val['mb_nick'];?>)</td>
	<td class="num3"><?php echo number_format($val['mb_login_count']);?></td>
	<td class="e"><?php echo $mb_wdate;?></td>
</tr>
<?php } ?>
</tbody>
<?php } ?>
</table>

<dl class="page mb50">
<?php include_once "../include/paging.php"; ?>
<dt><a onClick="selAll();" class="btn"><h1 class="btn23"><strong>A</strong>Бүгдийг сонгох</h1></a></dt>
<dd class="">
<select name="send_selMember" style="height:23px; padding:3px;" id="send_selMember">
	<option value="0">Хайлтын жагсаалтад байгаа бүх гишүүдэд</option>
	<option value="1">Зөвхөн сонгогдсон гишүүдийн хувьд</option>
</select>
	<a onClick="sel_pop_email();" class="cbtn grf_col lnb_col" style="width:80px"><h1 class="btn23 b">И-мэйл харах</h1></a>
</dd>
</dl>



<div id='pop_info'></div>

<!--</td><td class=nb_05></td></tr><tr><td class=nb_06></td><td class=nb_07></td><td class=nb_08></td></tr>-->
</table>
</td>
</tr>
</table>

<script>
// ajax form 전송 전 데이터
var showRequest = function(formData, jqForm, options){
	var queryString = $.param(formData); 
	var sendFrm = jqForm.attr('name');
	if(sendFrm=='MemberEmailFrm'){	// 이메일 전송시
		$('#pop_mail').hide();
		$('#status_info').html("<span style='font-size:9pt;'><p>И-мэйл илгээж байна ...<p><Br/><font color=crimson><b>[Амжилттай]</b></font> гарж иртэл ачаалаж болохгүй.<p></span>");
		$.blockUI({ 
			theme: true,
			title: 'Гишүүний и-мэйл илгээх',
			showOverlay: false,
			message: $('#email_status')
		});
	} else if(sendFrm=='MemberFrm'){	// 회원 등록/수정시
		var memberFrm = document.getElementById('MemberFrm');
		return validate(memberFrm);
	}
}
// ajax form 전송 후 결과
var showResponse = function(responseText, statusText, xhr, $form){

	var results = responseText.split('/');

	$('#status_info').append("<br/><br/> "+results[2]+" <font color=crimson><b>[Амжилттай]</b></font><br/><p align='center'><span id='emailConfirm'><input type='button' value='Батлах' style='width:40px;' onclick='$.unblockUI();'/> </span></p>");

}
</script>
<?php include_once "../include/tail.php";?>