<?php if (!defined("_ALICE_")) exit; // 개별 페이지 접근 불가 ?>

<script>
$(function(){

	var form_options = { beforeSubmit: showRequest, success : showResponse };

	$('#MailingConfigFrm').submit(function(){
		<?php echo $utility->input_cheditor('wr_company_mailing');?>	// 에디터 내용 전달
		<?php echo $utility->input_cheditor('wr_individual_mailing');?>	// 에디터 내용 전달
		$(this).ajaxSubmit(form_options);
		return false;
	});
});
var mail_autos = function( vals ){
	var sel = vals.value;
	if(sel=='1'){
		$('#mailing_auto_block').show();
	} else {
		$('#mailing_auto_block').hide();
	}
}
var sms_autos = function( vals ){
	var sel = vals.value;
	if(sel=='1'){
		$('#sms_auto_block').show();
	} else {
		$('#sms_auto_block').hide();
	}
}
function length_count(num,filed, max_count) { 
    var str; 
    var str_count = 0; 
    var cut_count = 0; 
    var max_length = max_count; 
    var str_length = filed.value.length; 

    for (k=0;k<str_length;k++) { 
        str = filed.value.charAt(k); 
        if (escape(str).length > 4) { 
            str_count += 2; 
            max_length -= 2; 
        } else { 
            // (\r\n은 1byte 처리) 
            if (escape(str) == '%0A') { 
            } else { 
                str_count++; 
                max_length--; 
            } 
        } 

        if (max_count < str_count) { 
            alert("Үгийн тоо "+ max_count +" byte хэтэрч болохгүй");
            if (escape(str).length > 4) { 
                str_count -= 2; 
                max_length += 2; 
            } else { 
                str_count--; 
                max_length++; 
            } 
            filed.value = filed.value.substring(0,k); 
            break; 
        } 
    } 
	max_length=max_count-max_length;
	 eval("this.span_byte"+num+".innerText = max_length;"); 
} 
var self_mailing = function(){	// 메일링 수동 발송
	$('#pop_info').load('./views/_load/layer.php', { mode:'mailing_list' }, function(){
		$('#pop_content').draggable({ handle: "#contentHandle" });
		$('#pop_content').center();
		$('html, body').animate({scrollTop:0}, 800); // 페이지 상단으로 이동

		// 기본 리스트 전체 체크 ( Check Box )
		$("input[name='check_all']").click(function(){
			var sel = $(this).attr('checked');		
			if(sel=='checked') $('.check_all').attr('checked',true);
			else $('.check_all').attr('checked',false);	
		});

	});
}
var send_mailing = function( type ){
	var chk_length = $("input[name='no[]']:checked").length;
	var send_subject = (type=='mail') ? '메일링' : 'SMS';
	if(chk_length==0){
		alert(send_subject+'을(를) 수동으로 발송할 회원을 선택해 주세요.');
		return false;
	} else {
		$('#quest_info').hide();
		$('#confirm_msg').html("Байгууллагын гишүүд өөрсдийн мэдээллийн тохиргоог хадгалах ёстой., <br/><br/>Хүвь хүмүүс ажлын мэдээллийн тохиргоог хадгалах хэрэгтэй.<br/><br/>(Автомат бус)-р илгээх үед <b>Хүлээн авахаас татгалзсан гишүүдийг шалгаж</b>илгээнэ.<br/><br/>Сонгосон гишүүн "+chk_length+"хүмүүс рүү "+send_subject+"илгээх үү?");
		var send_no = new Array();
		var i = 0;
		$("input[name='no[]']:checked").each(function(){
			send_no[i] = $(this).val();
		i++;
		});
		$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'sel_send\',\''+send_no+'\',\''+type+'\');" value="예" />');
		// 질의(Confirm) 창 띄우기
		$.blockUI({ 
			theme: true,
			title: '선택회원 정기메일링 / SMS 수동 발송',
			showOverlay: false,
			message: $('#question')
		});
	}
}
var questionAnswer = function(answer, mode, no, sels){	 // 질의 응답에 따른 처리
	if(answer=='yes'){
		switch(mode){
			// 정기메일링
			case 'sel_send':
				$.post('./process/regist.php', { mode:'mailing_send', no:no, type:sels }, function(result){
					var results = result.split("/");
					var mail_count = results[0], sms_count = results[1];
					if(sels=='mail'){
						alert("맞춤 인재/채용정보 정기 메일링 "+mail_count.number_format()+"건이 발송되었습니다.");
					} else if(sels=='sms'){
						alert("맞춤 인재/채용정보 정기 SMS "+sms_count.number_format()+"건이 발송되었습니다.");
					}
					$.unblockUI();
				});
			break;
		}
	} else {
		$.unblockUI();
	}
}
</script>

<div id="question" style="display:none; cursor: default;">
	<div id='quest_info'></div>
	<p align='center' id='confirm_msg'></p><br/>
	<p align='center'>
		<span id='questionAnswerYes'><input type="button" onClick="questionAnswer('yes');" value="тийм" /> </span>
		<input type="button" onClick="questionAnswer('no');" value="үгүй" />
	</p>
</div>
<table class="layout">
<tr valign="top">
<td id="lmn"><? include_once "../include/left_menu.php"; ?></td>
<td width="1">
<td id="left"><? include_once "../include/left.php"; ?></td>
<td id="lopen"  class="<?php echo $top_menu_code;?>" onClick="left_menu_open('<?php echo $top_menu_code;?>');" onMouseOver="this.className='on'" onMouseOut="this.className=''"><img src="../../images/comn/b.gif"></td>
<td class="h pr5">
	<table class="ltbl">
	<tr>
	<td width="1"></td><td class="nb">

		<dl class="loc">
			<?php echo $sub_menu_name;?>
			<?php include_once "../include/navi.php"; ?>
		</dl>
		<dl class="notbox"><dl>
			Байгууллагын гишүүн: Ажлын байрны мэдээлэл, Хувь хүн ​​гишүүн: Ажлын байрны мэдээлэлд үндэслэн тогтмол шуудан, SMS илгээх мэдээллийг тохируулах. <br>
			Email-г тогтмол автоматаар/автомат бусаар тохируулах боломжтой бөгөөд хүссэн үедээ илгээх боломжтой. <br>
			Дараах 5 мессежийн зөвхөн нэгийг нь л илгээж болох бөгөөд агуулгын уртын дагуу автоматаар LMS руу илгээнэ. <br/>
			Хэрэв мессеж (SMS) илгээгээгүй дугаарыг ахиг нэг шалгана уу. <br/>
		</dl></dl>

		<form name="MailingConfigFrm" method="post" id="MailingConfigFrm" action="./process/regist.php" enctype="multipart/form-data">
		<input type="hidden" name="mode" value="mailing_update" id="mode"/><!-- 메일 스킨 등록 -->
		<input type="hidden" name="ajax" value="1"/><!-- ajax mode 유무 -->
		<input type="hidden" name="uid" value="<?php echo $admin_info['uid'];?>"/>
		<input type="hidden" name="no" value="<?php echo $mailing_config['no'];?>"/>

		<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">Тогтмол шуудан / SMS тохиргоо</dl>

		<table width="100%" class="bg_col">
		<col width=150><col>
		<tr>
			<td class="ctlt">Мэйл ашиглах эсэх</td>
			<td class="pdlnb2">
				<label><input type="radio" class="radio" name="wr_mail_use" value="1" <?php echo ($mailing_config['wr_mail_use'])?'checked':'';?>/>Ашиглана</label> &nbsp;<label><input type="radio" class="radio" name="wr_mail_use" value="0" <?php echo (!$mailing_config['wr_mail_use'])?'checked':'';?>/>Ашиглахгүй</label> &nbsp;&nbsp;/&nbsp;&nbsp;
				<label><input type="radio" class="radio" name="wr_mail_auto" value="1" <?php echo ($mailing_config['wr_mail_auto'])?'checked':'';?> onclick="mail_autos(this);"/>Автомат</label> &nbsp;<label><input type="radio" class="radio" name="wr_mail_auto" value="0" <?php echo (!$mailing_config['wr_mail_auto'])?'checked':'';?> onclick="mail_autos(this);"/>Автомат бус</label>
				<span class="subtlt">Автоматаар тохируулсан тохиолдолд өдөрт нэг удаа илгээнэ.</span>
			</td>
		</tr>
		<tr id="mailing_auto_block" style="display:<?php echo ($mailing_config['wr_mail_auto'])?'':'none';?>;">
			<td class="ctlt">Mail илгээх цаг</td>
			<td class="pdlnb2">
				<label><input type="radio" class="radio" name="wr_mail_time" value="1" checked/>Үдээс өмнө</label> &nbsp;
				<label><input type="radio" class="radio" name="wr_mail_time" value="2" <?php echo ($mailing_config['wr_mail_time']=='2')?'checked':'';?>/>Үдээс хойш</label> &nbsp;
				<label><input type="radio" class="radio" name="wr_mail_time" value="3" <?php echo ($mailing_config['wr_mail_time']=='3')?'checked':'';?>/>Орой</label>
			</td>
		</tr>
		<tr>
			<td class="ctlt">SMS ашилгах эсэх</td>
			<td class="pdlnb2">
				<label><input type="radio" class="radio" name="wr_mail_use" value="1" <?php echo ($mailing_config['wr_mail_use'])?'checked':'';?>/>Ашиглана</label> &nbsp;<label><input type="radio" class="radio" name="wr_mail_use" value="0" <?php echo (!$mailing_config['wr_mail_use'])?'checked':'';?>/>Ашиглахгүй</label> &nbsp;&nbsp;/&nbsp;&nbsp;
				<label><input type="radio" class="radio" name="wr_mail_auto" value="1" <?php echo ($mailing_config['wr_mail_auto'])?'checked':'';?> onclick="mail_autos(this);"/>Автомат</label> &nbsp;<label><input type="radio" class="radio" name="wr_mail_auto" value="0" <?php echo (!$mailing_config['wr_mail_auto'])?'checked':'';?> onclick="mail_autos(this);"/>Автомат бус</label>
				<span class="subtlt">Автоматаар тохируулсан тохиолдолд өдөрт нэг удаа илгээнэ.</span>
			</td>
		</tr>
		<tr id="sms_auto_block" style="display:<?php echo ($mailing_config['wr_sms_auto'])?'':'none';?>;">
			<td class="ctlt">Mэйл илгээх цаг</td>
			<td class="pdlnb2">
				<label><input type="radio" class="radio" name="wr_mail_time" value="1" checked/>Үдээс өмнө</label> &nbsp;
				<label><input type="radio" class="radio" name="wr_mail_time" value="2" <?php echo ($mailing_config['wr_mail_time']=='2')?'checked':'';?>/>Үдээс хойш</label> &nbsp;
				<label><input type="radio" class="radio" name="wr_mail_time" value="3" <?php echo ($mailing_config['wr_mail_time']=='3')?'checked':'';?>/>Орой</label>
			</td>
		</tr>
		</table>

		<dl class="pbtn">
			<input type='image' src="../../images/btn/b35_14.png" class="ln_col">&nbsp;
			<img src="../../images/btn/b35_24.png" class="ln_col hand" onclick="self_mailing();"/>
		</dl>

		<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">Тохиргоо</dl>

		<table width="100%" class="bg_col">
		<col width=150><col>
		<tr>
			<td class="ctlt">Орлуулах тэмдэгт</td>
			<td class="pdlnb2">
				{Дээд лого}  {Доод лого}  {Мэйл доод хэсэг}  {Сайтын нэр}  {Домэйн}  {Гишүүний нэр}  {Гишүүний ID}  {Горилж буй албан тушаал}  {Байршил}  {Ажилд авах}  {Ажлын байрны хаяг}  {Тохирсон ажлын байрны мэдээлэл}  {Ажилд авах захиалгын мэдээлэл}  <!-- {성명}  {기업명}  {직종}  {근무지역}  {경력}  {학력}  {등록일} -->
			</td>
		</tr>
		<tr>
			<td class="ctlt">Байгууллага (Санал болгох хүний нөөцийн мэдээлэл)<br/>Агуулгыг засах</td>
			<td class="pdlnb2">
				<div id="skinContent">
					<?php echo $utility->make_cheditor('wr_company_mailing', stripslashes($mailing_config['wr_company_mailing']));	// 에디터 생성?>
				</div>
			</td>
		</tr>
		<tr>
			<td class="ctlt">Хувь хүн (Санал болгох ажлын байрны мэдээлэл)<br/>Агуулгыг засах</td>
			<td class="pdlnb2">
				<?php echo $utility->make_cheditor('wr_individual_mailing', stripslashes($mailing_config['wr_individual_mailing']));	// 에디터 생성?>
			</td>
		</tr>
		</table>

		<dl class="pbtn"><input type='image' src="../../images/btn/b35_14.png" class="ln_col">&nbsp;</dl>

		<dl style="width:95.4%" class="ntlt lnb6_col"><img src="../../images/comn/bul_10.png" class="t">SMS хэвлэх</dl>
		<table cellspacing="0" width="95.4%" class="smsbox smsbottom">
		 <tbody bgcolor="#ffffff">
			<tr>
				<td class="smsboxbg" width="98%"colspan="4">
					<p>※ SMS тэмдэгтийн дээд хэмжээ 90 byte, LMS тэмдэгтийн хамгийн ихдээ 2000 byte байна.</p>
					<p>※ <strong>LMS ашиглахгүй </strong>: Хэрэв утга 90 byte хэтэрвэл зөвхөн <u> 90 byte </u> хүртэл таслагдаж мессежээр илгээнэ.</p>
					<p>※ <strong>LMS ашиглахгүй </strong>: Хэрэв утга 90 byte хэтэрвэл зөвхөн <u> 90 byte </u> хүртэл таслагдаж мессежээр илгээнэ.</p>
				</td>
			</tr>
			<tr>
				<td width="12%"   class="smsName" >
					<p>{Сайтын нэр}</p>
				</td>
				<td width="48%"  class="smsNamep">
					<p>сайтын нэр <br> жишээ)<?php echo $env['site_name'];?></p>
				</td>
				<td width="12%"  class="smsName">
					<p>{Домэйн}</p>
				</td>
				<td width="28%"  class="smsNamep">
					<p>домэйн нэр <br>жишээ)<?php echo str_replace('/','',$host_name);?></p>
				</td>
			</tr>
			<tr>
				<td width="12%"   class="smsName" >
					<p>{Гишүүний нэр}</p>
				</td>
				<td width="48%"  class="smsNamep">
					<p>гишүүний нэр <br> жишээ) Timmy</p>
				</td>
				<td width="12%"  class="smsName">
					<p>{ID}</p>
				</td>
				<td width="28%"  class="smsNamep">
					<p>ID <br>жишээ)netfu</p>
				</td>
			</tr>
			<tr>
				<td width="12%"   class="smsName" >
					<p>{Горилж буй албан тушаал}</p>
				</td>
				<td width="48%"  class="smsNamep">
					<p>Ажлын зар,өжлын байр <br> жишээ) үйлчилгээ</p>
				</td>
				<td width="12%"  class="smsName">
					<p>{Горилж буй байршил}</p>
				</td>
				<td width="28%"  class="smsNamep">
					<p>байршил<br>жишээ)сөүл</p>
				</td>
			</tr>
			<tr>
				<td width="12%"   class="smsName" >
					<p>{Ажлын төрөл}</p>
				</td>
				<td width="48%"  class="smsNamep">
					<p>ажлын төрөл <br> жишээ) цагын, бүтэн цагын</p>
				</td>
				<td width="12%"  class="smsName">
					<p>{Бүртгэлийн тоо}</p>
				</td>
				<td width="28%"  class="smsNamep">
					<p>ажлын байрны бүртгэлд хамрагдсан гишүүд <br>жишээ)10</p>
				</td>
			</tr>

		</tbody>
		</table>


		<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">Байгууллага (Санал болгох хүний нөөцийн мэдээлэл) Тогтмол LMS агуулгын тохиргоо</dl>

		<table style="width:100%;">
		<tr>
			<td>
				<ul class="smsb">
					<?php for($i=0;$i<5;$i++){ ?>
					<li style="width:19%;">
						<h1 style="text-align:center;">
							<label><input type="radio" name="wr_sms_company[use]" value="<?php echo $i;?>" class="radio" <?php echo ($sms_company_use==$i)?'checked':'';?>/>Ашиглана</label>
						</h1>
						<ul>
							<li style="width:97%;">
								<dl class="gr2_col bgb2_col">
									<p><textarea name="wr_sms_company[content][<?php echo $i;?>]" onkeyup="length_count(<?=$i?>,this, 2000)" onchange="length_count(<?=$i?>,this, 2000)" onfocus="length_count(<?=$i?>,this, 2000)" style="height:300px;" class="sms_msg"><?php echo $sms_company_content[$i];?></textarea></p>
									<!-- <span id="span_byte<?=$i?>" class="b lsm num11 dho">0</span> Byte -->
								</dl>
							</li>
						</ul>
					</li>
					<?php } ?>
				</ul>
			</td>
		</tr>
		</table>

		<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">Хувь хүн (Санал болгох ажлын байрны мэдээлэл) LMS агуулгын тогтмол тохиргоо</dl>

		<table style="width:100%;">
		<tr>
			<td>
				<ul class="smsb">
					<?php for($i=0;$i<5;$i++){ ?>
					<li style="width:19%;">
						<h1 style="text-align:center;">
							<label><input type="radio" name="wr_sms_individual[use]" value="<?php echo $i;?>" class="radio" <?php echo ($sms_individual_use==$i)?'checked':'';?>/>Ашиглана</label>
						</h1>
						<ul>
							<li style="width:97%;">
								<dl class="gr2_col bgb2_col">
									<p><textarea name="wr_sms_individual[content][<?php echo $i;?>]" onkeyup="length_count(<?=$i?>,this, 2000)" onchange="length_count(<?=$i?>,this, 2000)" onfocus="length_count(<?=$i?>,this, 2000)" style="height:300px;" class="sms_msg"><?php echo $sms_individual_content[$i];?></textarea></p>
									<!-- <span id="span_byte<?=$i?>" class="b lsm num11 dho">0</span> Byte -->
								</dl>
							</li>
						</ul>
					</li>
					<?php } ?>
				</ul>
			</td>
		</tr>
		</table>

		<dl class="pbtn"><input type='image' src="../../images/btn/b35_14.png" class="ln_col">&nbsp;</dl>

		</form>

	</td>
	</tr>
	</table>

	<div id='pop_info'></div>

</td>
</tr>
</table>
</td>
</tr>
</table>

<script>
var showRequest = function(formData, jqForm, form_options){
	var MailingConfigFrm = document.getElementById('MailingConfigFrm');
	var queryString = $.param(formData);
	return validate(MailingConfigFrm);
}
var showResponse = function(responseText, statusText, xhr, $form){
	if(responseText=='0000') {	 // 성공
		alert("<?php echo $mailing_control->_success('0000');?>");
		location.reload();
	} else if(responseText=='0001') {	// 실패
		alert("<?php echo $mailing_control->_errors('0001');?>");
		return false;
	}
}
</script>

<?php include_once "../include/tail.php";?>