<?php if (!defined("_ALICE_")) exit; // 개별 페이지 접근 불가 ?>
<script>
var mode = "<?php echo $mode;?>";
var type = "<?php echo $type;?>";
$(function(){

	var form_options = {
		target: '',
		beforeSubmit: showRequest,
		success : showResponse
	};

	$('#AdminCategoryFrm').submit(function(){

		$(this).ajaxSubmit(form_options);

		return false;

	});

	if(mode=='insert')
		$('#name').focus();

});
var selAll = function(){	// 전체선택
	$('.check_all').each(function(){
		var sel = $(this).attr('checked');
		if(sel=='checked') {
			$('.check_all').attr('checked',false);
			$("input[name='check_all']").attr('checked',false);
			return false;
		} else {
			$('.check_all').attr('checked',true);
			$("input[name='check_all']").attr('checked',true);
			return false;
		}
	});
}
var category_add = function(){	 // 항목추가 폼 출력
	$('#insertField').toggle();
	$('#name').focus();
}
var change_rank = function(direction, src){	// 순위 조절

	var parent = $('#category_list');
	var no = $(src).parents('tr.category_list').attr('no');

	if(direction =='up'){
		
		var next_no = $('tr.category_list', $(parent)).first().attr('no');

		if(no == next_no){
			alert('최상위 순위 입니다.');
			return false;
		} else {
			next_no = $(src).parents('tr.category_list').prev().attr('no');
		}

	} else if(direction =='down'){

		var next_no = $('tr.category_list', $(parent)).last().attr('no');
		
		if(no == next_no){
			alert('최하위 순위 입니다.');
			return false;
		} else {
			next_no = $(src).parents('tr.category_list').next().attr('no');
		}

	}

	// 순위 조절 ajax
	$.post('./process/category.php', { mode:'rank', type:direction, no:no, next_no:next_no }, function(result){

		if(result){

			var src_obj = $(src).parents('tr.category_list');
			var target = direction=='up' ? $(src_obj).prev() : $(src_obj).next();
			var tmp_obj = $(src_obj).remove();
			direction=='up' ? $(tmp_obj).insertBefore($(target)) : $(tmp_obj).insertAfter($(target));

		} else {
			
			alert("<?php echo $config->_errors('0023');?>");

		}

	});

}
var update_category = function(no){	 // 수정

	var name = $('#name'+no).val();

	$('#quest_name').html(name);

	$('#quest_info').show();
	$('#confirm_msg').html("위의 정보로 수정하시겠습니까?");

	$('#questionAnswerYes').html("<input type='button' onClick=\"questionAnswer('yes', 'update','"+no+"','"+addslashes(name)+"');\" value='예' />");

	// 질의(Confirm) 창 띄우기
	$.blockUI({ 
		theme: true,
		title: '카테고리 정보 수정',
		showOverlay: false,
		message: $('#question')
	});

}
var delete_category = function(no){	 // 삭제

	var name = $('#name'+no).val();

	$('#quest_name').html(name);

	$('#quest_info').show();
	$('#confirm_msg').html("위의 정보를 삭제하시겠습니까?");

	$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'delete\',\''+no+'\');" value="예" />');

	// 질의(Confirm) 창 띄우기
	$.blockUI({ 
		theme: true,
		title: '카테고리 정보 삭제',
		showOverlay: false,
		message: $('#question')
	});

}
var sel_delete_category = function(){	// 선택삭제

	var chk_length = $("input[name='no[]']:checked").length;

	if(chk_length==0){

		alert('삭제할 카테고리 정보를 선택해 주세요.');
		return false;

	} else {

		$('#quest_info').hide();
		$('#confirm_msg').html("선택하신 분류 정보 "+chk_length+"건을 삭제 하시겠습니까?");

		var del_no = new Array();
		var i = 0;
		$("input[name='no[]']:checked").each(function(){
			del_no[i] = $(this).val();
		i++;
		});

		$('#questionAnswerYes').html('<input type="button" onClick="questionAnswer(\'yes\', \'sel_delete\',\''+del_no+'\');" value="예" />');

		// 질의(Confirm) 창 띄우기
		$.blockUI({ 
			theme: true,
			title: '카테고리 정보 선택삭제',
			showOverlay: false,
			message: $('#question')
		});

	}
}
var sel_category = function(){	 // 일괄적용

	var sel_nos = new Array();
	var sel_names = new Array();
	var i = 0;
	
	$('.names').each(function(){
	
		var no = $(this).attr('no'), sel = $(this).val();

		sel_nos[i] = no;
		sel_names[i] = addslashes(sel);

	i++;
	});

	$('#quest_info').hide();
	$('#confirm_msg').html("분류명(들)을 현재 입력하신대로 일괄적용 하시겠습니까?");
	
	$('#questionAnswerYes').html("<input type='button' onClick=\"questionAnswer('yes', 'sel_category','"+sel_nos+"','"+sel_names+"');\" value='예' />");

	// 질의(Confirm) 창 띄우기
	$.blockUI({ 
		theme: true,
		title: '카테고리 정보 일괄적용',
		showOverlay: false,
		message: $('#question')
	});


}
var questionAnswer = function(answer, mode, no, name){	 // 질의 응답에 따른 처리

	if(answer=='yes'){
		switch(mode){
			case 'update':	// 수정
				$.post('./process/category.php', { mode:mode, type:type, no:no, name:name } , function(result){
					if(result){
						location.reload();
					} else {
						alert("<?php echo $config->_errors('0011');?>");
						$.unblockUI();
						return false;
					}
				});
			break;
			case 'delete':	// 삭제
				$.post('./process/category.php', { mode:mode, type:type, no:no } , function(result){
					if(result){
						location.reload();
					} else {
						alert("<?php echo $config->_errors('0014');?>");
						$.unblockUI();
						return false;
					}
				});
			break;
			case 'sel_delete':	// 선택삭제
				nos = no.split(',');
				nos_cnt = nos.length;
				$.post('./process/category.php', { mode:mode, type:type, no:no }, function(result){
					if(result){
						location.reload();
					} else {
						alert("<?php echo $config->_errors('0014');?>");
						$.unblockUI();
						return false;
					}
				});
			break;
			case 'sel_category':	// 일괄적용
				$.post('./process/category.php', { mode:mode, type:type, no:no, name:name }, function(result){
					if(result){
						location.reload();
					} else {
						alert("<?php echo $config->_errors('0025');?>");
						$.unblockUI();
						return false;
					}
				});
			break;
		}
	} else {
		$.unblockUI();
	}

}
</script>
<div id="question" style="display:none; cursor: default">
	<div id='quest_info'>
		<p>분류명 : <span id='quest_name'></span></p><br/>
	</div>
	<p align='center' id='confirm_msg'></p><br/>
	<p align='center'>
		<span id='questionAnswerYes'><input type="button" onClick="questionAnswer('yes');" value="예" /> </span>
		<input type="button" onClick="questionAnswer('no');" value="아니오" />
	</p>
</div> 

<table class="layout">
<tr valign="top">
<td id="lmn"><?php include_once "../include/left_menu.php"; ?></td>
<td id="left" class="<?php echo $top_menu_code;?>"><?php include_once "../include/left.php"; ?></td>
<td id="lopen"  class="<?php echo $top_menu_code;?>" onClick="left_menu_open('<?php echo $top_menu_code;?>');" onMouseOver="this.className='on'" onMouseOut="this.className=''"><img src="../../images/comn/b.gif"></td>
<td class="h pr5">
<table class="ltbl">
<tr><td class=nb_01></td><td class=nb_02></td><td class=nb_03></td></tr><tr><td class=nb_04></td><td class=nb>

<dl class="loc"><img src="../../images/comn/bul_11.png" class="t"><?php echo $sub_menu_name; include_once "../include/navi.php"; ?></dl>
<?php if($type!='category'){?>
<dl class="notbox">
	<dl>
	1:1문의 항목, 광고/제휴문의, FAQ 항목 등 사이트내에 들어있는 각종 분류항목을 관리합니다.<br>
	분류항목을 수정하고 추가할 수 있으며 사용자화면에서 보이는 순서도 바꿀 수 있습니다.<br>
	</dl>
</dl>
<?php } ?>

<?php include_once "./views/_include/up_menu.php"; ?>

<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t"><?php echo $type_arr[$type]['name'];?></dl>  

	<table width="100%" class="ttlt">
	<col width=30><col width=50><col><col span="2" width=56> 
		<tr class="bg">
			<td><input type='checkbox' name='check_all'></td>
			<td>순서</td>
			<td>분류명</td>    
			<td>수정</td>
			<td class="e">삭제</td>
		</tr>

		<?php if(!$category_list){ ?>
		<tr><td colspan="5" class="stlt"></td></tr>
		<?php } else { ?>
	
		<tbody id="category_list">
		<?php foreach($category_list as $val){ 
			$name = $utility->remove_quoted($val['name']);	 // (쌍)따옴표 등록시 필터링
		?>
		<tr class="category_list" no="<?php echo $val['no'];?>">
			<td><input type='checkbox' name="no[]" class='check_all' value="<?php echo $val['no'];?>"></td>
			<td class="none num3">
				<a onClick="change_rank('up',this);">▲</a>
				<a onClick="change_rank('down',this);">▼</a>&nbsp;
			</td>
			<td class="pdlnb1">
				<input name="name[]" type="text" value="<?php echo $name;?>" class="txt w100 names" id="name<?php echo $val['no'];?>" no='<?php echo $val['no'];?>' />
			</td>      
			<td><a onClick="update_category(<?php echo $val['no'];?>);"><img src="../../images/btn/19_05.gif"></a></td>
			<td class="e"><a onClick="delete_category(<?php echo $val['no'];?>);""><img src="../../images/btn/19_06.gif"></a></td>
		</tr> 
		<?php } ?>
		</tbody>

		<?php } ?>
	<form name="AdminCategoryFrm" method="post" id="AdminCategoryFrm" action="./process/category.php">
	<input type="hidden" name="mode" value="insert" id="mode"/>
	<input type="hidden" name="type" value="<?php echo $type;?>" id="type"/>
	<input type="hidden" name="ajax" value="1"/>
		<tr class="bg_col" id='insertField' style='display:<?php echo ($mode=='insert')?'':'none';?>;'>
			<td colspan='2'>분류명 입력</td>
			<td class="pdlnb1"><input name="name" type="text" class="txt w100" value="" id="name"></td>      
			<td colspan='2' class="e"><input type='image' src="../../images/btn/19_01.gif" /></td>
		</tr> 
	</form>
	</table>

	<dl class="page"> 
		<dt>
			<a onClick="selAll();" class="btn"><h1 class="btn23"><strong>A</strong>전체선택</h1></a>
			<a onClick="sel_delete_category();" class="btn"><h1 class="btn23"><strong>-</strong>선택삭제</h1></a>
		</dt>
		<dd>
			<a onClick="sel_category();" class="btn"><h1 class="btn23"><strong class="col">O</strong>일괄적용</h1></a>
			<a onClick="category_add();" class="cbtn grf_col lnb_col"><h1 class="btn23"><strong>+</strong>항목추가</h1></a>
		</dd>
	</dl>

</td><td class=nb_05></td></tr><tr><td class=nb_06></td><td class=nb_07></td><td class=nb_08></td></tr>
</table>
</td>
</tr>
</table>

<script>
// 폼 전송전
function showRequest(formData, jqForm, form_options){

	var AdminCategoryFrm = document.getElementById('AdminCategoryFrm');

	var queryString = $.param(formData);

	return validate(AdminCategoryFrm);

}
// 폼 전송후
function showResponse(responseText, statusText, xhr, $form){

	switch(responseText){
		case '0000':
			<?php if($is_debug){ /*?>alert("<?php echo $category_control->_success('0000');?>"); // 성공 메시지가 필요한 경우 사용하세요. <?php*/ } ?>
			location.href = "./board.php?type=" + type + "&mode=insert";
		break;
		case '0004':
			alert("<?php echo $category_control->_errors('0004');?>");
			return false;
		break;
	}

}
</script>

<?php include_once "../include/footer.php";?>