<?php if (!defined("_ALICE_")) exit; // 개별 페이지 접근 불가 ?>

<table class="layout">
<tr valign="top">
<td id="lmn"><?php include_once "../include/left_menu.php"; ?></td>
<td width="1">
<td id="left" class="<?php echo $top_menu_code;?>"><?php include_once "../include/left.php"; ?></td>
<td id="lopen"  class="<?php echo $top_menu_code;?>" onClick="left_menu_open('<?php echo $top_menu_code;?>');" onMouseOver="this.className='on'" onMouseOut="this.className=''"><img src="../../images/comn/b.gif"></td>
<td class="h pr5">
<table class="ltbl">
<!--<tr><td class=nb_01></td><td class=nb_02></td><td class=nb_03></td></tr><tr>-->
<td width="1"></td>
<td class="nb" style="height:900px; line-height:900px; vertical-align:middle; " align="center">
<div style="border:2px solid #ddd;  line-height:50px; width:500px;  text-align:center; padding-top:15px;  ">
<p><img src="../../images/icon/icon_caution.gif"><p>
<p style="font-weight:bold; color:#999; ">죄송합니다. 데모버전에서는 조회가 불가능합니다.</p>
</div>
</td>
</table>
</td>
</tr>
</table>

<?php include_once "../include/tail.php";?>