<?php if (!defined("_ALICE_")) exit; // 개별 페이지 접근 불가 ?>

<script>
$(function(){
	var config_options = { beforeSubmit: config_showRequest, success : config_showResponse };
	$('#SMSConfigFrm').ajaxForm(config_options);
	var msg_options = { beforeSubmit: msg_showRequest, success : msg_showResponse };
	$('#SMSMsgFrm').ajaxForm(msg_options);
	$('.sms_msg').each(function(){
		$(this).focus();
	});
	$('.sms_msg_admin').each(function(){
		$(this).focus();
	});
});
var sms_uses = function( vals ){
	var sel = vals.value;
	if(sel=='1')
		$('#sms_use_block').show();
	else
		$('#sms_use_block').hide();
}
function length_count(num,filed, max_count) { 
    var str; 
    var str_count = 0; 
    var cut_count = 0; 
    var max_length = max_count; 
    var str_length = filed.value.length; 

    for (k=0;k<str_length;k++) { 
        str = filed.value.charAt(k); 
        if (escape(str).length > 4) { 
            str_count += 2; 
            max_length -= 2; 
        } else { 
            // (\r\n은 1byte 처리) 
            if (escape(str) == '%0A') { 
            } else { 
                str_count++; 
                max_length--; 
            } 
        } 

        if (max_count < str_count) { 
            alert("үгийн тоо"+ max_count +" byte үүнээс илүү боломжгүй");
            if (escape(str).length > 4) { 
                str_count -= 2; 
                max_length += 2; 
            } else { 
                str_count--; 
                max_length++; 
            } 
            filed.value = filed.value.substring(0,k); 
            break; 
        } 
    } 
	max_length=80-max_length;
	 eval("this.span_byte"+num+".innerText = max_length;"); 
} 
function length_counts(num,filed, max_count) { 
    var str; 
    var str_count = 0; 
    var cut_count = 0; 
    var max_length = max_count; 
    var str_length = filed.value.length; 

    for (k=0;k<str_length;k++) { 
        str = filed.value.charAt(k); 
        if (escape(str).length > 4) { 
            str_count += 2; 
            max_length -= 2; 
        } else { 
            // (\r\n은 1byte 처리) 
            if (escape(str) == '%0A') { 
            } else { 
                str_count++; 
                max_length--; 
            } 
        } 

        if (max_count < str_count) {
			alert("үгийн тоо"+ max_count +" byte үүнээс илүү боломжгүй");
            if (escape(str).length > 4) { 
                str_count -= 2; 
                max_length += 2; 
            } else { 
                str_count--; 
                max_length++; 
            } 
            filed.value = filed.value.substring(0,k); 
            break; 
        } 
    } 
	max_length=80-max_length;
	 eval("this.span_bytes"+num+".innerText = max_length;"); 
} 
</script>

<div id="question" style="display:none; cursor: default">
	<div id='quest_info'></div>
	<p align='center' id='confirm_msg'></p><br/>
	<p align='center'>
		<span id='questionAnswerYes'><input type="button" onClick="questionAnswer('yes');" value="тийм" /> </span>
		<input type="button" onClick="questionAnswer('no');" value="үгүй" />
	</p>
</div> 

<table class="layout">
<tr valign="top">
<td id="lmn"><?php include_once "../include/left_menu.php"; ?></td>
<td width="1"></td>
<td id="left" class="<?php echo $top_menu_code;?>"><?php include_once "../include/left.php"; ?></td>
<td id="lopen"  class="<?php echo $top_menu_code;?>" onClick="left_menu_open('<?php echo $top_menu_code;?>');" onMouseOver="this.className='on'" onMouseOut="this.className=''"><img src="../../images/comn/b.gif"></td>
<td class="h pr5">
<table class="ltbl">
<!--<tr><td class=nb_01></td><td class=nb_02></td><td class=nb_03></td></tr><tr>-->
<td width="1"></td><td class="nb">
<dl class="loc"><?php echo $sub_menu_name; include_once "../include/navi.php"; ?></dl>

<dl class="notbox"><dl>
	SMS илгээх нь cafe24.co.kr-ийн SMS модультай холбоотой.<br/>
	Cafe24 вэбсайт дахь SMS дуудлагын тоог нэмнэ үү..<br/>
    SMS баталгаажуулах түлхүүр нь <a href="http://www.cafe24.com/?controller=product_special&method=sms" target="_blank">cafe24 SMS hosting удирдах</a> Үйлчилгээ удирдах=>Source жишээ=>Хүсэлтийн утга=>Баталгаажуулах түлхүүр байна.<br>
</dl></dl>

<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">SMS тохиргоо</dl>

<form name="SMSConfigFrm" method="post" id="SMSConfigFrm" action="./process/sms.php" enctype="multipart/form-data">
<input type="hidden" name="mode" value="config_update"/><!-- SMS 환경설정 -->
<input type="hidden" name="no" value="1"/>

	<table width="100%" class="bg_col">
	<col width=150><col><col width=150><col> 
	<tr>
		<td class="ctlt">SMS module</td>
		<td class="pdlnb2" colspan="3">
			<select style="width:110px;" name="sms_module" id="sms_module">
			<option value="cafe24" <?php echo ($sms_config['sms_module']=='cafe24')?'selected':'';?>>CAFE24</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="ctlt">SMS ашиглах эсэх</td>
		<td class="pdlnb2" colspan="3">
			<label><input name="sms_use" type="radio" value="1" class="radio" checked onclick="sms_uses(this);">Ашиглана</label> &nbsp;
			<label><input name="sms_use" type="radio" value="0" class="radio" <?php echo (!$sms_config['sms_use'])?'checked':'';?> onclick="sms_uses(this);">Ашиглахгүй</label> &nbsp;
		</td>
	</tr>
	<tr>
		<td class="ctlt">SMS ID</td>
		<td class="pdlnb2" colspan="3">
			<input class="SmsBoxform" required="" onkeyup="" type="text" value="Netfu" hname="ID"><span class="Sms11ft"> NETFU SMS ID оруулна уу</span> &nbsp;
		</td>
	</tr>
	<tr>
		<td class="ctlt">Remaining cases</td>
		<td class="pdlnb2" colspan="3">
			Мэдээлэл байхгүй байна<span class="Cashimg"><a href=""><img src="/n_alba/images/icon/sms_cash.gif"></a></span> &nbsp;
		</td>
	</tr>
	<tr>
		<td class="ctlt">Хариу авах дугаар</td>
		<td class="pdlnb2" colspan="3">
			<input class="SmsBoxform" required="" onkeyup="" type="text" value="000-0000" hname="회신번호"><span class="Sms11ft"> SMS илгээх үед хариу бичих утасны дугаараа оруулна уу</span>
		</td>
	</tr>
	<tbody id="sms_use_block" style="display:<?php echo ($sms_config['sms_use'])?'':'none';?>;">
	<tr>
		<td class="ctlt">API ID</td>
		<td class="pdlnb2">
			<input type='text' name="sms_api_id" class="txt" style="width:200px;" id="sms_api_id" value="<?php echo $sms_config['sms_api_id'];?>">
		</td>
		<td class="ctlt">API KEY</td>
		<td class="pdlnb2">
			<input type='password' name="sms_api_key" class="txt" style="width:200px;" id="sms_api_key" value="<?php echo $sms_config['sms_api_key'];?>">
		</td>
	</tr>
	<!-- <tr>
		<td class="ctlt">SMS 취침모드</td>
		<td class="pdlnb2" colspan="3">
			<label><input name="sms_sleep_use" type="radio" value="1" class="radio" checked>사용</label> &nbsp;
			<label><input name="sms_sleep_use" type="radio" value="0" class="radio" <?php echo (!$sms_config['sms_slepp_use'])?'checked':'';?>>미사용</label> &nbsp;
			<select name="sms_sleep_start[]" id="sms_sleep_start_hour">
			<?php 
				for($h=0;$h<=23;$h++){ 
				$selected_hour = ($sms_sleep_start[0]==$h) ? 'selected' : '';
			?>
			<option value="<?php echo sprintf('%02d',$h);?>" <?php echo $selected_hour;?>><?php echo sprintf('%02d',$h);?></option>
			<?php } ?>
			</select> : 
			<select name="sms_sleep_start[]" id="sms_sleep_start_minute">
			<option value="00" <?php echo ($sms_sleep_start[1]=='00')?'selected':'';?>>00</option>
			<option value="30" <?php echo ($sms_sleep_start[1]=='30')?'selected':'';?>>30</option>
			</select> ~ 
			<select name="sms_sleep_end[]" id="sms_sleep_end_hour">
			<?php 
				for($h=0;$h<=23;$h++){
				$selected_hour = ($sms_sleep_end[0]==$h) ? 'selected' : '';
			?>
			<option value="<?php echo sprintf('%02d',$h);?>" <?php echo $selected_hour;?>><?php echo sprintf('%02d',$h);?></option>
			<?php } ?>
			</select> : 
			<select name="sms_sleep_end[]" id="sms_sleep_end_minute">
			<option value="00" <?php echo ($sms_sleep_end[1]=='00')?'selected':'';?>>00</option>
			<option value="30" <?php echo ($sms_sleep_end[1]=='30')?'selected':'';?>>30</option>
			</select>
			<span class="subtlt">취침모드로 설정된 시간에는 문자가 발송되지 않습니다.</span>
		</td>
	</tr> -->
	<tr>
		<td class="ctlt">Админы автоматаар илгээх дугаар</td>
		<td class="pdlnb2" colspan="3">
			<!-- <label><input name="sms_admin_send" type="radio" value="1" class="radio" checked onclick="">사용</label> &nbsp;
			<label><input name="sms_admin_send" type="radio" value="0" class="radio" onclick="">미사용</label> &nbsp; -->
			<input type='text' name="sms_admin_num" class="txt phone" style="width:200px;ime-mode:disabled;" id="sms_admin_num" value="<?php echo $sms_admin_num;?>">
			<span class="subtlt">Автоматаар админ руу илгээхийг ашиглах үед хэрэглэгч/админ руу хоёр удаа SMS илгээнэ.(нийт 2төрөл Shipment/Deduction)</span>
		</td>
	</tr>
	<!-- <tr>
		<td class="ctlt">남은 건수 확인</td>
		<td class="pdlnb2" colspan="3">
			<label><input name="sms_odd_send" type="radio" value="1" class="radio" checked>사용</label> &nbsp;
			<label><input name="sms_odd_send" type="radio" value="0" class="radio" <?php echo (!$sms_config['sms_odd_send'])?'checked':'';?>>미사용</label> &nbsp;
			남은 건수 <input type='text' name="sms_odd_count" class="tnum" size="3" id="sms_odd_count" value="<?php echo $sms_config['sms_odd_count'];?>"> 건
			<span class="subtlt">남은 건수가 가 되면 관리자에게 통보 합니다. (통보문자도 건수가 차감됩니다)</span>
		</td>
	</tr> -->
	</tbody>
	</table>

<dl class="pbtn mb15"><input type='image' src="../../images/btn/b35_14.png" class="ln_col"></dl>

</form>

<?php include_once "../include/Newsms_text.php";?>
<dl class="ntlt lnb_col"><img src="../../images/comn/bul_10.png" class="t">SMS тохиргоо
	<span>SMS илгээхдээ ашиглах утгыг шалгана уу.</span>
	<!-- <dt><a href="#" class="cbtn grf_col lnb_col"><h1 class="btn23"><strong>+</strong>SMS예제추가</h1></a></dt> -->
</dl>

<form name="SMSMsgFrm" method="post" id="SMSMsgFrm" action="./process/sms.php" enctype="multipart/form-data">
<input type="hidden" name="mode" value="msg_update"/><!-- SMS 메시지 -->

	<ul class="smsb">
		<?php 
		$i = 0;
			foreach($sms_msg as $val){ 
			$no = $val['no'];
			$use_checked = ($val['msg_use']) ? 'checked' : '';
			$disabled = ($val['msg_send_admin']) ? '' : 'disabled';
			$user_checked = ($val['msg_is_user']) ? 'checked' : '';
			$admin_checked = ($val['msg_is_admin']) ? 'checked' : '';
		?>
		<input type="hidden" name="sms_msg[<?php echo $no;?>][no]" value="<?php echo $no;?>"/>
		<li>
			<h1>
				<input name="sms_msg[<?php echo $no;?>][msg_use]" type="checkbox" class="check" value="1" id="sms_msg_<?php echo $no;?>" <?php echo $use_checked;?>>
				<label for="sms_msg_<?php echo $no;?>"><?php echo $val['msg_title'];?></label>
			</h1>
			<ul>
				<li>
					<dl class="gr2_col bgb2_col">
						<h2>Гишүүний SMS</h2>
						<p><textarea name="sms_msg[<?php echo $no;?>][msg_content]" onkeyup="length_count(<?=$i?>,this, 80)" onchange="length_count(<?=$i?>,this, 80)" onfocus="length_count(<?=$i?>,this, 80)" style="height:158px;" class="sms_msg"><?php echo $val['msg_content'];?></textarea></p>
						<span id="span_byte<?=$i?>" class="b lsm num11 dho">0</span> Byte / 80Byte
					</dl>
					<dt><label><input name="sms_msg[<?php echo $no;?>][msg_is_user]" type="checkbox" class="check" value="1" <?php echo $user_checked;?>>Гишүүд рүү автоматаар илгээнэ</label></dt>
				</li>
				<li>
					<dl class="gr2_col bgb2_col">
						<h2>Админы SMS</h2>
						<p class='<?php echo $disabled;?>'><textarea name="sms_msg[<?php echo $no;?>][msg_admin_content]" style="height:158px;" <?php echo $disabled;?> onkeyup="length_counts(<?=$i?>,this, 80)" onchange="length_counts(<?=$i?>,this, 80)" onfocus="length_counts(<?=$i?>,this, 80)" class="sms_msg_admin"><?php echo ($val['msg_send_admin'])?$val['msg_admin_content']:"";?></textarea></p>
						<span id="span_bytes<?=$i?>" class="b lsm num11 dho">0</span> Byte / 80Byte
					</dl>
					<dt><label><input name="sms_msg[<?php echo $no;?>][msg_is_admin]" type="checkbox" class="check" value="1" <?php echo $disabled;?> <?php echo $admin_checked;?>>Админ рүү автоматаар илгээнэ</label></dt>
				</li>
			</ul>
		</li>
		<?php 
		$i++;
			} // foreach end.
		?>


		<!-- 예제추가시 -->
		<li id="sms_add" style="display:none;">
			<h1 style="padding:4px 0 3px; margin-top:0px">
				<input name="" type="checkbox" class="check" value="">
				<input name="" type="text" class="txt w50" value="Цаг агаар">
			</h1>
			<ul>
				<li>
					<dl class="gr2_col bgb2_col">
						<h2>Гишүүний SMS</h2>
						<p><textarea name=''></textarea></p>
					</dl>
					<dt><input name="" type="checkbox" class="check" value="">Гишүүд рүү автоматаар илгээнэ</dt>
				</li>
				<li>
					<dl class="gr2_col bgb2_col">
						<h2>Админы SMS</h2>
						<p class="disabled"><textarea name='' disabled></textarea></p>
					</dl>
					<dt><input name="" type="checkbox" class="check" disabled>Админ рүү автоматаар илгээнэ</dt>
				</li>
			</ul>
		</li>
		<!-- //예제추가시 -->

	</ul>


<dl class="pbtn lnt mt5"><input type='image' src="../../images/btn/b35_14.png" class="ln_col"></dl>

</form>




<!--</td><td class=nb_05></td></tr><tr><td class=nb_06></td><td class=nb_07></td><td class=nb_08></td></tr>-->
</table></td>
</tr>
</table>

<script>
var config_showRequest = function(formData, jqForm, config_options){
	return true;
}
var config_showResponse = function(responseText, statusText, xhr, $form){

	if(responseText){
		alert("<?php echo $sms_control->_success('0000');?>");
		location.reload();
	} else {
		alert("<?php echo $sms_control->_errors('0000');?>");
	}
	
}
var msg_showRequest = function(formData, jqForm, msg_options){
	return true;
}
var msg_showResponse = function(responseText, statusText, xhr, $form){

	if(responseText){
		alert("<?php echo $sms_control->_success('0001');?>");
		location.reload();
	} else {
		alert("<?php echo $sms_control->_errors('0001');?>");
	}
	
}
</script>

<?php include_once "../include/tail.php";?>